/*
	Title:			Revenue Trades v1
	Author:			Prida Group - Aime Menendez (www.pridagroup.com)
	Copyright: 		2011, Aime Menendez - All rights reserved (please don't use without permission)

*/


/* ----------- BROWSER RESET & FIXES ----------- */

* { margin: 0; padding: 0; border: none;}

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { clear: both; }
/* start commented backslash hack \*/ * html .group { height: 1%; } .group { display: block; } /* close commented backslash hack */

a {height: 100%;}

/* ----------- FONT DECLARATIONS ----------- */

@font-face {
    font-family: 'DinLight';
    src: url('../fonts/pfdintextcondpro-light-webfont.eot');
    src: local('☺'), url('../fonts/pfdintextcondpro-light-webfont.woff') format('woff'), url('../fonts/pfdintextcondpro-light-webfont.ttf') format('truetype'), url('../fonts/pfdintextcondpro-light-webfont.svg#PFDinTextCondProLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DinRegular';
    src: url('../fonts/ff_din_condensed_regular-webfont.eot');
    src: local('☺'), url('../fonts/ff_din_condensed_regular-webfont.woff') format('woff'), url('.../fonts/ff_din_condensed_regular-webfont.ttf') format('truetype'), url('.../fonts/ff_din_condensed_regular-webfont.svg#DINCondRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DinMedium';
    src: url('../fonts/pfdintextcondpro-medium-webfont.eot');
    src: local('☺'), url('../fonts/pfdintextcondpro-medium-webfont.woff') format('woff'), url('../fonts/pfdintextcondpro-medium-webfont.ttf') format('truetype'), url('../fonts/pfdintextcondpro-medium-webfont.svg#PFDinTextCondProMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SchneidlerLight';
    src: url('../fonts/schneidlermed-lig-webfont.eot');
    src: local('☺'), url('../fonts/schneidlermed-lig-webfont.woff') format('woff'), url('../fonts/schneidlermed-lig-webfont.ttf') format('truetype'), url('../fonts/schneidlermed-lig-webfont.svg#SchneidlerMediaevalLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SchneidlerMedium';
    src: url('../fonts/schneidlermed-med-webfont.eot');
    src: local('☺'), url('../fonts/schneidlermed-med-webfont.woff') format('woff'), url('../fonts/schneidlermed-med-webfont.ttf') format('truetype'), url('../fonts/schneidlermed-med-webfont.svg#SchneidlerMediaevalMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SchneidlerRegular';
    src: url('../fonts/schneidlermed-reg-webfont.eot');
    src: local('☺'), url('../fonts/schneidlermed-reg-webfont.woff') format('woff'), url('../fonts/schneidlermed-reg-webfont.ttf') format('truetype'), url('../fonts/schneidlermed-reg-webfont.svg#SchneidlerMediaevalRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}




/* ----------- HEADINGS DECLARATIONS ----------- */

h1, h2, h3, h4, h5 {font-weight: normal; color: #2a2a2a; text-shadow: 1px 1px #FFF; text-align: left;}

h1 {font: 3.5em/1 'SchneidlerMedium', 'Georgia'; letter-spacing: -1px; margin-bottom: 15px;}

h2 {font: 3em/1 'SchneidlerMedium', 'Georgia'; letter-spacing: -1px; margin-bottom: 15px;}

h3 {font: 2.5em/1 'SchneidlerMedium', 'Georgia'; letter-spacing: 0px; margin-bottom: 15px;}

h4 {font: 2em/1 'SchneidlerMedium', 'Georgia'; letter-spacing: 0px; margin-bottom: 15px;}

h5 {font: 1.80em/1 'SchneidlerMedium', 'Georgia'; letter-spacing: 0px; margin-bottom: 5px;}

.cta-headline {
	font-family: 'DinMedium', 'Lucida Grande';
	background: url('../images/ui/arrow_cta_down.png') no-repeat left center; 
	text-transform: uppercase; padding-left: 25px;
}

.cta-headline-tab {
	display: block; width: 100%; height: 50px;
	margin-bottom: 0px;
	background: url('../images/paperbg_reg_bottomborder_isolated.png') repeat-x left bottom;
}

.cta-headline-tab div.wrap {
	display: block; height: 43px;
	margin-top: 6px;
	background: url('../images/paperbg_reg.png') repeat;
	border: #bebebe solid 1px;
	border-bottom: none;
	font-size: 26px;
	line-height: 43px;
	color: #2a2a2a;
	letter-spacing: 0px;
	text-shadow: 1px 1px #FFF;
}

.cta-headline-tab div.inside-border {
	border: #FFF solid 1px;
	border-bottom: none;
	padding: 0px 45px;
	background: url('../images/ui/arrow_cta_down.png') no-repeat 15px center; 
}


/* ----------- GENERAL STYLES & UI ELEMENTS DECLARATIONS ----------- */

a:link {text-decoration: none; font-weight: normal; color:#3a87a7;}
a:visited {text-decoration: none; font-weight: normal; color:#3a87a7;}
a:active {text-decoration: none; font-weight: normal; color:#3a87a7;}
a:hover {text-decoration: none; font-weight: normal; color:#2a2a2a;}

body {
	height: 100%;
	font: 0.8em/1.5 'Lucida Grande',  'Lucida Sans Unicode';
	text-align: justify;
	color: #404040;
}

#page-wrap {
	width: 960px;
	margin: 0 auto;
}

#content-wrap {
	width: 960px; height: 100%;
	margin: 0 auto;
}

p {margin-bottom: 10px;}

p a:link, p a:visited, p a:active, p a:hover {font-weight: bold;}

p a:hover {text-decoration: underline;}

p.elegant {font: 1.4em/1.7 'SchneidlerLight', 'Georgia'; text-shadow: 1px 1px #FFF;}

p.elegant a {font: 1.4em/1.7 'SchneidlerMedium', 'Georgia'; text-shadow: 1px 1px #FFF;}

p.article, p.article-intro {font: 1.5em/1.3 'SchneidlerLight', 'Georgia';}

.article a, .article-intro a {font-family: 'SchneidlerRegular', 'Georgia'; font-weight: normal;}

p.article-intro:first-letter {font-size: 2em; line-height: 1em; letter-spacing: -1px;}

p.marginal-note, span.marginal-note {font-size: 0.75em; line-height: 1.5em;}

p.xsmall-note , span.xsmall-note {font-size: 0.7em; line-height: 1.1em; color:#3a87a7;}

.article strong, .article-intro strong {font-family: 'SchneidlerMedium', 'Georgia'; font-weight: normal;}

ul li {list-style-type: none;}

hr {
	width: 100%; height: 2px; clear: both;
	background: url('../images/ui/dotline_gray.gif') repeat-x left top;
	margin: 25px 0px 20px 0px;
}

hr.tall {margin: 40px 0px 20px 0px;}

.air {width: 100%; height: 1px; margin: 40px 0px;}

img.icon {margin-left: 5px;}

.notebox {
	padding: 5px 8px;
	background: url('../images/paperbg_reg.png') repeat;
	border: #FFF 1px solid;
	text-shadow: 1px 1px #fff;
}

.floatleft {float: left;}
.floatright {float: right;}

.notebox-hr {
	width: 100%; margin: 50px 0px 20px;
	background: url('../images/ui/dotline_gray.gif') repeat-x left top;
}

.outside-border {
	display: inline-block;
	padding: 4px 0px;
	border: #bebebe 1px solid;
}

.image-border {
	margin: 15px 0px 8px 0px;
	border: #FFF 1px solid;
}

.fxborder-sep {
	width: 960px; height: 60px; display: block; clear: both;
	margin: 60px 0px 25px 0px;
	background: url('../images/paperbg_fxborder.png') no-repeat center top;
}

.fxborder-sep-xs {
	width: 960px; height: 60px; display: block; clear: both;
	margin: 40px 0px 0px 0px;
	background: url('../images/paperbg_fxborder.png') no-repeat center top;
}

.photo-caption {
	margin-top: 5px;
	font-size: 0.8em;
	line-height: 1.2em;
	text-align: right;
}

.photo-caption .copyright {
	font-style: italic;
}

/*  ----- START: TAGS & LABELS  ------ */

.labelA {
	border: 1px solid #90bcce;
	background: #daeef6; 
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; /* future proofing */
	-khtml-border-radius: 5px 5px 5px 5px; /* for old Konqueror browsers */
	text-shadow: 1px 1px #FFF; color: #3a87a7; text-align: center;
}

.labelA .border {
	border: 1px solid #FFF;
	padding: 2px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; /* future proofing */
	-khtml-border-radius: 5px 5px 5px 5px; /* for old Konqueror browsers */
}

.labelB {
	border: 1px solid #2f87aa;
	background: #2f87aa; 
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; /* future proofing */
	-khtml-border-radius: 5px 5px 5px 5px; /* for old Konqueror browsers */
	text-shadow: 1px 1px #004a67; color: #FFF; text-align: center;
}

.labelB .border {
	border: 1px solid #96cae0;
	padding: 2px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; /* future proofing */
	-khtml-border-radius: 5px 5px 5px 5px; /* for old Konqueror browsers */
}

.labelC {
	border: 1px solid #bebebe;
	background: url('../images/paperbg_reg.png') repeat; 
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; /* future proofing */
	-khtml-border-radius: 5px 5px 5px 5px; /* for old Konqueror browsers */
	text-shadow: 1px 1px #FFF; color: #5e5e5e; text-align: center;
}

.labelC .border {
	border: 1px solid #FFF;
	padding: 2px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; /* future proofing */
	-khtml-border-radius: 5px 5px 5px 5px; /* for old Konqueror browsers */
}

.labelD {
	border: 1px solid #747474;
	background: url('../images/paperbg_medium.png') repeat; 
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; /* future proofing */
	-khtml-border-radius: 5px 5px 5px 5px; /* for old Konqueror browsers */
	text-shadow: 1px 1px #585858; color: #FFF; text-align: center;
}

.labelD .border {
	border: 1px solid #c4c4c4;
	padding: 2px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; /* future proofing */
	-khtml-border-radius: 5px 5px 5px 5px; /* for old Konqueror browsers */
}

.highlightA {
	border: 1px solid #d4d4d4;
	background: url('../images/paperbg_light.png') repeat;
	text-shadow: 1px 1px #FFF;
}

.highlightA .border {
	border: 1px solid #FFF;
	padding: 10px 15px;
}

.highlightB {
	border: 1px solid #c8c8c8;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; /* future proofing */
	-khtml-border-radius: 5px 5px 5px 5px; /* for old Konqueror browsers */
}

.highlightB .border {
	border: 2px solid #f3f3f3;
	padding: 10px 15px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; /* future proofing */
	-khtml-border-radius: 5px 5px 5px 5px; /* for old Konqueror browsers */
}

.tagA {
	height: 24px;
	background: url('../images/ui/tagA_bg.png') repeat-x left center;
	border-top: 1px solid #c2e4f1;
	border-left: 1px solid #c2e4f1;
	border-right: 1px solid #83c0d8;
	border-bottom: 1px solid #83c0d8;
	-moz-border-radius: 12px 12px 12px 12px;
	-webkit-border-radius: 12px 12px 12px 12px;
	border-radius: 12px 12px 12px 12px; /* future proofing */
	-khtml-border-radius: 12px 12px 12px 12px; /* for old Konqueror browsers */
	text-shadow: 1px 1px #FFF; color: #3a87a7; text-align: center;
}

.tagA .border {
	border: 1px solid #FFF;
	-moz-border-radius: 12px 12px 12px 12px;
	-webkit-border-radius: 12px 12px 12px 12px;
	border-radius: 12px 12px 12px 12px; /* future proofing */
	-khtml-border-radius: 12px 12px 12px 12px; /* for old Konqueror browsers */
}

.tagB {
	height: 24px;
	background: url('../images/ui/tagB_bg.png') repeat-x left center;
	border-top: 1px solid #cecece;
	border-left: 1px solid #cecece;
	border-right: 1px solid #a1a1a1;
	border-bottom: 1px solid #a1a1a1;
	-moz-border-radius: 12px 12px 12px 12px;
	-webkit-border-radius: 12px 12px 12px 12px;
	border-radius: 12px 12px 12px 12px; /* future proofing */
	-khtml-border-radius: 12px 12px 12px 12px; /* for old Konqueror browsers */
	text-shadow: 1px 1px #FFF; text-align: center;
}

.tagB .border {
	border: 1px solid #FFF;
	-moz-border-radius: 12px 12px 12px 12px;
	-webkit-border-radius: 12px 12px 12px 12px;
	border-radius: 12px 12px 12px 12px; /* future proofing */
	-khtml-border-radius: 12px 12px 12px 12px; /* for old Konqueror browsers */
}


/*  ----- END: TAGS & LABELS  ------ */


/*  ----- START: NO-FORM BUTTON STYLES  ------ */

div.button-regular {
	width: 100%; height: 35px; cursor: pointer;
	background: url('../images/ui/button_reg_bg.png') repeat-x left top;
	border-top: 1px solid #cecece;
	border-left: 1px solid #cecece;
	border-right: 1px solid #a1a1a1;
	border-bottom: 1px solid #a1a1a1;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px; /* future proofing */
	-khtml-border-radius: 6px 6px 6px 6px; /* for old Konqueror browsers */
}

div.button-regular .border {
	height: 33px; padding: 0px 30px;
	border: 1px solid #FFF;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px; /* future proofing */
	-khtml-border-radius: 6px 6px 6px 6px; /* for old Konqueror browsers */
}

div.button-regular:hover {
	background: url('../images/ui/button_reg_bg.png') repeat-x left -35px;
	border-top: 1px solid #dedede;
	border-left: 1px solid #dedede;
	border-right: 1px solid #b1b1b1;
	border-bottom: 1px solid #b1b1b1;
}

div.button-regular a {
	width: 100%; display: block;
	font-family: 'DinMedium', 'Lucida Grande'; color: #666666;
	font-size: 17px; line-height: 33px;
	text-shadow: 1px 1px #FFF; text-align: center; text-transform: uppercase;
}

div.button-regular a:hover {color: #3a87a7; text-decoration: none;}

div.button-cta {
	width: 100%; height: 35px; cursor: pointer;
	background: url('../images/ui/button_lvl1_bg.png') repeat-x left top;
	border-top: 1px solid #ff762c;
	border-left: 1px solid #ff762c;
	border-right: 1px solid #c64600;
	border-bottom: 1px solid #c64600;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px; /* future proofing */
	-khtml-border-radius: 6px 6px 6px 6px; /* for old Konqueror browsers */
}

div.button-cta-arrow {
	width: 34px; height: 13px; margin: 0 auto;
	background: url('../images/ui/button_lvl1_arrow.png') no-repeat left bottom;
}

div.button-cta .border {
	height: 33px; padding: 0px 30px;
	border: 1px solid #fc813e;
	border-top: 1px solid #fbc4a5;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px; /* future proofing */
	-khtml-border-radius: 6px 6px 6px 6px; /* for old Konqueror browsers */
}

div.button-cta:hover {
	background: url('../images/ui/button_lvl1_bg.png') repeat-x left -35px;
	border-top: 1px solid #ff8644;
	border-left: 1px solid #ff8644;
	border-right: 1px solid #f05500;
	border-bottom: 1px solid #f05500;
}

div.button-cta a {
	width: 100%; display: block;
	font-family: 'DinMedium', 'Lucida Grande'; color: #FFF;
	font-size: 17px; line-height: 33px;
	text-shadow: 1px 1px #b13e00; text-align: center; text-transform: uppercase;
}

div.button-cta a:hover {color: #FFF; text-decoration: none;}

div.button-level1 {
	width: 100%; height: 35px; cursor: pointer;
	background: url('../images/ui/button_lvl1_bg.png') repeat-x left top;
	border-top: 1px solid #ff762c;
	border-left: 1px solid #ff762c;
	border-right: 1px solid #c64600;
	border-bottom: 1px solid #c64600;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px; /* future proofing */
	-khtml-border-radius: 6px 6px 6px 6px; /* for old Konqueror browsers */
}

div.button-level1 .border {
	height: 33px; padding: 0px 30px;
	border: 1px solid #fc813e;
	border: none; border-top: 1px solid #fbc4a5;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px; /* future proofing */
	-khtml-border-radius: 6px 6px 6px 6px; /* for old Konqueror browsers */
}

div.button-level1:hover {
	background: url('../images/ui/button_lvl1_bg.png') repeat-x left -35px;
	border-top: 1px solid #ff8644;
	border-left: 1px solid #ff8644;
	border-right: 1px solid #f05500;
	border-bottom: 1px solid #f05500;
}

div.button-level1 a {
	width: 100%; display: block;
	font-family: 'DinMedium', 'Lucida Grande'; color: #FFF;
	font-size: 17px; line-height: 33px;
	text-shadow: 1px 1px #b13e00; text-align: center; text-transform: uppercase;
}

div.button-level1 a:hover {color: #FFF; text-decoration: none;}

div.button-level2 {
	width: 100%; height: 35px; cursor: pointer;
	background: url('../images/ui/button_lvl2_bg.png') repeat-x left top;
	border-top: 1px solid #3a87a7;
	border-left: 1px solid #3a87a7;
	border-right: 1px solid #005172;
	border-bottom: 1px solid #005172;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px; /* future proofing */
	-khtml-border-radius: 6px 6px 6px 6px; /* for old Konqueror browsers */
}

div.button-level2:hover {
	background: url('../images/ui/button_lvl2_bg.png') repeat-x left -35px;
	border-top: 1px solid #5daaca;
	border-left: 1px solid #5daaca;
	border-right: 1px solid #2b82a6;
	border-bottom: 1px solid #2b82a6;
}

div.button-level2 .border {
	height: 34px; padding: 0px 30px;
	border: none;
	border-top: 1px solid #a3daf1;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px; /* future proofing */
	-khtml-border-radius: 6px 6px 6px 6px; /* for old Konqueror browsers */
}

div.button-level2 a {
	width: 100%; display: block;
	font-family: 'DinMedium', 'Lucida Grande'; color: #FFF;
	font-size: 17px; line-height: 33px;
	text-shadow: 1px 1px #00587d; text-align: center; text-transform: uppercase;
}

div.button-level2 a:hover {color: #FFF; text-decoration: none;}


/*  ----- END: NO-FORM BUTTON STYLES  ------ */



/*  ----- START: BOX DIMENSIONS & STYLES  ------ */

.box960 {width: 960px; margin: 0 auto;}

.box60 {width: 60px; margin-bottom: 10px;}
.box140 {width: 140px; margin-bottom: 10px;}
.box220 {width: 220px; margin-bottom: 10px;}
.box300 {width: 300px; margin-bottom: 10px;}
.box380 {width: 380px; margin-bottom: 10px;}
.box460 {width: 460px; margin-bottom: 10px;}

.box60-left {width: 60px; margin-bottom: 10px; margin-right: 20px; float: left;}
.box60-right {width: 60px; margin-bottom: 10px; float: right;}
.box140-left {width: 140px; margin-bottom: 10px; margin-right: 20px; float: left;}
.box140-right {width: 140px; margin-bottom: 10px; float: right;}
.box220-left {width: 220px; margin-bottom: 10px; margin-right: 20px; float: left;}
.box220-right {width: 220px; margin-bottom: 10px; float: right;}
.box240-left {width: 240px; margin-bottom: 10px; margin-right: 20px; float: left;}
.box240-right {width: 240px; margin-bottom: 10px; float: right;}
.box300-left {width: 300px; margin-bottom: 10px; margin-right: 30px; float: left;}
.box300-right {width: 300px; margin-bottom: 10px; float: right;}
.box380-left {width: 380px; margin-bottom: 10px; margin-right: 20px; float: left;}
.box380-right {width: 380px; margin-bottom: 10px; float: right;}
.box440-left {width: 440px; margin-bottom: 10px; margin-right: 20px; float: left;}
.box440-right {width: 440px; margin-bottom: 10px; float: right;}
.box460-left {width: 460px; margin-bottom: 10px; margin-right: 20px; float: left;}
.box460-right {width: 460px; margin-bottom: 10px; float: right;}
.box540-left {width: 540px; margin-bottom: 10px; margin-right: 20px; float: left;}
.box540-right {width: 540px; margin-bottom: 10px; float: right;}
.box620-left {width: 620px; margin-bottom: 10px; margin-right: 20px; float: left;}
.box620-right {width: 620px; margin-bottom: 10px; float: right;}
.box660-left {width: 660px; margin-bottom: 10px; margin-right: 20px; float: left;}
.box660-right {width: 660px; margin-bottom: 10px; float: right;}
.box700-left {width: 700px; margin-bottom: 10px; margin-right: 20px; float: left;}
.box700-right {width: 700px; margin-bottom: 10px; float: right;}

.fluidbox-wrap {display: block; width: 100%; margin: 0 auto;}
.fluidbox-3col {display: block; width: 30%; margin-right: 5%; float: left;}
.fluidbox-3col-last {display: block; width: 30%; margin-right: 0; float: left;}

.fluidbox-2col-1 {display: block; width: 45%; float: left;}
.fluidbox-2col-2 {display: block; width: 45%; float: right;}


.boxstyle-A {
	background: url('../images/paperbg_reg.png') repeat;
	border: #bebebe solid 1px;
}

.boxstyle-A .inside-border {
	padding: 25px 30px 20px 30px;
	border: #FFF solid 1px;
}

.boxstyle-B {
	border: 1px solid #bebebe;
	background: #fff;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px; /* future proofing */
	-khtml-border-radius: 8px 8px 8px 8px; /* for old Konqueror browsers */
}

.boxstyle-B .inside-border {
	padding: 25px 30px 16px 30px;
	border: 3px solid #f4f4f4;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px; /* future proofing */
	-khtml-border-radius: 8px 8px 8px 8px; /* for old Konqueror browsers */
}

.boxstyle-C-wrap {position: relative;}

.boxstyle-C-tab {
	width: 100%; height: 50px;
	margin-bottom: 0px;
	background: url('../images/paperbg_reg_bottomborder_isolated.png') repeat-x left bottom;
	position: absolute; top: 0px; z-index: 10;
}

.boxstyle-C-tab div.wrap {
	display: block; height: 43px;
	background: url('../images/paperbg_reg.png') repeat;
	border: #bebebe solid 1px;
	border-bottom: none;
	letter-spacing: 0px;
	text-shadow: 1px 1px #FFF;
}

.boxstyle-C-tab div.inside-border {
	border: #FFF solid 1px;
	border-bottom: none; color: #2a2a2a;
	font-family: 'SchneidlerMedium', 'Georgia';
	font-size: 24px; line-height: 43px;
	padding-left: 35px;
}

.boxstyle-C {
	width: 96%; margin-left: 2%;
	border: 1px solid #bebebe;
	background: #fff;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px; /* future proofing */
	-khtml-border-radius: 8px 8px 8px 8px; /* for old Konqueror browsers */
	position: absolute; top: 0px; z-index: 1;
}

.boxstyle-C .inside-border {
	padding: 70px 30px 16px 30px;
	border: 3px solid #f4f4f4;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px; /* future proofing */
	-khtml-border-radius: 8px 8px 8px 8px; /* for old Konqueror browsers */
}

.boxstyle-D-tab {
	width: 100%; height: 50px;
	margin-bottom: 0px;
	background: url('../images/paperbg_reg_bottomborder_isolated.png') repeat-x left bottom;
}

.boxstyle-D-tab div.wrap {
	display: block; height: 43px;
	background: url('../images/paperbg_reg.png') repeat;
	border: #bebebe solid 1px;
	border-bottom: none;
	letter-spacing: 0px;
	text-shadow: 1px 1px #FFF;
}

.boxstyle-D-tab div.inside-border {
	border: #FFF solid 1px;
	border-bottom: none; color: #2a2a2a;
	font-family: 'SchneidlerMedium', 'Georgia';
	font-size: 24px; line-height: 43px;
	padding-left: 35px;
}

.boxstyle-D {
	width: 96%; margin-left: 2%;
	border: 1px solid #bebebe;
	border-bottom: none;
	background: #fff;
	-moz-border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
	border-radius: 8px 8px 0px 0px; /* future proofing */
	-khtml-border-radius: 8px 8px 0px 0px; /* for old Konqueror browsers */
}

.boxstyle-D .inside-border {
	padding: 25px 30px 16px 30px;
	border: 3px solid #f4f4f4;
	-moz-border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
	border-radius: 8px 8px 0px 0px; /* future proofing */
	-khtml-border-radius: 8px 8px 0px 0px; /* for old Konqueror browsers */
}

.boxstyle-E-wrap {position: relative;}

.boxstyle-E-tab {
	width: 70%; height: 50px;
	margin-bottom: 0px; margin-left: 15%;
	background: url('../images/paperbg_reg_bottomborder_isolated.png') repeat-x left bottom;
	position: absolute; top: 0px; z-index: 10;
}

.boxstyle-E-tab div.wrap {
	display: block; height: 43px;
	background: url('../images/paperbg_reg.png') repeat;
	border: #bebebe solid 1px;
	border-bottom: none;
	letter-spacing: 0px;
	text-shadow: 1px 1px #FFF;
}

.boxstyle-E-tab div.inside-border {
	border: #FFF solid 1px;
	border-bottom: none; color: #2a2a2a;
	font-family: 'SchneidlerMedium', 'Georgia';
	font-size: 24px; line-height: 43px;
	padding-left: 35px;
}

.boxstyle-E {
	border: 1px solid #bebebe;
	background: #fff;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px; /* future proofing */
	-khtml-border-radius: 8px 8px 8px 8px; /* for old Konqueror browsers */
	position: absolute; top: 8px; z-index: 1;
}

.boxstyle-E .inside-border {
	padding: 55px 30px 16px 30px;
	border: 3px solid #f4f4f4;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px; /* future proofing */
	-khtml-border-radius: 8px 8px 8px 8px; /* for old Konqueror browsers */
}

.boxstyle-F-wrap {	position: relative;}

.boxstyle-F-tab {
	width: 70%; height: 50px;
	margin-bottom: 0px; margin-left: 15%;
	background: url('../images/paperbg_reg_bottomborder_isolated.png') repeat-x left bottom;
}

.boxstyle-F-tab div.wrap {
	display: block; height: 43px;
	background: url('../images/paperbg_reg.png') repeat;
	border: #bebebe solid 1px;
	border-bottom: none; border-top: none;
	letter-spacing: 0px;
	text-shadow: 1px 1px #FFF;
}

.boxstyle-F-tab div.inside-border {
	border: #FFF solid 1px;
	border-bottom: none; color: #2a2a2a;
	font-family: 'SchneidlerMedium', 'Georgia';
	font-size: 24px; line-height: 43px;
	padding-left: 35px;
}

.boxstyle-F {
	border: 1px solid #bebebe;
	background: #fff;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px; /* future proofing */
	-khtml-border-radius: 8px 8px 8px 8px; /* for old Konqueror browsers */
}

.boxstyle-F .inside-border {
	padding: 25px 30px 16px 30px;
	border: 3px solid #f4f4f4;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px; /* future proofing */
	-khtml-border-radius: 8px 8px 8px 8px; /* for old Konqueror browsers */
}

/*  ----- END: BOX DIMENSIONS & STYLES  ------ */


ul.bullet-listA li {
	list-style-image: url('../images/ui/bullet_sq.gif');
	list-style-position: inside;
	margin-bottom: 5px;
}

ul.arrow-listB li {
	margin-bottom: 10px; padding-left: 15px; display: block;
	font-size: 13px; line-height: 17px;
	background: url('../images/ui/bullet_arrow_lightblue.gif') no-repeat left 7px;
}

ul.arrow-listC li {
	margin-bottom: 10px; padding-left: 15px; display: block;
	font-size: 13px; line-height: 17px;
	background: url('../images/ui/bullet_arrow_gray.gif') no-repeat left 7px;
}

ul.link-list {
	display: block;
}

ul.link-list li {
	list-style-image: none;
	list-style-type: none;
	font: 1.4em/1 'SchneidlerRegular', 'Georgia';
	text-shadow: 1px 1px #fff;
	padding: 12px 0px;
}

ul li.border-dotted {
	display: block;
	background: url('../images/ui/dotline_gray.png') repeat-x left bottom;
}

ul.link-list li.last {
	background: none;
}

ul.link-list li a {
	display: inline-block;
	color: #2a2a2a;
}

ul.link-list li a:hover {
	color:#3a87a7;
}

div.block-list li {
	display: block; padding: 20px 0px;
	background: url('../images/ui/dotline_gray.gif') repeat-x left bottom;
}

div.block-list li h5 {
	font-size: 22px; line-height: 16px;
	margin: 0px 0px 8px 0px; padding-left: 12px;
	background: url('../images/ui/arrow_blue.png') no-repeat left top;
}

div.block-list li p {
	font-size: 12px; line-height: 14px; text-align: justify;
	margin-bottom: 8px; padding-left: 12px;
}

div.block-list li .links {
	padding-left: 12px; text-align: center;
}

div.block-list li .links a {
	font-size: 12px; line-height: 14px; font-weight: bold;
	display: inline-block; margin-right: 10px; 
}

div.block-list li .links span.vsep {
	color:#3a87a7; margin: 0px 8px 0px 0px; display: inline-block; text-align: center;
}


/* -- GENERAL CONTENT BOXES  -- */

div.paper-box {
	width: 100%;
}

div.paper-box div.border-top {
	height: 5px;
	background: url('../images/paperbg_reg_topborder_isolated.png') repeat-x left top;
}

div.paper-box div.border-bottom {
	height: 6px; margin-bottom: 10px;
	background: url('../images/paperbg_reg_bottomborder_isolated.png') repeat-x left bottom;
}

div.paper-box div.container {
	padding: 5px 0px;
	background: url('../images/paperbg_reg.png') repeat;
	border-right: #bebebe solid 1px;
	border-left: #bebebe solid 1px;
}


/* --  TABLES STYLES  -- */


/* ---------  Table A Style --------  */

table.tableA {
	width: 100%;
}

table.tableA th {
	font-size: 12px; line-height: 20px;
	text-align: center; text-transform: uppercase; color: #3a87a7;
}

table.tableA td {
	border: 1px solid #bebebe;
	background: url('../images/paperbg_reg.png') repeat;
	vertical-align: middle;
}

table.tableA td.single-line div.border {
	
}

table.tableA td.left, table.tableA td.left div.border {
	-moz-border-radius: 8px 0px 0px 8px;
	-webkit-border-radius: 8px 0px 0px 8px;
	border-radius: 8px 0px 0px 8px; /* future proofing */
	-khtml-border-radius: 8px 0px 0px 8px; /* for old Konqueror browsers */
}

table.tableA td.right, table.tableA td.right div.border {
	-moz-border-radius: 0px 8px 8px 0px;
	-webkit-border-radius: 0px 8px 8px 0px;
	border-radius: 0px 8px 8px 0px; /* future proofing */
	-khtml-border-radius: 0px 8px 8px 0px; /* for old Konqueror browsers */
}

table.tableA td div.border {
	height: 100%; border: 1px solid #FFF;
	font-weight: bold; text-shadow: 1px 1px #fff; text-align: center;
	padding: 15px 5px; line-height: 100%;
}


/* --  TABBED BOXES  -- */

div.tabboxA-wrap ul.tabs {
	margin: 0px; padding: 0px;
	float: left; /*--Check if needed--*/
	height: 60px; /*--Set height of tabs--*/
	width: 100%;
}

div.tabboxA-wrap ul.tabs li {
	float: left;
	margin: 0px 8px 0px 0px; padding: 0px;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	height: 60px; /*--Subtract 1px from the height of the unordered list --*/
	line-height: 60px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #767676;
	border-top: none; border-bottom: none;
	overflow: hidden; position: relative;
	background: url('../images/border_paperbg_medium_top.png') repeat-x left top;
}


div.tabboxA-wrap ul.tabs li .inside-fx {
	background: url('../images/tabboxA_shadow.png') repeat-x left bottom;
}

div.tabboxA-wrap ul.tabs li.active .inside-fx {
	background: none;
}

div.tabboxA-wrap ul.tabs li:hover {
	background: url('../images/border_paperbg_dark_top.png') repeat-x left -1px;
}

div.tabboxA-wrap ul.tabs li a {
	display: block;
	padding: 2px 22px 0px 22px;
	color: #FFF;
	font-family: 'DinMedium', 'Lucida Grande';
	font-size: 20px; text-transform: uppercase;
	text-shadow: 1px 1px #838383;
	border: 1px solid #bababa; /*-- This creates the bevel look together with the round corners, in IE the round corners won't show --*/
	border-top: none;
	outline: none;
}

div.tabboxA-wrap ul.tabs li:hover {
	border: 1px solid #838383;
	border-top: none; border-bottom: none;
}

div.tabboxA-wrap ul.tabs li a:hover {
	color: #FFF;
	border: 1px solid #9f9f9f;
	border-top: none; border-bottom: none;
	text-shadow: 1px 1px #000;
}

div.tabboxA-wrap ul.tabs li.active {
	height: 61px;
	position: relative;
	z-index: 10;
	border: 1px solid #bebebe;
	border-top: none; border-bottom: none;
	background: url('../images/border_paperbg_reg_top.png') repeat-x left top;
}

div.tabboxA-wrap ul.tabs li.active:hover {
	border: 1px solid #bebebe;
	border-top: none;
	border-bottom: 1px solid #e7e7e7;
} 

div.tabboxA-wrap ul.tabs li.active a {
	color: #2a2a2a;
	padding-left: 40px;
	border: 1px solid #FFF; border-top: none; border-bottom: 1px solid #e7e7e7;
	text-shadow: 1px 1px #FFF;
	background: url('../images/ui/arrow_cta_down.png') no-repeat 20px 24px;
}

div.tabboxA-wrap ul.tabs li.active a:hover {
	color: #3a87a7;
}

div.tabboxA-wrap ul.tabs li.active, div.tabboxA-wrap ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	border-bottom: 1px solid #e7e7e7;
}

div.tabboxA-wrap .tab-container {
	border: 1px solid #bebebe;
	overflow: hidden; clear: both; float: left; width: 100%;
	background:url('../images/paperbg_reg.png') repeat;
}

div.tabboxA-wrap .tab-container .inside-border {
	border: 1px solid #FFF;
}

div.tabboxA-wrap .tab-content {
	padding: 50px 20px 30px 20px;
	text-shadow: 1px 1px #FFF;
}

div.tabboxB-wrap {
	display: block; margin: 30px 0px;
}

div.tabboxB-wrap ul.tabs {
	margin: 0px; padding: 0px;
	float: left; /*--Check if needed--*/
	height: 38px; /*--Set height of tabs--*/
	width: 100%;
}

div.tabboxB-wrap ul.tabs li {
	float: left;
	margin: 0px 8px 0px 0px; padding: 0px;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	height: 37px; /*--Subtract 1px from the height of the unordered list --*/
	line-height: 37px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #bebebe;
	border-bottom: none;
	overflow: hidden; position: relative;
	background: url('../images/paperbg_reg.png') repeat;
	-moz-border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
	border-radius: 8px 8px 0px 0px; /* future proofing */
	-khtml-border-radius: 8px 8px 0px 0px; /* for old Konqueror browsers */
}

div.tabboxB-wrap ul.tabs li a {
	display: block;
	padding: 2px 22px 0px 22px;
	color: #2a2a2a;
	font-family: 'SchneidlerMedium', 'Georgia';
	font-size: 22px;
	text-shadow: 1px 1px #fff;
	border: 1px solid #fff; /*-- This creates the bevel look together with the round corners, in IE the round corners won't show --*/
	outline: none;
	-moz-border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
	border-radius: 8px 8px 0px 0px; /* future proofing */
	-khtml-border-radius: 8px 8px 0px 0px; /* for old Konqueror browsers */
}

div.tabboxB-wrap ul.tabs li:hover {
	border: 1px solid #666666;
}

div.tabboxB-wrap ul.tabs li a:hover {
	color: #FFF;
	border: 1px solid #9f9f9f;
	text-shadow: 1px 1px #000;
	background: url('../images/paperbg_dark.png') repeat;
}

div.tabboxB-wrap ul.tabs li.active {
	height: 40px;
	background-image: none;
	position: relative;
	z-index: 10;
}

div.tabboxB-wrap ul.tabs li.active:hover {
	border: 1px solid #bebebe;
	border-bottom: 1px solid #FFF;
}

div.tabboxB-wrap ul.tabs li.active a {
	color:#3a87a7;
	border: 3px solid #f4f4f4; /*-- This creates the bevel look together with the round corners, in IE the round corners won't show --*/
	border-bottom: 3px solid #FFF;
}

div.tabboxB-wrap ul.tabs li.active a:hover {
	text-shadow: none;
	border: 3px solid #f4f4f4;
}

div.tabboxB-wrap ul.tabs li.active, div.tabboxB-wrap ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}

div.tabboxB-wrap .tab-container {
	border: 1px solid #bebebe;
	overflow: hidden; clear: both; float: left; width: 100%;
	background: #fff;
	-moz-border-radius: 0px 8px 8px 8px;
	-webkit-border-radius: 0px 8px 8px 8px;
	border-radius: 0px 8px 8px 8px; /* future proofing */
	-khtml-border-radius: 0px 8px 8px 8px; /* for old Konqueror browsers */
}

div.tabboxB-wrap .tab-container .inside-border {
	border: 3px solid #f4f4f4;
	-moz-border-radius: 0px 8px 8px 8px;
	-webkit-border-radius: 0px 8px 8px 8px;
	border-radius: 0px 8px 8px 8px; /* future proofing */
	-khtml-border-radius: 0px 8px 8px 8px; /* for old Konqueror browsers */
}

div.tabboxB-wrap .tab-content {
	padding: 40px 30px 30px 30px;
}

div.tabboxC-wrap {
	padding-bottom: 30px;
	background: url('../images/ui/dotline_gray.gif') repeat-x left bottom;
	position: relative;
}

div.tabboxC-wrap ul.tabs {
	display: block; height: 80px;
	position: relative;
}

div.tabboxC-wrap ul.tabs div.top {
	width: 100%; height: 2px;
	background: url('../images/ui/dotline_gray.gif') repeat-x left bottom;
	position: absolute; top: 0px; left: 0px; z-index: -5;
}

div.tabboxC-wrap ul.tabs li {
	display: block; height: 48px; float: left;
	margin-right: 15px;
	font-family: 'SchneidlerMedium', 'Georgia'; font-size: 22px; line-height: 44px;
	text-shadow: 1px 1px #FFF;
}

div.tabboxC-wrap ul.tabs li.active {
	border: 1px solid #dbdbdb; border-top: 1px solid #bebebe; border-bottom: none;
	background: url('../images/border_paperbg_reg2.png') repeat-x left bottom;
}

div.tabboxC-wrap ul.tabs li a {
	padding: 0px 20px; 
	color: #2a2a2a;
}

div.tabboxC-wrap ul.tabs li a:hover {
	color: #3a87a7;
}

div.tabboxC-wrap ul.tabs li.active a {
	height: 47px; display: block;
	border: 1px solid #FFF; border-bottom: none;
	color: #3a87a7;
}


/* --  ACCORDION BOXES  -- */


/* ---------  Accordion Box A   --------  */

div.accordionA-wrap div.accordionA-tab1 {
	background: url('../images/border_paperbg_reg_tall_accordionA.png') repeat-x left bottom;
	border-right: 1px solid #c5c5c5; border-left: 1px solid #c5c5c5;
}

div.accordionA-wrap div.accordionA-tab2 {
	background: url('../images/border_paperbg_reg_mediumlight_bottom_tall_accordionA.png') repeat-x left bottom;
	border-right: 1px solid #c5c5c5; border-left: 1px solid #c5c5c5; 
}

div.accordionA-wrap div.accordionA-tab3 {
	background: url('../images/border_paperbg_medium_bottom_tall.png') repeat-x left bottom;
	border-right: 1px solid #c5c5c5; border-left: 1px solid #c5c5c5; 
}

div.accordionA-wrap div.accordionA-tab1.active .accordion-trigger {background: url('../images/ui/dotline_darkgray.gif') repeat-x left bottom;}
div.accordionA-wrap div.accordionA-tab2.active .accordion-trigger {background: url('../images/ui/dotline_darkgray.gif') repeat-x left bottom;}
div.accordionA-wrap div.accordionA-tab3.active .accordion-trigger {background: url('../images/ui/dotline_darkergray.gif') repeat-x left bottom;}
div.accordionA-wrap div.accordionA-tab1.active, div.accordionA-wrap div.accordionA-tab2.active, div.accordionA-wrap div.accordionA-tab3.active {border-top: 1px solid #c5c5c5;}
div.accordionA-wrap div.accordionA-tab1 div.inside-border, div.accordionA-wrap div.accordionA-tab2 div.inside-border, div.accordionA-wrap div.accordionA-tab3 div.inside-border {border-right: 1px solid #FFF; border-left: 1px solid #FFF; }
div.accordionA-wrap div.accordionA-tab1.active div.inside-border, div.accordionA-wrap div.accordionA-tab2.active div.inside-border, div.accordionA-wrap div.accordionA-tab3.active div.inside-border {border-top: 1px solid #FFF;}

div.accordionA-wrap h3, div.accordionA-wrap p {margin: 0px;}

div.accordionA-wrap div.accordionA-tab1 p {text-shadow: 1px 1px #FFF;}
div.accordionA-wrap div.accordionA-tab2 p, div.accordionA-wrap div.accordionA-tab2 a, div.accordionA-wrap div.accordionA-tab2 h4 {text-shadow: 1px 1px #eaeaea;}
div.accordionA-wrap div.accordionA-tab3 p, div.accordionA-wrap div.accordionA-tab3 a, div.accordionA-wrap div.accordionA-tab3 h4 {text-shadow: 1px 1px #d5d5d5;}

div.accordionA-wrap .accordion-trigger {width: 96%; height: 55px; display: block; margin: 0 auto;}

div.accordionA-wrap .accordion-trigger a {
	width: 100%; height: 55px; display: block;
	padding-left: 30px;
	font-family: 'SchneidlerMedium', 'Georgia'; font-size: 23px; line-height: 55px;
	text-shadow: 1px 1px #FFF; color: #2a2a2a;
	background: url('../images/ui/arrow_cta_up.png') no-repeat left 19px;
}

div.accordionA-wrap .accordion-trigger a:hover {color: #3a87a7;}
div.accordionA-wrap div.accordionA-wrap div.accordionA-tab1.active .accordion-trigger a:hover, div.accordionA-wrap div.accordionA-tab2.active .accordion-trigger a:hover, div.accordionA-wrap div.accordionA-tab3.active .accordion-trigger a:hover {
	background: url('../images/ui/arrow_cta_down.png') no-repeat left 19px;
}

div.accordionA-wrap .accordion-container {width: 90%; margin: 0 auto; padding: 40px 0px;}



/* ---------  Accordion Box B   --------  */

div.accordionB-wrap {margin: 14px 0px 20px 0px;}

div.accordionB-wrap h2.accordion-trigger {
	display: block; width: 100%; height: 50px;
	margin-bottom: 0px;
	background: url('../images/paperbg_reg_bottomborder_isolated.png') repeat-x left bottom;
}

div.accordionB-wrap h2.accordion-trigger a {
	display: block; height: 43px;
	padding: 0px 10px; margin-top: 6px;
	border: #bebebe solid 1px; border-bottom: none;
	font-size: 22px; line-height: 43px;
	letter-spacing: 0px; text-shadow: 1px 1px #FFF; color: #2a2a2a;
	background: url('../images/paperbg_reg.png') repeat;
}

div.accordionB-wrap h2.accordion-trigger a:hover {color:#3a87a7;}

div.accordionB-wrap h2.accordion-trigger a span.icon {
	display: block; float: left; width: 11px; height: 9px;
	margin: 18px 8px 0px 0px;
	background: url('../images/ui/arrow_gray_right.png') no-repeat left top;
}

div.accordionB-wrap h2.accordion-trigger.active a span.icon {
	background: url('../images/ui/arrow_gray_down.png') no-repeat left top;
}

div.accordionB-wrap .accordion-container {
	width: 98%; margin-left: 1%; clear: both;
	border: 1px solid #bebebe; border-top: none;
	margin-bottom: 6px;
	background: #fff;
	-moz-border-radius: 0px 0px 8px 8px;
	-webkit-border-radius: 0px 0px 8px 8px;
	border-radius: 0px 0px 8px 8px; /* future proofing */
	-khtml-border-radius: 0px 0px 8px 8px; /* for old Konqueror browsers */
}

div.accordionB-wrap .accordion-container .inside-border {
	border: 3px solid #f4f4f4;
	border-top: none;
	padding: 20px;
	-moz-border-radius: 0px 0px 8px 8px;
	-webkit-border-radius: 0px 0px 8px 8px;
	border-radius: 0px 0px 8px 8px; /* future proofing */
	-khtml-border-radius: 0px 0px 8px 8px; /* for old Konqueror browsers */
}

/* ---------  Accordion Box C   --------  */

div.accordionC-wrap {
	width: 100%; display: block; 
	border: 1px solid #bebebe; border-top: none;
}

div.accordionC-wrap .accordion-trigger {
	height: 48px; display: block;
	border-top: 1px solid #bebebe; border-bottom: none;
	background: url('../images/paperbg_reg.png') repeat;
}

div.accordionC-wrap .accordion-trigger.active {
	height: 50px; background: url('../images/border_paperbg_reg_bottom.png') repeat-x left bottom;
	border-bottom: none;
}

div.accordionC-wrap h3, div.accordionC-wrap p, div.accordionC-wrap h4 {margin: 0px;}

div.accordionC-wrap .accordion-trigger a {
	height: 46px; display: block; padding-left: 30px;
	font-family: 'SchneidlerMedium', 'Georgia'; font-size: 22px; line-height: 46px;
	text-shadow: 1px 1px #FFF; color: #2a2a2a; 
	background:  url('../images/ui/arrow_gray_right.png') no-repeat 12px 18px;
	border: 1px solid #fff;
}

div.accordionC-wrap .accordion-trigger.active a {
	color: #137aa5; border-bottom: none;
	background:  url('../images/ui/arrow_gray_down.png') no-repeat 12px 20px;
}

div.accordionC-wrap .accordion-trigger a:hover {color: #137aa5;}

div.accordionC-wrap .accordion-container {
	padding: 30px 20px 20px 20px;
	border: 3px solid #f2f2f2; border-top: none;
}

div.accordionC-wrap h4 {
	font-size: 2em; margin-bottom: 10px;
}



/*  -- FORM ELEMENTS  --  */

label {
	display: block; 
	font-family: 'Lucida Grande', 'Lucida Sans Unicode';
	font-size: 13px;
	color: #2a2a2a;
}

select {
	border: 1px solid #bebebe;
}

input.textfield {
	border: 3px solid #deebf0;
	padding: 5px;
	color: #3a87a7;
	font-size: 16px;
	text-align: center;
}


div.textfield-wrap {
	display: inline-block; 
	border: 1px solid #6aa8c2;
}

div.search-bar {
	display: inline-block;
	background: #c2d8e1;
	border: 1px solid #FFF;
	padding: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px; /* future proofing */
	-khtml-border-radius: 4px; /* for old Konqueror browsers */
	position: relative;
}

div.search-bar input.textfield {width: 220px;}

div.search-bar input.button {
	width: 16px; height: 16px;
	position: absolute; top: 15px; right: 13px;
	text-indent: -10000px;
	background: #FFF url('../images/ui/icon_search.png') no-repeat center top;
	cursor: pointer;
}

div.search-bar input.button:hover {background: url('../images/ui/icon_search.png') no-repeat center -16px;}


/* --  BUTTONS  -- */

div.cta-small {
	width: 187px; height: 43px;
	margin: 6px 0px;
	padding-top: 3px;
	font-family: 'DinMedium', 'Lucida Grande', 'Lucida Sans Unicode';
	font-size: 18px;
	text-transform: uppercase;
	color: #FFF;
	text-align: center;
	text-shadow: 1px 1px #e85200;
	letter-spacing: 0px;
	background: url('../images/ui/b_cta_small.png') no-repeat left top;
	cursor: pointer;
}

div.cta-small:hover {
	background: url('../images/ui/b_cta_small.png') no-repeat left -46px;
}



/* --  ICONS  -- */

.icon-arrow {
	display: inline-block;
	width: 9px;
	height: 100%;
	text-indent: -10000px;
	background: url('../images/ui/arrow_blue.png') no-repeat right bottom;
}



/* ----------- HEADER DECLARATIONS ----------- */


/* ----------- NAV DECLARATIONS ----------- */

#header {margin-bottom: 20px;}

#header .navtabs {
	width: 100%; height: 72px;
	background: url('../images/paperbg_header.png') repeat-x left top;
	position: absolute;	top: 0px;
	z-index: 10;
}

#header .navtabs a {
	font-family: 'SchneidlerRegular', 'Georgia';
	color: #2a2a2a;
	text-shadow: 1px 1px #fff;
}

#rtlogo {
	display: block; float: left;
	height: 72px;
	background: url('../images/ui/nav_main_off.png') no-repeat left 8px;
}

#rtlogo.active {background: url('../images/ui/nav_main_selected.png') no-repeat 4px 4px;}

#rtlogo img {
	display: block; float: left;
	cursor: pointer;
	margin: 7px 10px 0px 10px;
}

#rtlogo a.rtlogo-home {
	display: block; float: left;
	width: 83px; height: 40px;
	margin-top: 12px;
	padding-right: 8px;
	text-indent: -10000px;
	background: url('../images/ui/nav_rthome.png') no-repeat left top;
}

#rtlogo a.rtlogo-home:hover {
	background: url('../images/ui/nav_rthome.png') no-repeat left -40px;
}

ul#nav-tabs {
	display: block; float: left; width: 791px;
	background: url('../images/ui/nav_vsep.gif') no-repeat right 10px;
}

ul#nav-tabs li.vsep {
	display: block; float: left; width: 2px; height: 72px;
	background: url('../images/ui/nav_vsep.gif') no-repeat left 10px;
}

#nav-biz, #nav-exp {display: block; float: left; height: 72px;}

#nav-biz {
	width: 182px;
	background: url('../images/ui/nav_vsep.gif') no-repeat left 10px;
}

#nav-biz.active {background: url('../images/ui/nav_biz_selected.png') no-repeat left 4px;}

#nav-biz a {
	display: block; width: 149px; height: 24px;
	margin: 22px 0px 0px 18px;
	text-indent: -10000px;
	background: url('../images/ui/nav_biz.png') no-repeat left top;
}

#nav-biz a:hover {background: url('../images/ui/nav_biz.png') no-repeat left -24px;}

#nav-biz.active a {background: url('../images/ui/nav_biz_active.png') no-repeat left top;}

#nav-biz.active a:hover {background: url('../images/ui/nav_biz_active.png') no-repeat left -24px;}

#nav-exp {
	width: 143px;
	background: url('../images/ui/nav_vsep.gif') no-repeat left 10px;
}

#nav-exp.active {background: url('../images/ui/nav_exp_selected.png') no-repeat left 4px;}

#nav-exp a {
	display: block; width: 112px; height: 32px;
	margin: 22px 0px 0px 18px;
	text-indent: -10000px;
	background: url('../images/ui/nav_exp.png') no-repeat left top;
}

#nav-exp a:hover {background: url('../images/ui/nav_exp.png') no-repeat left -32px;}

#nav-exp.active a {background: url('../images/ui/nav_exp_active.png') no-repeat left top;}

#nav-exp.active a:hover {background: url('../images/ui/nav_exp_active.png') no-repeat left -32px;}

#nav-vault {
	display: block; float: right;
	width: 74px; height: 72px;
	text-indent: -10000px;
	background: url('../images/ui/nav_vsep.gif') no-repeat left 10px;
}

#nav-vault a {
	display: block;
	width: 56px; height: 38px;
	margin: 12px 0px 0px 10px;
	background: url('../images/ui/nav_vault.png') no-repeat left top;
}

#nav-vault a:hover {background: url('../images/ui/nav_vault.png') no-repeat left -38px;}

#nav-vault.active {background: url('../images/ui/nav_vault_selected.png') no-repeat left 4px;}

#header .navtab-container {width: 100%; margin-bottom: 10px;}

#header .navtab-content {width: 100%; background: url('../images/paperbg_light_navtab.jpg') repeat-x left bottom; padding-top: 30px;}

#header .navtab-content div.nav-tab-closing {
	width: 100%; height: 14px;
	background: url('../images/ui/nav_tab_closing_bg.png') repeat-x;
	clear: both;
}

#header .navtab-content div.nav-tab-closing div.button {
	width: 28px; height: 14px; margin: 0 auto;
	background: url('../images/ui/nav_tab_closing_button_off.png') no-repeat center top;
	cursor: pointer;
}

#header .navtab-content div.nav-tab-closing div.button:hover {
	background: url('../images/ui/nav_tab_closing_button_on.png') no-repeat center top;
}

#header .navtab-content h3 {
	margin-bottom: 6px;
	text-align: left;
	font-family: 'SchneidlerRegular', 'Georgia';
	font-size: 28px;
	line-height: 28px;
	letter-spacing: -1px;
	text-shadow: 1px 1px #fff;
}

#header .navtab-content h4 {
	margin-bottom: 6px;
	font-family: 'DinMedium', 'Lucida Grande', 'Lucida Sans Unicode';
	font-size: 14px; color:#3a87a7;
	text-transform: uppercase;
	text-shadow: 1px 1px #fff;
}

#header .navtab-content img {
	border: #bebebe 1px solid;
}

#header .navtab-content img:hover {
	border: #ff5e00 1px solid;
}

#header .navtab-content .box300-right h3 {
	margin-top: 10px;
	text-align: right;
	font-size: 32px;
}
#header .navtab-content .box300-right div.search-bar {
	margin: 10px auto 15px auto;
}
#header .navtab-content .box300-right div.search-bar input.textfield {
	width: 270px;
}

#header .navtab-content .box300-right form.search-unit {
	border-bottom: 2px dotted #cfcfcf;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

#header .navtab-content .box300-right form.search-unit label {
	margin-bottom: 5px;
}

#header .navtab-content .box300-right form.search-unit select {
	margin-right: 10px;
}

#header .navtab-container-fix {width: 100%; height: 65px;}
#navtab-main {display: none;}
#navtab-biz {display: none;}
#navtab-exp {display: none;}
#navtab-vault {display: none;}


/* -- NAV USER: style declarations for the user thumbnail & links -- */

#nav-user {
	width: 960px; height: 60px; margin: 0 auto; padding-right: 15px;
	border-bottom: 2px dotted #cfcfcf;
	position: relative;
}

#nav-user a {color: #2a2a2a;}
#nav-user a:hover {color: #3a87a7;}

#user-tab {
	height: 50px; float: right;
}

#user-tab h3 {
	display: block; float: left;
	padding: 0px 12px;
	font-size: 20px;
	line-height: 50px; /* -- this vertically centers the text according to the height of the parent element: user-tab 48px -- */
	background: url('../images/ui/vsep_usertab.png') no-repeat left center;
}

#user-tab div.user-thumbplus {
	float: left;
}

#nav-user-links {
	height: 50px;
	line-height: 50px;
	float: right;
	position: relative;
}

#nav-user-links div {
	float: left;
}

#nav-user-links div.button {
	padding: 0px 12px;
	font-family: 'SchneidlerMedium', 'Georgia';
	font-size: 18px;
	color: #666666;
	background: #FFF url('../images/ui/vsep_usertab.png') no-repeat left center;
}

#nav-user-links div.button:first-child {background: none;}

#nav-user-links div.button span.link {color: #3a87a7;}

#nav-user-links #b-messages, #nav-user-links #b-tools  {height: 50px;}

#nav-user-links #b-messages a.icon {
	display: block;
	width: 20px; height: 14px;
	margin-top: 19px;
	background: url('../images/ui/icon_email.png') no-repeat left top;
	text-indent: -10000px;
	cursor: pointer;
}

#nav-user-links #b-messages a.icon:hover {background: url('../images/ui/icon_email.png') no-repeat left -14px;}

#nav-user-links #b-tools a.icon {
	display: block;
	width: 17px; height: 17px;
	margin-top: 18px;
	background: url('../images/ui/icon_gear.png') no-repeat left top;
	text-indent: -10000px;
	cursor: pointer;
}

#nav-user-links #b-tools a.icon:hover {background: url('../images/ui/icon_gear.png') no-repeat left -17px;}

#user-tab div.user-thumbplus {
	float: left;
}

#user-settings {background: #FFF; height: 55px; display: none;}

#user-settings div.border-left {
	width: 19px; height: 50px; float: left;
	background: url('../images/ui/navuser_box_expand_left_closing_button_off.png') no-repeat left 2px;
	cursor: pointer;
}

#user-settings div.border-left:hover {background: url('../images/ui/navuser_box_expand_left_closing_button_on.png') no-repeat left 2px;}

#user-settings div.border-right {
	width: 50px; height: 50px; float: left;
	background: url('../images/ui/navuser_box_expand_right_usrthumbplus_off.png') no-repeat right center;
	cursor: pointer;
}

#user-settings div.border-right:hover {background: url('../images/ui/navuser_box_expand_right_usrthumbplus_on.png') no-repeat right center;}

#user-settings ul {
	display: block; height: 50px; float: left; padding-left: 6px;
	background: url('../images/ui/navuser_box_expand_bg.png') repeat-x left 2px;
}

#user-settings ul li {
	display: block; float: left;
	margin-top: 16px;
	background: url('../images/ui/vsep_usertab.png') no-repeat right center;
}

#user-settings ul li a {
	display: block; padding: 0px 6px;
	font-family: 'Lucida Grande',  'Lucida Sans Unicode';
	font-size: 13px;
}

#b-tools {
	padding: 0px 10px;
	background: url('../images/ui/vsep_usertab.png') no-repeat left center;
	cursor: pointer;
}

#tools-tab {height: 48px; margin-right: 8px; display: none;}

#tools-tab div.border-left {
	width: 19px; height: 48px; float: left;
	background: url('../images/ui/navuser_box_expand_left_closing_button_off.png') no-repeat left top;
	cursor: pointer;
}

#tools-tab div.border-left:hover {background: url('../images/ui/navuser_box_expand_left_closing_button_on.png') no-repeat left top;}

#tools-tab div.border-right {
	width: 34px; height: 48px; float: left;
	background: url('../images/ui/navuser_box_expand_right_tools_off.png') no-repeat right top;
	cursor: pointer;
}

#tools-tab div.border-right:hover {background: url('../images/ui/navuser_box_expand_right_tools_on.png') no-repeat right top;}

#tools-tab div.icon {
	width: 17px; height: 17px; float: left;
	margin: 17px 3px 0px 7px;
	background: url('../images/ui/icon_gear.png') no-repeat right -34px;
	cursor: pointer;
}

#tools-tab div.icon:hover {
	background: url('../images/ui/icon_gear.png') no-repeat right -17px;
}

#tools-tab ul {
	display: block; float: left; padding-left: 6px;
	background: url('../images/ui/navuser_box_expand_bg.png') repeat-x left top;
}

#tools-tab ul li {
	display: block; float: left;
	background: url('../images/ui/vsep_usertab.png') no-repeat right center;
}

#tools-tab ul li a {
	display: block; padding: 0px 6px;
	font-family: 'Lucida Grande',  'Lucida Sans Unicode';
	font-size: 13px;
}


/*    No Signed/Logged In Navigation     */

#header.public #rtlogo a.rtlogo-home {
	display: block; float: left;
	width: 300px; height: 40px;
	margin-top: 12px;
	padding-right: 8px;
	text-indent: -10000px;
	background: url('../images/ui/nav_home_nosigned.png') no-repeat 8px 8px;
}

#header.public #nav-sign-in {
	display: block; float: right;
}

#header.public #nav-sign-in li {
	display: block; float: left;
	margin-left: 15px;
}

#header.public #nav-sign-in li.vsep {
	display: block; float: left; width: 2px; height: 30px;
	margin-top: 11px;
	background: url('../images/ui/nav_vsep.gif') no-repeat left 10px;
}

#header.public #nav-sign-in li a {
	font-family: "SchneidlerMedium" , Georgia;
	font-size: 22px;
	line-height: 62px;
}

#header.public #nav-sign-in li a:hover {
	color: #3a87a7;
}



/* ----------- CONTENT DECLARATIONS ----------- */



/* ----------- FOOTER DECLARATIONS ----------- */

#footer {
	width: 100%; height: 300px; 
	margin-top: 40px;
}

#footer div.border-top {
	width: 100%; height: 20px; 
}


/* ----------- PROFILE PAGE - UNIQUE PAGE DECLARATIONS  ----------- */


#user-profile-sidebar  {position: relative;}

#user-profile-sidebar .user-image-large {
	width: 200px; height: 175px;
	margin: 0 auto; overflow: hidden;
}

#user-profile-sidebar .user-name-bar {
	width: 240px; height: 50px; 
	font-family: 'SchneidlerMedium', 'Georgia'; font-size: 22px; line-height: 38px;
	text-align: center;
	background: url('../images/ui/user_name_bar.png') no-repeat left top;
	position: absolute; top: 170px; left: 0px; z-index: 10;
}

#user-profile-sidebar .user-info {
	width: 220px; margin: 0px 0px 0px 10px;
	border: 1px solid #bebebe;
	text-align: center;
	background: url('../images/paperbg_reg.png') repeat;
}

#user-profile-sidebar .user-info .inside-border {
	border: 1px solid #FFF; 
}

#user-profile-sidebar .user-info p {
	margin: 50px 0px 0px 0px; font-weight: bold; font-size: 13px;
	text-shadow: 1px 1px #fff;
}

#user-profile-sidebar .user-info .labelA {
	width: 160px; margin: 10px auto 20px auto;
}

#user-profile-sidebar div.accordionC-wrap {
	width: 220px; margin: 0px 0px 0px 10px;
}

#profile-wrap div.cta-area {
	height: 140px;
}

#exp-profile-focus .counter-tag {
	width: 195px; float: left;
}

#exp-profile-focus .labelA {
	width: 45px; height: 46px; float: left;
	font-family: 'DinMedium'; font-size: 42px; line-height: 40px;
	text-align: center; text-shadow: 1px 1px #fff;
}

#exp-profile-focus .label-tag {
	width: 140px; float: left; padding: 5px 0px 0px 8px;
	text-transform: uppercase;
	font-family: 'DinMedium'; font-size: 18px; line-height: 19px;
	text-align: left; color: #888888; 
}

#exp-profile-focus table.tableA td {
	height: 60px;
}

#exp-profile-focus table.tableA td.single-line div.border {
	padding-top: 22px;
}

#exp-profile-focus hr {
	margin: 30px 0px 30px 0px;
}



