﻿body {
}

.profile-header {
    height: 50px;
    padding: 10px;
    border-bottom: 2px dotted #bebebe;
}

#nav-vault-logo {
}

    #nav-vault-logo a img {
        margin-right: 5px;
    }

#content {
    height: 720px;
}

#search-column-left {
    float: left;
    width: 260px;
    height: 100%;
    padding: 10px;
}

    #search-column-left #background {
        position: absolute;
        z-index: -999;
        width: 235px;
        height: 700px;
        margin-left: 12px;
        background-image: url(../images/paperbg_reg.png);
        background-repeat: repeat;
        border: 1px solid #bebebe;
        border-radius: 5px;
    }

    #search-column-left #search-heading {
        padding-top: 5px;
        font-family: 'SchneidlerMedium', 'Georgia'; font-size: 22px; line-height: 38px;
	    text-align: center;
        width: 100%;
        height: 80px;
        background: url('../images/ui/user_name_bar_shadow.png') no-repeat left top;
        background-size: contain;
    }

    #search-column-left .search-info {
        text-align: center;
        margin-top: -15px;
        font-family: 'DinMedium';
        font-size: 18px;
        margin-left: 5px;
    }

    #search-column-left #search-options {
        background-color: white;
        margin-top: 20px;
        width: 100%;
        height: 65%;
        box-shadow: 0px 0px 5px rgb(128, 128, 128) inset;
        border-radius: 5px;
    }
        
    #search-column-left #search-options label{
        font-size: 16px;
    }

    #search-column-left #search-options select{
        width: 180px;
    }

#search-column-main {
    float: left;
    width: 540px;
    height: 103%;
    padding: 10px;
    margin-left: 25px;
    margin-top: 10px;
    box-shadow: 0px 0px 5px rgb(128, 128, 128) inset;
    border-radius: 5px;
    padding-top: 25px;
    padding-left: 20px;
}

#search-column-main .title{
    border-bottom: 1px solid #bebebe;
    margin-bottom: 5px;
}

#search-column-main .result-bubble{
    width: 140px;
    padding: 10px;
    border: 1px solid #bebebe;
    background-color: #dff1f9;
    box-shadow: 0px 0px 5px white inset;
    border-radius: 2px;
}

#search-column-main .result-bubble label{
    font-weight: bold;
}

#search-column-main .result-bubble .value{
    float: right;
}

.search-column-main .milestone-live-ind {
    width: 100px;
    margin-top: -15px;
    margin-left: -10px;
}

.search-column-main .label-border {
    padding: 0;
}