.style-guide {
    background: url('../images/border_paperbg_reg.png') repeat-x left -50px;
}

    .style-guide #header h1 {
        font-family: 'SchneidlerRegular', 'Georgia';
        font-size: 54px;
        line-height: 54px;
        margin-top: 20px;
        padding-left: 60px;
        background: url('../images/rt_icon_med.png') no-repeat left 6px;
        text-shadow: 1px 1px #fff;
    }

#wizard {
    margin-top: 50px;
    min-height: 480px;
}

.milestone-bg {
    width: 960px;
    border: 1px solid #c1c1c1;
    -webkit-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
}

    .milestone-bg td {
    }

.milestone-border {
    -webkit-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
}

.milestone-table {
    width: 100%;
    border-collapse: collapse;
}

    .milestone-table tr td {
        width: 30%;
        padding: 10px;
    }

    .milestone-table tr:first-child {
        font-weight: bold;
        height: 50px;
    }

    .milestone-table tr:not(:last-child) td {
        border-bottom: 1px solid #c1c1c1;
    }

    .milestone-table tr:not(:first-child) td:not(:first-child) {
        border-left: 1px solid #c1c1c1;
    }

    .milestone-table tr td:first-child {
        width: 40%;
    }

.milestone-table-large tr td {
    width: 15%;
}

    .milestone-table-large tr td:first-child {
        width: 25%;
    }

#milestone-creation-table-step4 input {
    width: 85px;
}

.tooltip {
    margin-top: 7px;
    font-weight: normal;
    float: left;
    margin-left: 10px;
    background-color: #c1c1c1;
    color: white;
    line-height: 1em;
    padding: 0px 3px;
    border: 1px solid #c1c1c1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

#milestone-step div {
    display: block;
}

.table-row-gap {
    height: 10px;
}

.highlight-seperation {
    margin: 2em;
    font-size: 24px;
    font-weight: bold;
}

.step5-left-half {
    width: 25%;
    float: left;
    min-height: 400px;
}

#milestone-creation-table-step5 {
    border-collapse: collapse;
    margin: 20px;
    -webkit-box-shadow: 0px 0px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 0px rgba(50, 50, 50, 0.75);
}

    #milestone-creation-table-step5 td {
        padding: 5px;
    }

.step5-container .milestone-bg {
    padding: 20px;
}

.step5-right-half {
    width: 70%;
    float: right;
}

.step5-middle-column {
    width: 45%;
    margin-left: 20px;
    float: right;
}

    .step5-middle-column h5 {
        text-align: center;
        color: #3A87A7;
    }

.step5-right-column {
    width: 45%;
    margin-left: 20px;
    float: right;
}

    .step5-right-column h5 {
        text-align: center;
        color: #3A87A7;
    }

#step5-column {
    padding: 20px;
    border: 1px solid #c1c1c1;
    min-height: 300px;
}

.step5-column-table {
    border: 1px solid #c1c1c1;
}

    .step5-column-table td {
        padding: 10px;
        width: 35%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

.step5-buttons {
    margin-top: 100px;
    width: 95%;
    float: right;
}

.step7-table {
    border: 1px solid #c1c1c1;
    width: 100%;
    -webkit-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
}

    .step7-table td {
        padding: 20px;
    }

        .step7-table td:first-child {
            width: 20%;
        }

    .step7-table label {
        font-size: large;
        color: #3A87A7;
    }

.step7-bottom label {
    font-size: large;
    float: left;
    border: 1px solid #c1c1c1;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin-left: 10px;
    -webkit-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
}

.step7-bottom h5 {
    margin-top: 10px;
    float: left;
}

#menu {
    height: 47px;
    padding: 5px 0;
    padding-left: 5px;
    margin: 0;
    border: 1px solid #c1c1c1;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
    -o-border-radius: 7px 7px 0 0;
    border-radius: 7px 7px 0 0;
    -webkit-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
    box-shadow: 0px 0px 1px rgba(50, 50, 50, 0.75);
}

    #menu .tab {
        position: absolute;
        color: #3a87a7;
        width: 130px;
        display: inline-block;
        margin: 0;
        margin-left: -30px;
        padding: 15px 0px;
        padding-left: 35px;
        padding-bottom: 25px;
        text-shadow: 1px 1px 1px white;
        /*background-color: #8fbacc;*/
        background: url("../images/menu-bg.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    #menu .active {
        color: white;
        text-shadow: 1px 1px 2px black;
        /*background-color: #3a87a7;*/
        background: url("../images/menu-bg-active.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    #menu .tab:hover {
        cursor: pointer;
    }

.tab-container .panel-container {
    background: #fff;
    border: solid #666 1px;
    padding: 10px;
    -moz-border-radius: 0 4px 4px 4px;
    -webkit-border-radius: 0 4px 4px 4px;
    -o-border-radius: 0 4px 4px 4px;
    border-radius: 0 4px 4px 4px;
}

#tab-container {
    min-height: 480px;
}

.next-button {
    margin: 25px;
    float: right;
}

.tooltip {
    border: none;
    display: none;
    background: transparent url(black_arrow.png);
    font-size: 12px;
    height: 70px;
    width: 160px;
    padding: 25px;
    color: #eee;
    z-index: 25;
}
