/* ----------- STYLE GUIDE - UNIQUE PAGE DECLARATIONS  ----------- */

.style-guide {
	background: url('../images/border_paperbg_reg.png') repeat-x left -50px;
}

.style-guide #header h1 {
	font-family: 'SchneidlerRegular', 'Georgia';
	font-size: 54px;
	line-height: 54px;
	margin-top: 20px;
	padding-left: 60px;
	background: url('../images/rt_icon_med.png') no-repeat left 6px;
	text-shadow: 1px 1px #fff;
}

.style-guide #header .article-intro {
	margin-top: 100px;
}

.font-set p {
	font-size: 1.8em; line-height: 1em;
}

.font-set h2 {
	margin-bottom: 15px;
}

h4.cta-headline {
	margin-left: 15px;
}

h4.cta-headline-tab {
	margin-top: 40px;
}

div.fpo {
	text-align: left;
}

#schneidlerlt-font, #schneidlerlt-font h2 {font-family: 'SchneidlerLight';}
#schneidlerbt-font, #schneidlerbt-font h2 {font-family: 'SchneidlerRegular';}
#schneidlermd-font, #schneidlermd-font h2 {font-family: 'SchneidlerMedium';}
#lucida-font, #lucida-font h2 {font-family: 'Lucida Grande';}
#dinlight-font, #dinlight-font h2 {font-family: 'DinLight';}
#dinreg-font, #dinreg-font h2 {font-family: 'DinLight'; font-weight: bold;}
#dinmedium-font, #dinmedium-font h2 {font-family: 'DinMedium';}

.style-guide #color-swatches li {
	list-style-image: none;
	list-style-type: none;
	display: block;
	width: 140px;
	float: left;
	margin-right: 20px;
}

.style-guide #color-swatches li span {
	display: block;
	width: 140px; height: 140px;
	margin-bottom: 20px;
}

.style-guide #color-swatches li#orange {color: #ff5e00;}
.style-guide #color-swatches li#blue {color: #3a87a7;}
.style-guide #color-swatches li#lt-blue {color: #8fbacc;}
.style-guide #color-swatches li#grey {color: #2a2a2a;}
.style-guide #color-swatches li#lt-grey {color: #bebebe;}

.style-guide #color-swatches li#orange span {background-color: #ff5e00;}
.style-guide #color-swatches li#blue span {background-color: #3a87a7;}
.style-guide #color-swatches li#lt-blue span {background-color: #8fbacc;}
.style-guide #color-swatches li#grey span {background-color: #2a2a2a;}
.style-guide #color-swatches li#lt-grey span {background-color: #bebebe;}

.style-guide #texture-swatches li {
	list-style-image: none;
	list-style-type: none;
	display: block;
	width: 140px;
	float: left;
	margin-right: 20px;
}

.style-guide #texture-swatches li span {
	display: block;
	width: 140px; height: 140px;
	margin-bottom: 20px;
	border: #bebebe 1px solid;	
}

.style-guide #texture-swatches li#paper-reg span {background: url('../images/paperbg_reg.png') repeat;}
.style-guide #texture-swatches li#paper-lt span {background: url('../images/paperbg_light.png') repeat;}
.style-guide #texture-swatches li#paper-dark span {background: url('../images/paperbg_dark.png') repeat;}
.style-guide #texture-swatches li#paper-reg-border span {background: url('../images/border_paperbg_reg_tall.png') repeat-x left -500px}
.style-guide #texture-swatches li#paper-dark-border span {background: url('../images/border_paperbg_dark_tall.png') repeat-x left -200px;}

.style-guide #footer {
	height: 600px;
}

#tag-labels-section h2 {
	margin-bottom: 40px;
}


#tag-labels-section .tagA {
	margin-top: 24px; margin-bottom: 44px;
}

#forms-section .box460-right .floatleft {
	width: 120px;
	line-height: 35px;
}

#forms-section .box460-right .floatleft {
	margin-top: 16px; margin-bottom: 60px;
}

#forms-section .box460-right h4 {
	margin-bottom: 60px;
}

#forms-section .button-regular {
	width: 260px;
}

#forms-section .button-cta {
	width: 260px;
}

#forms-section .button-level1 {
	width: 260px;
}

#forms-section .button-level2 {
	width: 260px;
}


