body {
	font-family: Verdana,"Lucida Grande",sans-serif;
}

#box {
}

#pane {
	height:570;
	width:829px;
	overflow:auto;
	border:1px solid;
	padding:10px 10px 10px 10px;
	margin-top:7px;
}

#render_canvas {
}

#steps, #scene {
	border: 1px solid;
	padding:0px 10px 0px 10px;
	margin-bottom:10px;
	margin-left:4px;
}

#delay {
	width:40px;
	font-size:10px;
}
#scene input, #scene select {
	margin-bottom:10px;
}

.highlight_step {
	font-weight: bold;
}

#render_canvas {
	position:relative;
}

#container {
	position:absolute;
	left:135px;
	top:20px;
}
#sidebar {
	font-size:.8em;
	position:absolute;
	width:120px;
	top:20px;
}


#top {
	height:100px;
}

#top_drag {
	position:absolute;
	top:102px;
	height:5px;
	width:849px;
	background-color:#bfbfbf;
	border-left: 1px solid;
	border-right: 1px solid;
	cursor:pointer;
}

#annotation, #console {
	float:left;
	border: 1px solid;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	height:100%;
	padding-left:10px;
	overflow:auto;
}

#annotation {
	width:390px;
}
#console {
	width:432px;
}

#annotation {
	font-size:10px;
}

#console {
	white-space: pre-line;
	font-family: courier;
	font-size:9.8px;
}

#annotation {
	margin-left:5px;
}

#console_drag {
	position:absolute;
	left:444px;
	width:5px;
	height:80px;
	padding:10px 0px 10px 0px;
	margin:0px 0px 10px 0px;
	background-color:#bfbfbf;
	border-top:1px solid;
	border-bottom:1px solid;
	cursor:pointer;
}


