{% extends "base_expert_rt.html" %}
{% load staticfiles %}
{% block css %}
{% endblock %}
{% block scripts %}
{% endblock %}
{% block header %}
{% endblock %}
{% block leftmenu %}
{% endblock %}
{% block content %}
                    <div class="column-left">
                      <div class="title">
                          <h2>Client Milestones</h2>
                      </div><!-- END title -->
                      <div class="client-milestone">
                      	<div class="list">
                        	<div class="a">
                            	<div class="image">
                                  <div class="highlightB clearfix">
                                      <div class="label-border clearfix">
                                          <img src="images/dashboard-perfil.jpg" width="96" alt="Profile">
                                      </div>
                                  </div>
                              </div><!-- END image -->
                              <div class="text">
                                  <div class="fila">
                                      <a href="#" class="tit">Wild “Bill” Hickok</a>
                                      <span>CEO, Founder</span>
                                      <a href="#">Maketing Consulting, LLC</a>
                                  </div>
                                  <div class="fila-last">
                                      <span>Danny@marketingconsulting.com</span>
                                      <span>(917) 555.5555</span>
                                  </div>
                              </div><!-- END text -->
                            </div>
                            <div class="btn">
                                <div class="button-level2">
                                    <div class="border">
                                        <a href="#">VIEW MILESTONE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="list">
                        	<div class="a">
                            	<div class="image">
                                  <div class="highlightB clearfix">
                                      <div class="label-border clearfix">
                                          <img src="images/dashboard-perfil.jpg" width="96" alt="Profile">
                                      </div>
                                  </div>
                              </div><!-- END image -->
                              <div class="text">
                                  <div class="fila">
                                      <a href="#" class="tit">Wild “Bill” Hickok</a>
                                      <span>CEO, Founder</span>
                                      <a href="#">Maketing Consulting, LLC</a>
                                  </div>
                                  <div class="fila-last">
                                      <span>Danny@marketingconsulting.com</span>
                                      <span>(917) 555.5555</span>
                                  </div>
                              </div><!-- END text -->
                            </div>
                            <div class="btn">
                                &nbsp;
                            </div>
                        </div>
                        
                        <div class="list">
                        	<div class="a">
                            	<div class="image">
                                  <div class="highlightB clearfix">
                                      <div class="label-border clearfix">
                                          <img src="images/dashboard-perfil.jpg" width="96" alt="Profile">
                                      </div>
                                  </div>
                              </div><!-- END image -->
                              <div class="text">
                                  <div class="fila">
                                      <a href="#" class="tit">Wild “Bill” Hickok</a>
                                      <span>CEO, Founder</span>
                                      <a href="#">Maketing Consulting, LLC</a>
                                  </div>
                                  <div class="fila-last">
                                      <span>Danny@marketingconsulting.com</span>
                                      <span>(917) 555.5555</span>
                                  </div>
                              </div><!-- END text -->
                            </div>
                            <div class="btn">
                                <div class="button-level2">
                                    <div class="border">
                                        <a href="#">VIEW MILESTONE</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="list">
                        	<div class="a">
                            	<div class="image">
                                  <div class="highlightB clearfix">
                                      <div class="label-border clearfix">
                                          <img src="images/dashboard-perfil.jpg" width="96" alt="Profile">
                                      </div>
                                  </div>
                              </div><!-- END image -->
                              <div class="text">
                                  <div class="fila">
                                      <a href="#" class="tit">Wild “Bill” Hickok</a>
                                      <span>CEO, Founder</span>
                                      <a href="#">Maketing Consulting, LLC</a>
                                  </div>
                                  <div class="fila-last">
                                      <span>Danny@marketingconsulting.com</span>
                                      <span>(917) 555.5555</span>
                                  </div>
                              </div><!-- END text -->
                            </div>
                            <div class="btn">
                                &nbsp;
                            </div>
                        </div>
                        
                        <div class="list">
                        	<div class="a">
                            	<div class="image">
                                  <div class="highlightB clearfix">
                                      <div class="label-border clearfix">
                                          <img src="images/dashboard-perfil.jpg" width="96" alt="Profile">
                                      </div>
                                  </div>
                              </div><!-- END image -->
                              <div class="text">
                                  <div class="fila">
                                      <a href="#" class="tit">Wild “Bill” Hickok</a>
                                      <span>CEO, Founder</span>
                                      <a href="#">Maketing Consulting, LLC</a>
                                  </div>
                                  <div class="fila-last">
                                      <span>Danny@marketingconsulting.com</span>
                                      <span>(917) 555.5555</span>
                                  </div>
                              </div><!-- END text -->
                            </div>
                            <div class="btn">
                                &nbsp;
                            </div>
                        </div>
                      </div>
{% endblock %}
