{% extends "base_expert_rt.html" %}
{% load staticfiles %}
{% block css %}
{% endblock %}
{% block scripts %}
{% endblock %}
{% block header %}
<script language="javascript">
$(function(){
$('form').jqTransform({imgPath:'js/jqtransformplugin/img/'});

topBanner = new BannerSlide({mainContent:'#tabsD', subContent:'ul', item: 'li', arrowLeft:'.btn-ant', arrowRight:'.btn-sig'});

/* TABS */
$('.labelC_target[rel=2]').css('display','none');//hack to fix problem with jTransform
$('.labelC').click(function(){
$('.labelC').removeClass('select');
$(this).addClass('select');

$('.labelC_target').css('display','none');
$('.labelC_target[rel='+$(this).attr('rel')+']').css('display','block');

});
});
</script>
<script type="text/javascript" src="js/jquery.menues.js" ></script>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug -->
{% endblock %}
{% block leftmenu %}
{% endblock %}
{% block content %}
					<div class="column-left">
						<div class="row">
							<div class="title">
								<h2>Industry Focus</h2>
							</div>
							<!-- END title -->
							<form action="post.php" method="POST">
								<div class="rowElem">
									<label>
									<h5>
										I support businesses operating in:
									</h5>
									</label>
									<div class="column3">
										<select name="select">
											<option value="Accounting/Finance">Accounting/Finance</option>
											<option value="Advertising/Public Relations">Advertising/Public Relations</option>
											<option value="Aerospace/Aviation">Aerospace/Aviation</option>
											<option value="Arts/Entertainment/Publishing">Arts/Entertainment/Publishing</option>
											<option value="Automotive">Automotive</option>
											<option value="Banking/Mortgage">Banking/Mortgage</option>
											<option value="Business Development">Business Development</option>
											<option value="Business Opportunity">Business Opportunity</option>
											<option value="Clerical/Administrative">Clerical/Administrative</option>
											<option value="Construction/Facilities">Construction/Facilities</option>
											<option value="Consumer Goods">Consumer Goods</option>
											<option value="Customer Service">Customer Service</option>
											<option value="Education/Training">Education/Training</option>
											<option value="Energy/Utilities">Energy/Utilities</option>
											<option value="Engineering">Engineering</option>
											<option value="Government/Military">Government/Military</option>
											<option value="Green">Green</option>
											<option value="Healthcare">Healthcare</option>
											<option value="Hospitality/Travel">Hospitality/Travel</option>
											<option value="Human Resources">Human Resources</option>
											<option value="Installation/Maintenance">Installation/Maintenance</option>
											<option value="Insurance">Insurance</option>
											<option value="Internet">Internet</option>
											<option value="Job Search Aids">Job Search Aids</option>
											<option value="Law Enforcement/Security">Law Enforcement/Security</option>
											<option value="Legal">Legal</option>
											<option value="Management/Executive">Management/Executive</option>
											<option value="Manufacturing/Operations">Manufacturing/Operations</option>
											<option value="Marketing">Marketing</option>
											<option value="Non-Profit/Volunteer">Non-Profit/Volunteer</option>
											<option value="Pharmaceutical/Biotech">Pharmaceutical/Biotech</option>
											<option value="Professional Services">Professional Services</option>
											<option value="QA/Quality Control">QA/Quality Control</option>
											<option value="Real Estate">Real Estate</option>
											<option value="Restaurant/Food Service">Restaurant/Food Service</option>
											<option value="Retail">Retail</option>
											<option value="Sales">Sales</option>
											<option value="Science/Research">Science/Research</option>
											<option value="Skilled Labor">Skilled Labor</option>
											<option value="Technology">Technology</option>
											<option value="Telecommunications">Telecommunications</option>
											<option value="Transportation/Logistics">Transportation/Logistics</option>
											<option value="Other">Other</option>
										</select>
										<select name="select">
											<option value="Accounting/Finance">Accounting/Finance</option>
											<option value="Advertising/Public Relations">Advertising/Public Relations</option>
											<option value="Aerospace/Aviation">Aerospace/Aviation</option>
											<option value="Arts/Entertainment/Publishing">Arts/Entertainment/Publishing</option>
											<option value="Automotive">Automotive</option>
											<option value="Banking/Mortgage">Banking/Mortgage</option>
											<option value="Business Development">Business Development</option>
											<option value="Business Opportunity">Business Opportunity</option>
											<option value="Clerical/Administrative">Clerical/Administrative</option>
											<option value="Construction/Facilities">Construction/Facilities</option>
											<option value="Consumer Goods">Consumer Goods</option>
											<option value="Customer Service">Customer Service</option>
											<option value="Education/Training">Education/Training</option>
											<option value="Energy/Utilities">Energy/Utilities</option>
											<option value="Engineering">Engineering</option>
											<option value="Government/Military">Government/Military</option>
											<option value="Green">Green</option>
											<option value="Healthcare">Healthcare</option>
											<option value="Hospitality/Travel">Hospitality/Travel</option>
											<option value="Human Resources">Human Resources</option>
											<option value="Installation/Maintenance">Installation/Maintenance</option>
											<option value="Insurance">Insurance</option>
											<option value="Internet">Internet</option>
											<option value="Job Search Aids">Job Search Aids</option>
											<option value="Law Enforcement/Security">Law Enforcement/Security</option>
											<option value="Legal">Legal</option>
											<option value="Management/Executive">Management/Executive</option>
											<option value="Manufacturing/Operations">Manufacturing/Operations</option>
											<option value="Marketing">Marketing</option>
											<option value="Non-Profit/Volunteer">Non-Profit/Volunteer</option>
											<option value="Pharmaceutical/Biotech">Pharmaceutical/Biotech</option>
											<option value="Professional Services">Professional Services</option>
											<option value="QA/Quality Control">QA/Quality Control</option>
											<option value="Real Estate">Real Estate</option>
											<option value="Restaurant/Food Service">Restaurant/Food Service</option>
											<option value="Retail">Retail</option>
											<option value="Sales">Sales</option>
											<option value="Science/Research">Science/Research</option>
											<option value="Skilled Labor">Skilled Labor</option>
											<option value="Technology">Technology</option>
											<option value="Telecommunications">Telecommunications</option>
											<option value="Transportation/Logistics">Transportation/Logistics</option>
											<option value="Other">Other</option>
										</select>
										<div class="btn">
											<div class="button-level2">
												<div class="border">
													<a href="#">ADD INDUSTRY</a>
												</div>
											</div>
										</div>
									</div>
									<div class="requirements">
										<div class="arrow">
										</div>
										<a href="javascript:void(0);" class="close">&nbsp;</a>
										<div class="highlightB clearfix">
											<div class="label-border clearfix">
												<h5>
													If they meet these requirements:
												</h5>
												<div class="column3">
													<div class="block who">
														<strong>WHO Earn Between:</strong>
														<select name="select">
															<option value="opt1" selected="selected">$0 - Idea & Planning</option>
															<option value="opt2">$0 - Product or Service in Development</option>
															<option value="opt3">$0 - $49k of Revenue in the Last Year</option>
															<option value="opt3">$50k - $249k of Revenue in the Last Year</option>
															<option value="opt4">$250k - $499k of Revenue in the Last Year</option>
															<option value="opt5">$500k - $999k of Revenue in the Last Year</option>
															<option value="opt6">$1m - $2.9m of Revenue in the Last Year</option>
															<option value="opt7">$3m+ of Revenue in the Last Year</option>
														</select>
													</div>
													<div class="block">
														<strong>Who are raising:</strong>
														<select name="select">
															<option value="opt1" selected="selected">$0 - $50k</option>
															<option value="opt2">$51 - $100k</option>
															<option value="opt3">$101k - $250k</option>
															<option value="opt3">$251k - $500k</option>
															<option value="opt4">$501k - $1M</option>
														</select>
													</div>
													<div class="block margin">
														<strong>Gross Margin:</strong>
														<select name="select">
															<option value="opt1" selected="selected">I would help exciting businesses to plan and raise capital for free</option>
															<option value="opt2">An equivalent between $20-$49 per hour</option>
															<option value="opt3">An equivalent between $50-$99 per hour</option>
															<option value="opt3">An equivalent between $100-$199 per hour</option>
															<option value="opt4">An equivalent between $200-$499 per hour</option>
															<option value="opt5">An equivalent between $750-$999 per hour</option>
															<option value="opt6">An equivalent over $1000 per hour</option>
															<option value="opt7">I just want carry as performance based compensation</option>
														</select>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
						<!-- END row -->
						<div class="row">
							<h5 class="h5">
								Questions for Businesses
							</h5>
							<em>What questions do you have for businesses applying to you?</em>
							<form action="post.php" method="POST">
								<div class="tabs">
									<div class="btn1">
										<div class="labelC select" rel="1">
											<div class="label-border" >
												See Examples
											</div>
										</div>
									</div>
									<div class="btn2">
										<div class="labelC" rel="2">
											<div class="label-border">
												Create a custom question
											</div>
										</div>
									</div>
								</div>
								<div class="rowElem2 labelC_target"  rel="1">
									<select name="select">
										<option selected="selected">Dropdown Menu</option>
										<option value="opt1">Dropdown Item 1</option>
										<option value="opt1">Dropdown Item 2</option>
										<option value="opt1">Dropdown Item 3</option>
										<option value="opt1">Dropdown Item 4</option>
									</select>
								</div>
								<div class="rowElem  labelC_target" rel="2">
									<textarea rows="4" cols="53" name="mytext">Type a custom question</textarea>
								</div>
								<div class="rowElem3">
									<div class="block">
										<div class="check">
											<input name="checkbox1" type="checkbox" value="1" checked>
										</div>
										<div class="txt">
											Retail
										</div>
									</div>
									<div class="block2">
										<div class="check">
											<input name="checkbox2" type="checkbox" value="2" >
										</div>
										<div class="txt">
											Advertising
										</div>
									</div>
								</div>
								<!-- <div class="rowElem4">
<div class="block">
<div class="check">
<input name="radio1" type="radio" value="1">
</div>
<div class="txt">
Not required
</div>
</div>
<div class="block2">
<div class="check">
<input name="radio2" type="radio" value="2">
</div>
<div class="txt">
Not required but important
</div>
</div>
</div>
<div class="rowElem5">
<div class="block">
<div class="check">
<input name="radio1" type="radio" value="1">
</div>
<div class="txt">
Required after NDA
</div>
</div>
<div class="block2">
<div class="check">
<input name="radio2" type="radio" value="2">
</div>
<div class="txt">
Required pre-NDA
</div>
</div>
</div> -->
								<div class="btn-add">
									<div class="button-level2">
										<div class="border">
											<a href="#">ADD QUESTION</a>
										</div>
									</div>
								</div>
							</form>
						</div>
						<!-- END row -->
						<div class="row">
							<em>These questions will be asked to businesses interested in applying to you.</em>
							<ul class="questions">
								<li>
									<a href="#"> <strong>How much lorem ipsum dolor is this lorem ipsum dolor?</strong> <span>Applicants in Retail, Advertising</span> </a>
								</li>
								<li>
									<a href="#"> <strong>How much lorem ipsum dolor is this lorem ipsum dolor?</strong> <span>All Applicants</span> </a>
								</li>
							</ul>
						</div>
						<!-- END row -->
					</div>
{% endblock %}
