{% extends "base2_rt.html" %}
{% load staticfiles %}
{% block scripts %}
		<script type="text/javascript" src="{% static 'js/jquery.banner.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/jquery.simplecms.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}" ></script>
		<script language="javascript">
			var csrftoken = $.cookie('csrftoken');
			function csrfSafeMethod(method) {
				// these HTTP methods do not require CSRF protection
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
			$.ajaxSetup({
				crossDomain: false, // obviates need for sameOrigin test
				beforeSend: function(xhr, settings) {
					if (!csrfSafeMethod(settings.type)) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					}
				}
			});
			window.onload = function() {

				/* submit if elements of class=auto_submit_item in the form changes */
				$(".auto_submit_item").change(function() {
					var payload = {}
					payload[$(this).attr('name')] = $(this.options.selectedIndex)[0];
							
					$.post("",payload);
				});
			  //Get a reference to the link on the page
			  // with an id of "mylink"
			  var a = document.getElementById("EditButton");

			  //Set code to run when the link is clicked
			  // by assigning a function to "onclick"
			  a.onclick = function() {
					if ($('#EditButton').html() == "Click to edit") 
					{
						$('#EditButton').html("Click to save");
						$('.editing').show();
						$('.reading').hide();
					}
					else
					{
						//$('#EditButton').html("Click to edit");
						//$('.editing').hide();
						//$('.reading').show();
						//$.post();
						location.reload();
					}
					return false;
				}
			}
			var edit_timeout;
			$(function(){
				$('form').jqTransform({imgPath:'{% static "js/jqtransformplugin/img/" %}'});
				
				topBanner = new BannerSlide({mainContent:'#tabsD', subContent:'ul', item: 'li', arrowLeft:'.btn-ant', arrowRight:'.btn-sig'});
				
				$('.simple_cms').SimpleCMS({
					'onLoadInput':function(){ $('.simple_cms').jqTransform({imgPath:"{% static 'js/jqtransformplugin/img/' %}"}); }
				});
			});
		</script>
		<script type="text/javascript" src="{% static 'js/jquery.menues.js' %}" ></script>
			<!-- <div id="dashboard-wrap" class="porcentaje"> -->
{% endblock %}
{% block header %}
		<div id="header">
				
			<div id="mainnav-fullwidth">		
			
			<div class="navbar">
					<h1 id="rtlogo"><a id="nav-main" class="navtab closed" href="#navtab-main">Start</a><a id="rt-text" href="/">Revenue Trades</a></h1>
                    <ul id="navtabs">
                        <li><a id="nav-biz2" href="/discover">Discover</a></li>
                        <li><a id="nav-exp2" href="/howitworks.html">How it works</a></li>
					{% if rtuser %}
                    </ul>
                    <div id="user-tab">
                        <div id="b-user-settings">
                            <h3><a href="#">{{ rtuser.first_name }}</a></h3>
                            <div class="user-thumbplus"><a href="#user-settings"><img src="/media/{{ rtuser.photo|default:'user_photos/user_img_large.png' }}" width="50" height="50" alt="Username Settings"></a></div>
                        </div>
                        <div id="user-settings">
                            <div class="border-left"></div>
                            <ul>
                                <li><a href="/home/profile">My Profile(s)</a></li>
                                <li><a href="/home/account">My Account</a></li>
                                <li><a href="/home/settings">Settings</a></li>
                                <li><a href="/home/other">Other Link</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                            <div class="border-right"></div>
                        </div> <!-- END user-settings tab -->
                    </div> <!-- END user-tab -->
					{% else %}
						<li class="last"><a class="nav-exp3" href="#">Sign in</a></li>
						<li class="last"><a class="nav-exp3" href="#">Create Account</a></li>
					</ul>
					{% endif %}
				<div class="clearfix"></div>
			</div> <!-- END navbar: wraps all the navigation tabs --><!-- ENDS navtab-wrap -->
			</div> <!-- ENDS mainnav -->
					
		</div> <!-- END header -->
{% endblock %}
{% block leftmenu %}
					
              <div class="colright">
              	<div class="col2">
                    <div class="submenu">
                        <div class="mcontainer">
                        <ul class="fcontainer">
                        	<li class="first active">
                                <a href="#">
                                    <span class="icon3">&nbsp;</span>
                                    <strong>Expert Profile</strong>
                                </a>
                                <ul>
                                    <li class="first active">
                                        <a href="details/">
                                            Details
                                        </a>
                                    </li>
                                    <li>
                                        <a href="focus/">
                                            Focus
                                        </a>
                                    </li>
                                    <li>
                                        <a href="services/">
                                            Services
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon1">&nbsp;</span>
                                    <strong>My Clients</strong>
                                </a>
                                <ul>
                                    <li class="first">
                                        <a href="#">
                                            Milestone
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Documents
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Conversations
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Tasks
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Team
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            
                            
                            <li>
                                <a href="#">
                                    <span class="icon4">&nbsp;</span>
                                    <strong>Prospects</strong>
                                </a>
                                <ul>
                                    <li class="first">
                                        <a href="#">
                                            Targets (5)
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Applicants (13)
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Declined (12)
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon5">&nbsp;</span>
                                    <strong>Community</strong>
                                </a>
                                <ul>
                                    <li class="first">
                                        <a href="#">
                                            Targets (5)
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Applicants (13)
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Declined (12)
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="submenu-inner"></ul>
                        </div>
                    </div> <!-- END submenu -->
{% endblock %}
{% block content %}
                    <div class="column-left">
                                {% if editable %}
<!--						<form action="" method="get"> -->
							<div class="apply-form" style="padding-left: 0px;">
									{% endif %}
                      <div class="row">
                          <div class="title">
                              <h2>Expert Details</h2>
                                {% if editable %}
                              <div class="btn">
                                  <div class="button-level2">
                                      <div class="border">
												<a id="EditButton" href="javascript:void(0);">Click to edit</a>
                                      </div>
                                  </div>
                              </div>
									{% endif %}
                          </div><!-- END title -->
                          <div class="image">
                              <div class="highlightB clearfix">
                                  <div class="label-border clearfix">
                                      <img src="/media/{{ rtuser.photo|default:'user_photos/user_img_large.png' }}" width="232" height="205" alt="Perfil">
                                  </div>
                              </div>
							 {% if editable %}
							  <div class="links editing">
                                  <form enctype='multipart/form-data' action="." method="post">
										{% csrf_token %}
                                    <span>Upload a Photo</sapn>
                    				<input type="file" name="photo" >
								<button type="submit" class="btn btn-success start">                               
                    				<span>Start upload</span>
                				</button>
								</form>
								<br/>or <a href="#" target="_self">Use LinkedIn Photo</a>
                                </div>
                              </div>
									{% endif %}
                          </div><!-- END image -->
                          <div class="text">
									<div class="reading">
										<h5>{{ contact.first_name }} {{ contact.last_name }}</h5>
                                		<div class="fila">
											<div >{{ contact.street_address|default:"Address" }}</div>
											<div >{{ contact.city_state_zip|default:"City/State/Zip" }}</div>
										</div>
										<div class="fila-last">
											<div >{{ contact.email|default:"Email address" }} </div>
											<div >{{ contact.phone|default:"Phone number" }}</div>
										</div>
									</div>
									{% if editable %}
									<div class="editing">
										<h5>{{ contact_form.first_name }} {{ contact_form.last_name }}</h5>
                                		<div class="fila">
											<div >{{ contact_form.street_address }}</div>
											<div >{{ contact_form.city_state_zip }}</div>
										</div>
										<div class="fila-last">
											<div >{{ contact_form.email }} </div>
											<div >{{ contact_form.phone }}</div>
										</div>
									</div>
									{% endif %}
                          </div><!-- END text -->
                      </div><!-- END row -->
                      <div class="row">
                          <div class="title">
                              <h3>Time Commitment</h3>
                          </div><!-- END title -->
									<div class="editing">
							{{ expert_form }}
                                      </div>
									<div class="reading">
									
									</div>
					 </div><!-- END row -->
                      <div class="row">
                          <div class="title">
                              <h3>Career History</h3>
                              <div class="btn2">
                                  <div class="button-level2">
									<div class="editing">
                                      <div class="border">
									{% if editable %}
                                          <a href="#">Import from linkedin</a>
									{% endif %}
                                      </div>
                                    </div>
                                  </div>
                              </div>
                          </div><!-- END title -->
                          <h5>Job History</h5>
                          <ul class="arrow-listC">
                          {% for job in expert.job_history.all %}
                              <li><strong class="simple_cms">{{ job.description }}</strong><br>
                              <span class="simple_cms">{{ job.company }}</span><br>
                              <span class="simple_cms">{{ job.start_date|date:"M Y" }} - {{ job.end_date|date:"M Y"|default:"Present" }} </span></li>
							<div class="editing">Edit button</div>
                            {% endfor %}
                         </ul>
							<div class="editing">Add button</div>
                          <h5>
                              Credentials
                          </h5>
                          <ul class="arrow-listC">
                          {% for credential in expert.credentials.all %}
                              <li><strong><span class="simple_cms">{{ credential.credential }}</span></strong><br>
                              <span class="simple_cms">{{ credential.description }}</span>
							<div class="editing">Edit button</div>
                              </li>
                            {% endfor %}
                          </ul>
							<div class="editing">Add button</div>
                      </div><!-- END row -->
                  </div>
                    
                </div>
{% endblock %}
{% block rightColumn %}
              <div class="col1wrap">
              	<div class="col1">
                    <div class="aside">
                        <div class="row">
                            <div class="title">
                                <h4>Tips from {{ expert.expert.first_name }}</h4>
                            </div>
                            <ul class="arrow-listB">
                          {% for tip in expert.tips.all %}
                                <li>{{ tip.text }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
              	</div>
              </div>
			
              </div>
			</div> <!-- END dashboard wrap -->
		
		<div class="clearfix"></div>

		</div> <!-- END content-wrap -->
{% endblock %}
