{% extends "base2_rt.html" %}
{% load staticfiles %}
{% block scripts %}
		<script type="text/javascript" src="{% static 'js/jquery.banner.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/jquery.simplecms.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}" ></script>
		<script language="javascript">
			var csrftoken = $.cookie('csrftoken');
			function csrfSafeMethod(method) {
				// these HTTP methods do not require CSRF protection
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
			$.ajaxSetup({
				crossDomain: false, // obviates need for sameOrigin test
				beforeSend: function(xhr, settings) {
					if (!csrfSafeMethod(settings.type)) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					}
				}
			});
			window.onload = function() {

				/* submit if elements of class=auto_submit_item in the form changes */
				$(".auto_submit_item").change(function() {
					var payload = {}
					payload[$(this).attr('name')] = $(this.options.selectedIndex)[0];
							
					$.post("",payload);
				});
			  //Get a reference to the link on the page
			  // with an id of "mylink"
			  var a = document.getElementById("EditButton");

			  //Set code to run when the link is clicked
			  // by assigning a function to "onclick"
			  if ( a!= null ) 
			  {	
			  	a.onclick = function() {
					if ($('#EditButton').html() == "Click to edit") 
					{
						$('#EditButton').html("Click to save");
						$('.editing').show();
						$('.reading').hide();
					}
					else
					{
						//$('#EditButton').html("Click to edit");
						//$('.editing').hide();
						//$('.reading').show();
						//$.post();
						location.reload();
					}
					return false;
				}
			  }
			}
			var edit_timeout;
			$(function(){
				$('form').jqTransform({imgPath:'{% static "js/jqtransformplugin/img/" %}'});
				
				topBanner = new BannerSlide({mainContent:'#tabsD', subContent:'ul', item: 'li', arrowLeft:'.btn-ant', arrowRight:'.btn-sig'});
				
				$('.simple_cms').SimpleCMS({
					'onLoadInput':function(){ $('.simple_cms').jqTransform({imgPath:"{% static 'js/jqtransformplugin/img/' %}"}); }
				});
			});
		</script>
		<script type="text/javascript" src="{% static 'js/jquery.menues.js' %}" ></script>
			<!-- <div id="dashboard-wrap" class="porcentaje"> -->
{% endblock %}
{% block header %}
		<div id="header">
				
			<div id="mainnav-fullwidth">		
			
			<div class="navbar">
					<h1 id="rtlogo"><a id="nav-main" class="navtab closed" href="#navtab-main">Start</a><a id="rt-text" href="/">Revenue Trades</a></h1>
                    <ul id="navtabs">
                        <li><a id="nav-biz2" href="/discover">Discover</a></li>
                        <li><a id="nav-exp2" href="/howitworks.html">How it works</a></li>
					{% if rtuser %}
                    </ul>
                    <div id="user-tab">
                        <div id="b-user-settings">
                            <h3><a href="#">{{ rtuser.first_name }}</a></h3>
                            <div class="user-thumbplus"><a href="#user-settings"><img src="/media/{{ rtuser.photo|default:'user_photos/user_img_large.png' }}" width="50" height="50" alt="Username Settings"></a></div>
                        </div>
                        <div id="user-settings">
                            <div class="border-left"></div>
                            <ul>
                                <li><a href="/home/profile">My Profile(s)</a></li>
                                <li><a href="/home/account">My Account</a></li>
                                <li><a href="/home/settings">Settings</a></li>
                                <li><a href="/home/other">Other Link</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                            <div class="border-right"></div>
                        </div> <!-- END user-settings tab -->
                    </div> <!-- END user-tab -->
					{% else %}
						<li class="last"><a class="nav-exp3" href="#">Sign in</a></li>
						<li class="last"><a class="nav-exp3" href="#">Create Account</a></li>
					</ul>
					{% endif %}
				<div class="clearfix"></div>
			</div> <!-- END navbar: wraps all the navigation tabs --><!-- ENDS navtab-wrap -->
			</div> <!-- ENDS mainnav -->
					
		</div> <!-- END header -->
{% endblock %}
{% block leftmenu %}
					
              <div class="colright">
              	<div class="col2">
                    <div class="submenu">
                        <div class="mcontainer">
                        <ul class="fcontainer">
                        	<li class="first active">
                                <a href="#">
                                    <span class="icon3">&nbsp;</span>
                                    <strong>Expert Profile</strong>
                                </a>
                                <ul>
                                    <li class="first active">
                                        <a href="details/">
                                            Details
                                        </a>
                                    </li>
                                    <li>
                                        <a href="focus/">
                                            Focus
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Services
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon1">&nbsp;</span>
                                    <strong>My Clients</strong>
                                </a>
                                <ul>
                                    <li class="first">
                                        <a href="#">
                                            Milestone
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Documents
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Conversations
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Tasks
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Team
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            
                            
                            <li>
                                <a href="#">
                                    <span class="icon4">&nbsp;</span>
                                    <strong>Prospects</strong>
                                </a>
                                <ul>
                                    <li class="first">
                                        <a href="#">
                                            Targets (5)
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Applicants (13)
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Declined (12)
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon5">&nbsp;</span>
                                    <strong>Community</strong>
                                </a>
                                <ul>
                                    <li class="first">
                                        <a href="#">
                                            Targets (5)
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Applicants (13)
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Declined (12)
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="submenu-inner"></ul>
                        </div>
                    </div> <!-- END submenu -->
{% endblock %}
{% block content %}
                    <div class="column-left">
                      <div class="title">
                          <h2>Description</h2>
                      </div><!-- END title -->
                      <form action="." method="POST">
                          <div class="row">
                            <label class="services-em editing">Write your one line elevator pitch. Be consise but informative, this is your pitch to prospective clients.</label>
                              <div class="services-remplace" rel="textarea">I am an accomplished, senior marketing professional with broad retail marketing experience, encompassing strategic planning.</div>
                          </div><!-- END row -->
                          <div class="row row2">
                            <label class="services-em editing">Describe your services:</label>
                            <div class="services-remplace" rel="textarea">I provide services in qualitative & quantitative research, interactive marketing, creative development, media planning & buying, database direct-marketing, public relations, sales promotion and visual merchandising, with the ability and skill set to provide creative, innovative, enthusiastic and forward-thinking leadership in a team environment.</div>
                          </div><!-- END row -->
                          <div class="btn-services editing">
                              <input class="blue" type="submit" value="PUBLISH &raquo;" />
                          </div>
                      </form>
                  </div>
                  </div>
                    
{% endblock %}
