.hidden{
  display:none;
}

#projections
#projection_errors

table.projections_data { border-collapse: collapse; border: 1px solid #CCB;  }
table.projections_data td, table.projections_data th { padding: 5px; border: 1px solid #E0E0E0; }
table.projections_data th { background: #E5E5E5; text-align: left; }
input.invalid { background: red; color: #FDFDFD; }
td.number {
	text-align: right;
	font-weight: bold;
	padding-right: 5px;
	white-space: nowrap;
}


