<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
      <script src='{{ STATIC_URL }}js/grid_js/jquery.1.7.2.min.js' type='text/javascript'></script>
      <script src='{{ STATIC_URL }}js/grid_js/jquery-ui-1.9.0.custom.min.js' type='text/javascript'></script>
      <script src='{{ STATIC_URL }}js/grid_js/editablegrid.js' type='text/javascript'></script>
      <link href='{{ STATIC_URL }}css/grid_stylesheets/editablegrid.css' media='screen' rel='stylesheet' type='text/css' />
      <link href='{{ STATIC_URL }}css/grid_stylesheets/jquery-ui-1.9.0.custom.min.css' media='screen' rel='stylesheet' type='text/css' />
      <script src='{{ STATIC_URL }}js/grid_js/projections.js' type='text/javascript'></script>
    </meta>
  </head>
  <body>
    <div class='hidden' id='loading'>
      <image src='{{ STATIC_URL }}images/grid_images/spinner.gif'></image>
    </div>
    <div id='projections'></div>
    <div id='projection_errors'></div>
    <script type='text/javascript'>
    $(document).ready(function() {
        Projections.initialize({ divID: "projections",
            tableID: "projections_data",
            gridName: "ProjectionData",
            CSRF : "{{ just_csrf_token }}",
            endpoint: "{{ROOT_URL}}/date_projection",
            initialData: {{ initial_data|safe }}
            });
        });
    </script>
  </body>
</html>

