{% extends "base3_rt.html" %}
{% load staticfiles %}
{% block css %}
{% endblock %}
{% block scripts %}
		<script type="text/javascript" src="{% static 'js/jquery.banner.js' %}" ></script>
		<script language="javascript">
			$(function(){
				$('form').jqTransform({imgPath:"{% static 'js/jqtransformplugin/img/' %}"});
				
				topBanner = new BannerSlide({mainContent:'#tabsD', subContent:'ul', item: 'li', arrowLeft:'.btn-ant', arrowRight:'.btn-sig',carrusel:true});
			});
		</script>
{% endblock %}
{% block header %}
		<div id="header">
				
			<div id="mainnav-fullwidth">		
			
				<div class="navbar">
					<h1 id="rtlogo"><a id="nav-main" class="navtab closed" href="#navtab-main">Start</a><a id="rt-text" href="index.html">Revenue Trades</a></h1>
                    <ul id="navtabs">
                        <li><a id="nav-biz2" href="/discover">Discover</a></li>
                        <li><a id="nav-exp2" href="/how_it_works">How it works</a></li>
					{% if rtuser %}
                    </ul>
                    <div id="user-tab">
                        <div id="b-user-settings">
                            <h3><a href="#">{{ rtuser.first_name|default:"First name" }}</a></h3>
                            <div class="user-thumbplus"><a href="#user-settings"><img src="/media/{{ rtuser.photo|default:'user_photos/user_img_large.png' }}" width="50" height="50" alt="Username Settings"></a></div>
                        </div>
                        <div id="user-settings">
                            <div class="border-left"></div>
                            <ul>
                                <li><a href="/home/profiles/">My Profile(s)</a></li>
                                <li><a href="/home/account/">My Account</a></li>
                                <li><a href="/home/settings/">Settings</a></li>
                                <li><a href="/home/other/">Other Link</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                            <div class="border-right">
                            	<div style="margin: 5px"><img src="/media/{{ rtuser.photo|default:'user_photos/user_img_large.png' }}" width="40" height="40" alt="Username Settings"></div>
							</div>
                        </div> <!-- END user-settings tab -->
                    </div> <!-- END user-tab -->
					{% else %}
						<li class="last"><a class="nav-exp3" href="#">Sign in</a></li>
						<li class="last"><a class="nav-exp3" href="#">Create Account</a></li>
					</ul>
					{% endif %}
					<div class="clearfix"></div>
				</div> <!-- END navbar: wraps all the navigation tabs --><!-- ENDS navtab-wrap -->
			</div> <!-- ENDS mainnav -->
					
		</div> <!-- END header -->
{% endblock %}
{% block leftmenu %}
			<div class="box240-left">
				<div id="user-profile-sidebar">
					<div class="user-image-large"><img src="/media/{{ business.business_info.logo|default:'business_logos/aside-logo2.png' }}" width="210" alt="User Img Large"></div>
					<div class="user-name-bar">{{ business.business_info.full_name|default:"Business Name" }}</div>
					<div class="user-info">
						<div class="inside-border">
						{% if business.type.all %}
							{% for type in business.type.all %}
							<div>{{ type }}</div>
							{% endfor %}
						{% else %}
							<p>Atypical</p>
						{% endif %}
						</div>
					</div> <!-- END user name and title -->
					<div class="user-profiles-selection">
						<div class="inside-border">
							<ul class="arrow-listD">
                                <li>{{ business.age|default:"First" }}  Year{{ business.age|pluralize }} in Operation</li>
                                <li>{{ business.employees|default:"1" }} Employee{{ business.employees|pluralize }}</li>
                            </ul>
						</div>
					</div> <!-- END user profile selection -->
					<div class="user-social-unit border">
						<div class="top"></div>
						<div class="content">
							<a href="business/{{ business.id }}/milestone" class="checkout">Checkout our <br>
							<strong>Live Milestone!</strong></a>
						</div>
						<div class="bottom"></div>
					</div> <!-- END user social unit -->
					
					<div class="clearfix"></div>

					<!-- START accordionC-wrap <div class="accordionC-wrap">	
					<h3 class="accordion-trigger"><a href="">Job History</a></h3>
					<div class="accordion-container">
						<ul class="arrow-listC">
							<li>
								<p><strong>Name Title</strong><br>
								Content Line Goes Here<br>
								Month 208 - Month 2012</p>
							</li>
							<li>
								<p><strong>Name Title</strong><br>
								Content Line Goes Here<br>
								Month 208 - Month 2012</p>
							</li>
							<li>
								<p><strong>Name Title</strong><br>
								Content Line Goes Here<br>
								Month 208 - Month 2012</p>
							</li>
							<li>
								<p><strong>Name Title</strong><br>
								Content Line Goes Here<br>
								Month 208 - Month 2012</p>
							</li>
							<li>
								<p><strong>Name Title</strong><br>
								Content Line Goes Here<br>
								Month 208 - Month 2012</p>
							</li>
						</ul>
					</div>

					<h3 class="accordion-trigger"><a href="">Credentials</a></h3>
					<div class="accordion-container">
						<ul class="arrow-listC">
							<li>
								<p><strong>Name Title</strong><br>
								Content Line Goes Here<br>
								Month 208 - Month 2012</p>
							</li>
							<li>
								<p><strong>Name Title</strong><br>
								Content Line Goes Here<br>
								Month 208 - Month 2012</p>
							</li>
							<li>
								<p><strong>Name Title</strong><br>
								Content Line Goes Here<br>
								Month 208 - Month 2012</p>
							</li>
							<li>
								<p><strong>Name Title</strong><br>
								Content Line Goes Here<br>
								Month 208 - Month 2012</p>
							</li>
							<li>
								<p><strong>Name Title</strong><br>
								Content Line Goes Here<br>
								Month 208 - Month 2012</p>
							</li>
						</ul>
					</div>

					<h3 class="accordion-trigger"><a href="">Education</a></h3>
					<div class="accordion-container">
						<ul class="arrow-listC">
							<li>
								<p><strong>Name Title</strong><br>
								Content Line Goes Here<br>
								Month 208 - Month 2012</p>
							</li>
							<li>
								<p><strong>Name Title</strong><br>
								Content Line Goes Here<br>
								Month 208 - Month 2012</p>
							</li>
							<li>
								<p><strong>Name Title</strong><br>
								Content Line Goes Here<br>
								Month 208 - Month 2012</p>
							</li>
							<li>
								<p><strong>Name Title</strong><br>
								Content Line Goes Here<br>
								Month 208 - Month 2012</p>
							</li>
							<li>
								<p><strong>Name Title</strong><br>
								Content Line Goes Here<br>
								Month 208 - Month 2012</p>
							</li>
						</ul>
					</div>

					</div> END accordionC-wrap -->
				</div> <!-- END user profile sidebar -->
				
			</div> <!-- END box220-left -->

{% endblock %}
{% block content %}
			<div class="box660-right">
				
				<div class="cta-area">
					<div id="compact-milestones" class="boxstyle-A-round">
						<div class="inside-border">
							<h3>This is the Milestones Compact Unit Lorem Sit</h3>
							<div class="labelA">
								<div class="label-border">
								<div class="milestone-group"><span class="number">$10,000</span><span class="label">Target Capital</span></div>
								<div class="milestone-group"><span class="number">$7,500</span><span class="label">Total Offered</span></div>
								<div class="milestone-group"><span class="number">02-15-12</span><span class="label">End Date</span></div>
								</div>
								<div class="clearfix"></div>
							</div> <!-- END label style A -->
							<div class="button-level2"><div class="border"><a href="">Pledge Now</a></div></div>
							<div class="clearfix"></div>
						</div>
					</div> <!-- END compact milestones with class: boxstyle-A-round -->
				</div> 
				
				<div class="tabboxB-wrap">
				<ul class="tabs">
					<li><a href="#profile-objetive">Objectives</a></li>
					<li><a href="#profile-aboutme">About Me</a></li>
					<li><a href="#profile-deals">Community</a></li>
					<!--<li><a href="#profile-track">Track Record</a></li> -->
				</ul>

				<div class="tab-container">
				<div class="inside-border">
				    <div id="profile-objetive" class="tab-content">
                    	<div class="profile">
                        	<div class="highlightB">
                            	<div class="label-border">
                                	<div class="close">
                                   	  <img src="{% static 'images/ui/icon-menos.jpg' %}" width="12" height="12" alt="close">
                                    </div>
                               		<img src="/media/{{ business.business_info.contact.photo|default:'user_photos/user_img_large.png' }}" width="106" height="110" alt="Image">
                                    <h5>{{ business.business_info.contact.first_name }} {{ business.business_info.contact.last_name }}</h5>
                                    <span>{{ business.business_info.contact.title }} {# should this be an enumerated list? #}</span>
                                    <a href="http://www.linkedin.com/{{ business.owner.linkedinID }}">See LinkedIn</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="list-orange">
                        	<span>Ambitions once funded:</span>
                        	<ul class="arrow-listD">
                        		{% for ambition in business.ambitions.all %}
                                <li>{{ ambition.text }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        
                        <div class="text">
                        	<h3>Our Mission & Vision</h3>
                        	<p class="article">{{ business.mission.short_text|default:"Global market domination" }}</p>
                        </div>
                        
						<div class="clearfix"></div>
				    </div> <!-- END Focus Tab -->
				
				    <div id="profile-aboutme" class="tab-content">
						<p class="article">Quisque nulla tellus, hendrerit pellentesque dictum a, dignissim et nunc. Nam lacus augue, porta ut fermentum id, cursus sit amet nisi. Aliquam nec risus ac libero pulvinar convallis. Maecenas luctus tortor ac nisl ultrices dapibus. Vivamus egestas libero id nulla congue ullamcorper.</p>
						<br />
				       	<h4>About Me</h4>
						<p>{{ business.owner.about_me|default:"Pithy self description" }}</p>
				    </div> <!-- END About Me Tab -->
				
					<div id="profile-deals" class="tab-content">
				       	<ul class="image-list fxborder">
				       		{% for expert in business.experts.all %}
				       		<li>
				       			<div class="image"><img src="/media/{{ expert.logo|default:'business_logos/nologo.png' }}" width="180" height="80" alt="{{ expert.name }}"></div>
								<div class="info">
									<h4>{{ expert.tagLine }}</h4>
									<p>{{expert.description.short }}</p>
								</div>
								<div class="clearfix"></div>
				       		</li>
							{% endfor %}
							<div class="clearfix"></div>
				       	</ul> 
				    </div>
				</div>
				<div class="air"></div>
				
				<!-- <<<<<<<< Accordion Box B >>>>>>> --><!-- END accordionB-wrap -->

			  <div class="clearfix"></div>
				
				
			</div> <!-- END box660-right -->

			</div>
			</div>
				
{% endblock %}
