{% extends "base2_rt.html" %}
{% load staticfiles %}
{% block scripts %}
		<script type="text/javascript" src="{% static 'js/jquery.banner.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/jquery.simplecms.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}" ></script>
		<script language="javascript">
			var csrftoken = $.cookie('csrftoken');
			function csrfSafeMethod(method) {
				// these HTTP methods do not require CSRF protection
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
			$.ajaxSetup({
				crossDomain: false, // obviates need for sameOrigin test
				beforeSend: function(xhr, settings) {
					if (!csrfSafeMethod(settings.type)) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					}
				}
			});
			window.onload = function() {

			/* submit if elements of class=auto_submit_item in the form changes */
			$(".auto_submit_item").change(function() {
				var payload = {}
				payload[$(this).attr('name')] = $(this.options.selectedIndex)[0];
							
				$.post("",payload);
			});
          //Get a reference to the link on the page
          // with an id of "mylink"
          var a = document.getElementById("EditButton");

          //Set code to run when the link is clicked
          // by assigning a function to "onclick"
          a.onclick = function() {
				if ($('#EditButton').html() == "Click to edit") 
				{
					$('#EditButton').html("Click to save");
					$('.editing').show();
					$('.reading').hide();
				}
				else
				{
					//$('#EditButton').html("Click to edit");
					//$('.editing').hide();
					//$('.reading').show();
					//$.post();
					location.reload();
				}
				return false;
			}
			}
				
			var edit_timeout;
			$(function(){
				$('form').jqTransform({imgPath:'{% static "js/jqtransformplugin/img/" %}'});
				
				topBanner = new BannerSlide({mainContent:'#tabsD', subContent:'ul', item: 'li', arrowLeft:'.btn-ant', arrowRight:'.btn-sig'});
				
				$('.simple_cms').SimpleCMS({
					'onLoadInput':function(){ $('.simple_cms').jqTransform({imgPath:"{% static 'js/jqtransformplugin/img/' %}"}); }
				});
			});
		</script>
		<script type="text/javascript" src="{% static 'js/jquery.menues.js' %}" ></script>
			<!-- <div id="dashboard-wrap" class="porcentaje"> -->
{% endblock %}
{% block header %}
		<div id="header">
				
			<div id="mainnav-fullwidth">		
			
				<div class="navbar">
					<h1 id="rtlogo"><a id="nav-main" class="navtab closed" href="#navtab-main">Start</a><a id="rt-text" href="index.html">Revenue Trades</a></h1>
                    <ul id="navtabs">
                        <li><a id="nav-biz2" href="/discover">Discover</a></li>
                        <li><a id="nav-exp2" href="/how_it_works">How it works</a></li>
					{% if rtuser %}
                    </ul>
                    <div id="user-tab">
                        <div id="b-user-settings">
                            <h3><a href="#">{{ rtuser.first_name }}</a></h3>
                            <div class="user-thumbplus"><a href="#user-settings"><img src="/media/{{ rtuser.photo|default:'user_photos/user_img_large.png' }}" width="50" height="50" alt="Username Settings"></a></div>
                        </div>
                        <div id="user-settings">
                            <div class="border-left"></div>
                            <ul>
                                <li><a href="#">My Profile(s)</a></li>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Settings</a></li>
                                <li><a href="#">Other Link</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                            <div class="border-right"></div>
                        </div> <!-- END user-settings tab -->
                    </div> <!-- END user-tab -->
					{% else %}
						<li class="last"><a class="nav-exp3" href="#">Sign in</a></li>
						<li class="last"><a class="nav-exp3" href="#">Create Account</a></li>
					</ul>
					{% endif %}
					<div class="clearfix"></div>
				</div> <!-- END navbar: wraps all the navigation tabs --><!-- ENDS navtab-wrap -->
			</div> <!-- ENDS mainnav -->
					
		</div> <!-- END header -->
{% endblock %}
{% block leftmenu %}
					
		  <div class="colright" id="funder-menu2">
              	<div class="col2" id="funder-menu">
                    <div class="submenu">
                        <div class="mcontainer">
                        	<ul class="fcontainer">
								<li class="first active">
									<a href="/funder/profile/">
										<span class="icon1">&nbsp;</span>
										<strong>Funder Profile</strong>
									</a>
									<ul>
										<li class="first active">
											<a href="/funder/profile/">
												Details
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="/funder/dashboard/">
										<span class="icon3">&nbsp;</span>
										<strong>Investment Details</strong>
									</a>
									<ul>
										<li class="first active">
											<a href="/funder/dash/">
												Investment Details
											</a>
										</li>
									</ul>
								</li>
							</ul> <!-- END fcontainer -->
                        	<ul class="submenu-inner"></ul>
                        </div> <!-- END mcontainer -->
                    </div>  <!-- END submenu -->
				</div> <!-- END funder-menu -->
			</div>  <!-- END funder-menu2 -->
{% endblock %}
{% block content %}
                    <div class="column-left">
                                {% if editable %}
<!--						<form action="" method="get"> -->
							<div class="apply-form" style="padding-left: 0px;">
									{% endif %}
							  <div class="row">
								<div class="title">
									<h2>Profile Details</h2>
									{% if editable %}
									<div class="btn">
										<div class="button-level2">
											<div class="border">
												<a id="EditButton" href="javascript:void(0);">Click to edit</a>
											</div>
										</div>
									</div>
									{% endif %}
								</div> <!-- END title -->
								<div class="rowElem text text2">
									<div class="reading">
										<h5>{{ contact.first_name }} {{ contact.last_name }}</h5>
                                		<div class="fila">
											<div >{{ contact.street_address|default:"Address" }}</div>
											<div >{{ contact.city_state_zip|default:"City/State/Zip" }}</div>
										</div>
										<div class="fila-last">
											<div >{{ contact.email|default:"Email address" }}</div>
											<div >{{ contact.phone|default:"Phone number" }}</div>
										</div>
									</div>
									{% if editable %}
									<div class="editing">
										<h5>{{ contact_form.first_name }} {{ contact_form.last_name }}</h5>
                                		<div class="fila">
											<div >{{ contact_form.street_address }}</div>
											<div >{{ contact_form.city_state_zip }}</div>
										</div>
										<div class="fila-last">
											<div >{{ contact_form.email }}</div>
											<div >{{ contact_form.phone }}</div>
										</div>
									</div>
									{% endif %}
								</div><!-- END text -->
								<div class="rowElem"><em>
									<div>Privacy Update - At this time all Investor Profiles on Revenue Trades are Private. We respect your privacy.</div>
									<div>Investor Profiles will never be public without your prior expressed approval.</div>
								</em></div>
							</div><!-- END row -->
							<div class="row">
								<div class="title">
									<h3>Investment Interest</h3>
								</div><!-- END title -->
									<div class="reading">
										<div class="rowElem">
                                      		<H5>Net worth:</H5>
                        					<ul class="arrow-listD">
											<li> {{ funder.get_net_worth_display }} </li>
											</ul>
                                 		</div>
										<div class="rowElem">
                                      		<H5>Stage of companies I like:</H5>
                        					<ul class="arrow-listD">
											{{ funder.get_stage_of_interest_display }} </li>
											</ul>
                                 		</div>
										<div class="rowElem">
                                      		<H5>Industry Interests:</H5>
    									
                        					<ul class="arrow-listD">
    										{% for interest in funder.industries_of_interest.all %}
												<li> {{ interest.industry }} </li>
											{% endfor %}
											</ul>
                                 		</div>
									</div>
									{% if editable %}
									<div class="editing">
										{{ funder_form }}
										<form method="POST">
											<div class="rowElem" style="width: 530px;">
												<H5>{{ label }}: <em>(Add all that apply)</em></H5>
												<div class="industries">
													<div class="boxstyle-B clearfix">
														<div class="inside-border clearfix">
															<select name="known-industries" id="known_industries" size="4" multiple>
																{% for industry in industries_list %}
																<option value="{{ industry }}">{{ industry }}</option>
																{% endfor %}
															</select>
														</div>
													</div> 
												</div>
												<div class="industries-btn">
													<div id="add_industry"><input name="add_industry" type="button" value="&raquo;"></div>
													<div id="remove_industry"><input name="remove_industry" type="button" value="&laquo;"></div>
												</div>
												<div class="industries">
													<div class="boxstyle-B clearfix">
														<div class="inside-border clearfix">
															<select name="operating_industries" id="operating_industries" size="4" multiple>
																{% for industry in interested_industries_list %}
																<option value="{{ industry.industry }}">{{ industry.industry }}</option>
																{% endfor %}
															</select>
														</div>
													</div> 
												</div>
											</div>
										</form>										
									</div>
									{% endif %}
								
							</div><!-- END row -->
							{% if editable %}
							<div class="floatright">
								<div class="button-level1">
									<div class="border">
										<a href="/funder/{{ funder.id }}/verify/">Get verified &raquo;</a>
									</div>
								</div>
							</div>
						</div>
<!--					</form> -->
					{% endif %}
				</div><!-- END column-left -->
<script type="text/javascript" >

	sorter = function(a,b)
	{
		a = a['value'];
		b = b['value'];
		var c = a < b ? -1 : 1;
		return a == b ? 0: (a < b ? -1 : 1);
	}
	post_current_list = function()
	{
		var payload = {}
		payload['operating_industries'] = [];
		$('#operating_industries option:selected').each(function() 
		{ 
			payload['operating_industries'].push($(this).attr('value')); 
		});
					
		$.post("",payload);
	}
	
	move_to_operating = function(event)
	{
		$('#known_industries option:selected').appendTo('#operating_industries').attr({selected: true});
		var tmp_options = $('#operating_industries option');
		tmp_options.sort(sorter);
		$('#operating_industries').empty().append(tmp_options);
		$('#operating_industries').find('option').attr('selected','selected');
		post_current_list();
	}
	$('#add_industry').mouseup(move_to_operating);
	move_from_operating = function(event)
	{
		$('#operating_industries option:selected').appendTo('#known_industries').attr({selected: false});
		var tmp_options = $('#known_industries option');
		tmp_options.sort(sorter);
		$('#known_industries').empty().append(tmp_options);
		$('#operating_industries').find('option').attr('selected','selected');
		post_current_list();
	}
	$('#remove_industry').mouseup(move_from_operating);
</script>
                    
{% endblock %}
		
