{% extends "base2_rt.html" %}
{% load staticfiles %}
{% block scripts %}
		<script type="text/javascript" src="{% static 'js/jquery.banner.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/jquery.simplecms.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}" ></script>
		<script language="javascript">
			var csrftoken = $.cookie('csrftoken');
			function csrfSafeMethod(method) {
				// these HTTP methods do not require CSRF protection
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
			$.ajaxSetup({
				crossDomain: false, // obviates need for sameOrigin test
				beforeSend: function(xhr, settings) {
					if (!csrfSafeMethod(settings.type)) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					}
				}
			});
			function toggleEditMode() {
				if ($('#EditButton').html().toUpper() == "CLICK TO EDIT") 
				{
					$('#EditButton').html("Click to save");
					$('editing').hide();
					$('reading').show();
				}
				else
				{
					$('#EditButton').html("Click to Edit");
					$('editing').show();
					$('reading').hide();
					$.post();
				}
			}
				
			var edit_timeout;
			$(function(){
				
				topBanner = new BannerSlide({mainContent:'#tabsD', subContent:'ul', item: 'li', arrowLeft:'.btn-ant', arrowRight:'.btn-sig'});
				
			});
		</script>
		<script type="text/javascript" src="{% static 'js/jquery.menues.js' %}" ></script>
			<!-- <div id="dashboard-wrap" class="porcentaje"> -->
{% endblock %}
{% block header %}
		<div id="header">
				
			<div id="mainnav-fullwidth">		
			
			<div class="navbar">
					<h1 id="rtlogo"><a id="nav-main" class="navtab closed" href="#navtab-main">Start</a><a id="rt-text" href="index.html">Revenue Trades</a></h1>
                    <ul id="navtabs">
                        <li><a id="nav-biz2" href="#">Discover</a></li>
                        <li><a id="nav-exp2" href="#">How it works</a></li>
                    </ul>
                    <div id="user-tab">
                        <div id="b-user-settings">
                            <h3><a href="#">Firstname</a></h3>
                            <div class="user-thumbplus"><a href="#user-settings"><img src="/media/{{ rtuser.photo|default='user_photos/user_img_large.png' }}" width="50" height="50" alt="Username Settings"></a></div>
                        </div>
                        <div id="user-settings">
                            <div class="border-left"></div>
                            <ul>
                                <li><a href="#">My Profile(s)</a></li>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Settings</a></li>
                                <li><a href="#">Other Link</a></li>
                            </ul>
                            <div class="border-right"></div>
                        </div> <!-- END user-settings tab -->
                    </div> <!-- END user-tab -->
				<div class="clearfix"></div>
			</div> <!-- END navbar: wraps all the navigation tabs --><!-- ENDS navtab-wrap -->
			</div> <!-- ENDS mainnav -->
					
		</div> <!-- END header -->
{% endblock %}
{% block leftmenu %}
					
              <div class="colright" id="funder-menu2">
              	<div class="col2" id="funder-menu">
                    <div class="submenu">
                        <div class="mcontainer">
                        <ul class="fcontainer">
                            <li class="first active">
                                <a href="/funder/profile/">
                                    <span class="icon1">&nbsp;</span>
                                    <strong>Funder Profile</strong>
                                </a>
                                <ul>
                                    <li class="first active">
                                        <a href="/funder/profile/">
                                        	Details
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="/funder/dash/">
                                    <span class="icon3">&nbsp;</span>
                                    <strong>Investment Details</strong>
                                </a>
                                <ul>
                                    <li class="first active">
                                        <a href="/funder/dash/">
                                        	Investment Details
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul> <!-- END fcontainer -->
                        <ul class="submenu-inner"></ul>
                        </div> <!-- END mcontainer -->
                    </div>  <!-- END submenu -->
{% endblock %}
{% block content %}
                    <div class="column-left">
						  <div class="row">
				<div class="tabboxB-wrap">
				<ul class="tabs">
				{% for investment in funder.investments.all %}
					<li><a href="#investment-tab-{{ investment.id }}">{{ investment.company.full_name }}</a></li>
				    <div id="investment-tab-{{ investment.id }}" class="tab-content">
                    	<div class="profile">
                        	<div class="highlightB">
                            	<div class="label-border">
                                             </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="title">
                                <div class="btn">
                                    <div class="button-level2">
                                        <div class="border">
                                            <a href="/business/milestone/{{ investment.id }}/">View Milestone</a>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- END title -->
                            <div class="image2">
                             	<div class="highlightB clearfix">
                                    <div class="label-border clearfix">
                                        <img src="{{ investment.company.contact.photo }}" width="221" height="197" alt="Perfil">
                                    </div>
                                </div>
                            </div><!-- END image -->
                            <div class="text text2">
                                <div class="fila">
                                    <div class="labelA status verified">
                                    	<div class="label-border">Verify</div>
                                    </div>
									{{ investment.company.contact.first_name }} {{ investment.company.contact.last_name }}
									{{ investment.company.contact.title }}
									{{ investment.company.full_name }}
                                </div>
								<div class="fila-last">
									<div >{{ investment.company.contact.email }} </div>
									<div >{{ investment.company.contact.phone }}</div>
								</div>
                               
                            </div><!-- END text -->
                        <div class="row">
                        	<h5>Milestone status:</h5>
									{% if investment.company.milestone.achievement.percent_completed > 100 %}
									<div >Completed on {{ investment.company.milestone.achievement.completion_date|date:"M/d" }} </div>
									{% else %}
									<div>{{ investment.company.milestone.achievement.percent_completed }} completed.</div>
									{% endif %}
                        </div>
                        
                        <div class="row">
                        	<h5>Your investment:</h5>
									<div >{{ investment.amount }} </div>
                        </div>
                        
                        <div class="row">
                            <div class="title">
                                <h2>Questions</h2>
                                <div class="btn">
                                    <div class="button-level2">
                                        <div class="border">
                                            <a href="/business/questions/{{ investment.id }}/">Ask a Question</a>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- END title -->
                            <div class="investor_question">
                            {% for question in investment.questions %}
                            	<div class="gtlist">{{ question.question }} </div>
                            	<div class="answer">{{ question.answer }} </div>
                            {% endfor %}
                            </div>
					</div>						
							
                        
					<div class="clearfix"></div>
				    </div> <!-- END Focus Tab -->
                    
				{% endfor %}
				</ul>
{% endblock %}
{% block rightColumn %}
             <div class="col1wrap">
              	<div class="col1">
                    <div class="aside">
                        <div class="row">
                            <div class="title">
                                <h4>Get verified!</h4>
                            </div>
                            <p>You will recieve more funding/experts if you verify with these lorum ipsum dolor.</p>
                            <ul class="logo-list">
                                {% for verifier in verifiers %}
                                <li>
                                	<div class="highlightB clearfix">
                                        <div class="label-border clearfix">
                                            <img src="{{ verifier.logo }}" width="171" height="57" alt="Perfil">
                                        </div>
                                    </div>
                                	<span>{{ verifier.full_name }} {{ verifier.verifiableACtivity }}</span>
                                    <div class="labelA status verified">
                                    	<div class="label-border">Verify</div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
              	</div>
              </div>
			
              </div>
		<!--	</div> --> <!-- END dashboard wrap -->
		
		<div class="clearfix"></div>

		<!--	</div> --><!-- END content-wrap -->
{% endblock %}
		
