<div>
{% for err in form.non_field_errors %}
	<span class="error" style="color: red">{{ err }}</span>
{% endfor %}
{% for field in form.visible_fields %}
	{% if field.errors %}
		{% for err in field.errors %}
			<span class="error" style="color: red">{{ err }}</span>
		{% endfor %}
	{% endif %}
{% endfor %}
</div>
