<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

	<head>
		<title>Revenue Trades</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="{{STATIC_URL}}js/jqtransformplugin/jqtransform.css" type="text/css" media="all" />
		<link rel="stylesheet" type='text/css' media="all" href="{{STATIC_URL}}css/styles.css"/>
		<link rel="stylesheet" type='text/css' media="all" href="{{STATIC_URL}}css/styleguide-page.css"/>
		<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>-->
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.6.2.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/stylecontrol.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/rt_carousel.js" ></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/jqtransformplugin/jquery.jqtransform.js" ></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery.banner.js" ></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery.simplecms.js" ></script>
		<script language="javascript">
			$(function(){
				$('form').jqTransform({imgPath:'{{STATIC_URL}}js/jqtransformplugin/img/'});
				
				topBanner = new BannerSlide({mainContent:'#tabsD', subContent:'ul', item: 'li', arrowLeft:'.btn-ant', arrowRight:'.btn-sig'});
				
				/* TABS */
				$('.labelC_target[rel=2]').css('display','none');//hack to fix problem with jTransform
				$('.labelC').click(function(){
					$('.labelC').removeClass('select');
					$(this).addClass('select');
					
					$('.labelC_target').css('display','none');
					$('.labelC_target[rel='+$(this).attr('rel')+']').css('display','block');
					
				});
				
				$('.services-remplace').SimpleCMS({
					'onLoadInput':function(){ $('form').jqTransform({imgPath:'{{STATIC_URL}}js/jqtransformplugin/img/'});}
				});

			});
			$(document).ready(function(){
				$("textarea").blur(function(){
					$.ajaxSetup({ 
     	 	 			 beforeSend: function(xhr, settings) {
         	 	 			 function getCookie(name) {
             	 	 			 var cookieValue = null;
             	 	 			 if (document.cookie && document.cookie != '') {
                 	 	 			 var cookies = document.cookie.split(';');
                 	 	 			 for (var i = 0; i < cookies.length; i++) {
                     	 	 			 var cookie = jQuery.trim(cookies[i]);
                     	 	 			 // Does this cookie string begin with the name we want?
                 	 	 			 if (cookie.substring(0, name.length + 1) == (name + '=')) {
                     	 	 			 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                     	 	 			 break;
                 	 	 			 }
             	 	 			 }
         	 	 			 }
         	 	 			 return cookieValue;
         	 	 			 }
         	 	 			 if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
             	 	 			 // Only send the token to relative URLs i.e. locally.
             	 	 			 xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
         	 	 			 }
     	 	 			 } 
					});
					$key = $( this ).attr('name');
					$value = $( this ).val();
					$updates = {};
					$updates[$key] = $value;
					$.post('/post/',$updates, function(data, textStatus, jqXHR){
						$( "#errors" ).empty();
						$( "#errors" ).append( data );
					});
				});
			});
		</script>
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery.menues.js" ></script>
		<meta name="viewport" content="width=device-width, initial-scale=1"/> <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug -->
	</head>
	
	<body>
		<div id="all-wrap">	
		
		<div id="header">
				
			<div id="mainnav">		
			
			<div class="navbar">
				<div class="box960">
				<h1 id="rtlogo"><a id="nav-main" class="navtab closed" href="#navtab-main">Start</a><a id="rt-text" href="index.html">Revenue Trades</a></h1>
				<ul id="navtabs">
					<li><a id="nav-biz" class="navtab closed" href="#navtab-biz">Businesses</a></li>
					<li><a id="nav-exp" class="navtab closed" href="#navtab-exp">Experts</a></li>
					<li class="last"><a id="nav-vault" class="navtab closed" href="#navtab-vault">Vault</a></li>
				</ul>
				</div> <!-- END div.box960: this centers the content at 960px width -->
				<div class="clearfix"></div>
			</div> <!-- END navbar: wraps all the navigation tabs -->

			<div class="navtab-wrap">
				 
				<div id="navtab-main" class="navtab-content">
					<div class="box960">
					<div class="box300-left">
					<div class="inside-border">
						<h3>Accomplish:</h3>
						<ul class="link-list">
							<li class="border-dotted"><a href="">See Activity <span class="icon-arrow">></span></a></li>
							<li class="border-dotted"><a href="">Browse Users <span class="icon-arrow">></span></a></li>
							<li class="border-dotted"><a href="">Apply for Roles <span class="icon-arrow">></span></a></li>
							<li class="last"><a href="">Earn Rebates <span class="icon-arrow">></span></a></li>
						</ul>
					</div> <!-- ENDS inside-border -->
					</div> <!-- ENDS Column 1: box300-left -->
					<div class="box300-left">
					<div class="inside-border">
						<h3>Gain Privileges:</h3>
						<ul class="link-list">
							<li class="border-dotted"><a href="">Confirm Your Identity <span class="icon-arrow">></span></a></li>
							<li class="border-dotted"><a href="">Verify Your Background <span class="icon-arrow">></span></a></li>
							<li class="border-dotted"><a href="">Quality Your Income</a> <span class="icon-arrow">></span></li>
							<li class="last"><a href="">Request Confirmation</a> <span class="icon-arrow">></span></li>
						</ul>
					</div> <!-- ENDS inside-border -->
					</div> <!-- ENDS Column 2: box300-left -->
					<div class="box300-right">
					<div class="inside-border">
						<h3>Recruit:</h3>
						<ul class="link-list">
							<li class="border-dotted"><a href="">Businesses</a> <span class="icon-arrow">></span></li>
							<li class="border-dotted"><a href="">Founders</a> <span class="icon-arrow">></span></li>
							<li class="border-dotted"><a href="">Institutions</a> <span class="icon-arrow">></span></li>
							<li class="last"><a href="">Experts</a> <span class="icon-arrow">></span></li>
						</ul>
					</div> <!-- ENDS inside-border -->
					</div> <!-- ENDS Column 3: box300-right -->
					</div> <!-- ENDS box960: this is needed to center content with 960 width -->
					<div class="clearfix"></div>
				</div> <!-- ENDS navtab-main: this is the content of the rt icon tab -->
				
				<div id="navtab-biz" class="navtab-content">
					<div class="box960">
					<div class="box300-left">
					<div class="inside-border">
						<h3>Find Deals:</h3>
						<ul class="link-list">
							<li class="border-dotted"><a href="">Planning <span class="icon-arrow">></span></a></li>
							<li class="border-dotted"><a href="">Taking Proposals <span class="icon-arrow">></span></a></li>
							<li class="border-dotted"><a href="">Fundraising <span class="icon-arrow">></span></a></li>
							<li class="border-dotted"><a href="">Still Growing <span class="icon-arrow">></span></a></li>
							<li class="last"><a href="">Returning Cash <span class="icon-arrow">></span></a></li>
						</ul>
					</div> <!-- ENDS inside-border -->
					</div> <!-- ENDS Column 1: box300-left -->
					<div class="box300-left">
					<div class="inside-border">
						<h3>Support Your Raise:</h3>
						<ul class="link-list">
							<li class="border-dotted"><a href="">Acquire Resources <span class="icon-arrow">></span></a></li>
							<li class="border-dotted"><a href="">Secure Prospects <span class="icon-arrow">></span></a></li>
							<li class="border-dotted"><a href="">Start Projects</a> <span class="icon-arrow">></span></li>
							<li class="border-dotted"><a href="">Validate Decisions</a> <span class="icon-arrow">></span></li>
							<li class="last"><a href="">Just Raise Cash</a> <span class="icon-arrow">></span></li>
						</ul>
					</div> <!-- ENDS inside-border -->
					</div> <!-- ENDS Column 2: box300-left -->
					<div class="box300-right">
					<div class="inside-border discover-tab">
						<h3>Discover Businesses:</h3>
						<div class="featured-profile">
							<p class="small">Featured Business:</p>
							<p class="large">Company Name</p>
							<img class="user_thumb_medium" src="images/ui/usr_thumb_medium_white.png" width="80" height="80" alt="Usr Thumb Medium">
							<div class="button-level2"><div class="border"><a href="#">See Profile</a></div></div>
							<div class="clearfix"></div>
						</div>
						<form class="search-bar-form">
							<input class="searchbar" type="text" name="discover_search_bar" value="Search Businesses"/>
							<input type="submit" name="discover_submit" value="Search" />
							<div class="clearfix"></div>
						</form>
						<ul class="link-list">
							<li class="last"><a href="">Advanced Search <span class="icon-arrow">></span></a></li>
						</ul>
					</div> <!-- ENDS inside-border & discover-tab -->
					</div> <!-- ENDS Column 3: box300-right -->
					</div> <!-- ENDS box960: this is needed to center content with 960 width -->
					<div class="clearfix"></div>
				</div> <!-- ENDS navtab-biz: this is the content of the businesses tab -->
								
				<div id="navtab-exp" class="navtab-content">
					<div class="box960">
					<div class="box300-left">
					<div class="inside-border">
						<h3>Find Experts:</h3>
						<ul class="link-list">
							<li class="border-dotted"><a href="">Helping Deals <span class="icon-arrow">></span></a></li>
							<li class="border-dotted"><a href="">Financial Sponsors <span class="icon-arrow">></span></a></li>
							<li class="last"><a href="">For Your Group <span class="icon-arrow">></span></a></li>
						</ul>
					</div> <!-- ENDS inside-border -->
					</div> <!-- ENDS Column 1: box300-left -->
					<div class="box300-left">
					<div class="inside-border">
						<h3>Provide Expert Help:</h3>
						<ul class="link-list">
							<li class="border-dotted"><a href="">Apply <span class="icon-arrow">></span></a></li>
							<li class="border-dotted"><a href="">Apply as a Sponsor <span class="icon-arrow">></span></a></li>
							<li class="border-dotted"><a href="">Launch a Fund</a> <span class="icon-arrow">></span></li>
							<li class="last"><a href="">Chair a Group</a> <span class="icon-arrow">></span></li>
						</ul>
					</div> <!-- ENDS inside-border -->
					</div> <!-- ENDS Column 2: box300-left -->
					<div class="box300-right">
						<div class="inside-border discover-tab">
							<h3>Discover Experts:</h3>
							<div class="featured-profile">
								<p class="small">Featured Expert:</p>
								<p class="large">Name Lastname</p>
								<img class="user_thumb_medium" src="images/ui/usr_thumb_medium_white.png" width="80" height="80" alt="Usr Thumb Medium">
								<div class="button-level2"><div class="border"><a href="#">See Profile</a></div></div>
								<div class="clearfix"></div>
							</div>
							<form class="search-bar-form">
								<input class="searchbar" type="text" name="discover_search_bar" value="Search Experts"/>
								<input type="submit" name="discover_submit" value="Search" />
								<div class="clearfix"></div>
							</form>
							<ul class="link-list">
								<li class="last"><a href="">Advanced Search <span class="icon-arrow">></span></a></li>
							</ul>
						</div> <!-- ENDS inside-border & discover-tab -->
					</div> <!-- ENDS Column 3: box300-right -->
					</div> <!-- ENDS box960: this is needed to center content with 960 width -->
					<div class="clearfix"></div>
				</div> <!-- ENDS navtab-main: this is the content of the expert tab -->
				
				<div id="navtab-vault" class="navtab-content">
					<div class="box960">
					<div class="box300-left">
					<div class="inside-border">
						<h3>Financials:</h3>
						<ul class="link-list">
							<li class="border-dotted"><a href="">Statement <span class="icon-arrow">></span></a></li>
							<li class="border-dotted"><a href="">Projections <span class="icon-arrow">></span></a></li>
							<li class="border-dotted"><a href="">Payments <span class="icon-arrow">></span></a></li>
							<li class="last"><a href="">Transactions <span class="icon-arrow">></span></a></li>
						</ul>
					</div> <!-- ENDS inside-border -->
					</div> <!-- ENDS Column 1: box300-left -->
					<div class="box300-left">
					<div class="inside-border">
						<h3>Documents:</h3>
						<ul class="link-list">
							<li class="border-dotted"><a href="">Upload Agreements <span class="icon-arrow">></span></a></li>
							<li class="border-dotted"><a href="">Disclose Contracts <span class="icon-arrow">></span></a></li>
							<li class="last"><a href="">Propose Agreements</a> <span class="icon-arrow">></span></li>
						</ul>
					</div> <!-- ENDS inside-border -->
					</div> <!-- ENDS Column 2: box300-left -->
					<div class="box300-right">
					<div class="inside-border">
						<h3>Cash Balance:</h3>
						<ul class="link-list">
							<li class="border-dotted"><a href="">Make Payments</a> <span class="icon-arrow">></span></li>
							<li class="border-dotted"><a href="">Raise Funds</a> <span class="icon-arrow">></span></li>
							<li class="border-dotted"><a href="">Deposit Money</a> <span class="icon-arrow">></span></li>
							<li class="last"><a href="">Withdraw Funds</a> <span class="icon-arrow">></span></li>
						</ul>
					</div> <!-- ENDS inside-border -->
					</div> <!-- ENDS Column 3: box300-right -->
					</div> <!-- ENDS box960: this is needed to center content with 960 width -->
					<div class="clearfix"></div>
				</div> <!-- ENDS navtab-main: this is the content of the vault tab -->
			
			<div class="navtab-closing"><div class="button"></div></div>
			<div class="clearfix"></div>
			</div> <!-- ENDS navtab-wrap -->

			<div class="clearfix"></div>
			</div> <!-- ENDS mainnav -->
						
			<div id="nav-user">
				
				<div id="user-tab">
					<div id="b-user-settings">
						<h3><a href="#">Firstname</a></h3>
						<div class="user-thumbplus"><a href="#user-settings"><img src="images/ui/usr_thumbplus_off.png" width="50" height="50" alt="Username Settings"></a></div>
					</div>
					<div id="user-settings">
						<div class="border-left"></div>
						<ul>
							<li><a href="#">My Profile(s)</a></li>
							<li><a href="#">My Account</a></li>
							<li><a href="#">Settings</a></li>
							<li><a href="#">Other Link</a></li>
						</ul>
						<div class="border-right"></div>
					</div> <!-- END user-settings tab -->
				</div> <!-- END user-tab -->
			
				<div id="nav-user-links">
					<div class="button"><a href="#">Requests <span class="link">(1)</span></a></div>
					<div class="button" id="b-messages"><a class="icon" href="#">Message Center</a></div>
					
						<!--
						<div id="b-tools">
							<a class="icon">Tools</a>
						</div>
						<div id="tools-tab">
							<div class="border-left"></div>
							<ul>
								<li><a href="#">Tool Name</a></li>
								<li><a href="#">Tool Name</a></li>
								<li><a href="#">Tool Name</a></li>
								<li><a href="#">Tool Name</a></li>
							</ul>
							<div class="border-right"></div>
						</div> 
						END tools-tab -->
						
				</div> <!-- END nav-user-links -->
			
			</div> <!-- END nav-user -->
					
		</div> <!-- END header -->
		
		<div id="content-wrap">
		
		<div id="content" class="clearfix">
			
			<div id="dashboard-wrap">
			
				<div class="highlightB clearfix">
					<div class="label-border clearfix">
					
						<div class="bg-right">
							<div class="submenu">
								<div class="mcontainer">
								<ul class="fcontainer">
									<li class="first active">
										<a href="#">
											<span class="icon1">&nbsp;</span>
											<strong>EXPERT PROFILE</strong>
										</a>
										<em class="arrow"></em>
										<ul>
											<li class="first active">
												<a href="/profile/">
													Details
												</a>
											</li>
											<li>
												<a href="/focus/">
													Focus
												</a>
											</li>
											<li>
												<a href="/services/">
													Services
												</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="#">
											<span class="icon2">&nbsp;</span>
											<strong>MY CLIENTS</strong>
										</a>
										<em class="arrow"></em>
										<ul>
											<li class="first">
												<a href="#">
													Milestone
												</a>
											</li>
											<li>
												<a href="#">
													Documents
												</a>
											</li>
											<li>
												<a href="#">
													Conversation
												</a>
											</li>
											<li>
												<a href="#">
													Task
												</a>
											</li>
											<li>
												<a href="#">
													Team
												</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="#">
											<span class="icon3">&nbsp;</span>
											<strong>ProspECTs</strong>
										</a>
										<em class="arrow"></em>
										<ul>
											<li class="first">
												<a href="#">
													Targets (5)
												</a>
											</li>
											<li>
												<a href="#">
													Applicants (13)
												</a>
											</li>
											<li>
												<a href="#">
													Declined (12)
												</a>
											</li>
										</ul>
									</li>
									
								</ul>
								<ul class="submenu-inner"></ul>
								</div>
							</div> <!-- END submenu -->
							<div class="data">
								<div class="column-left">
                                	<div class="title">
										<h2>Description</h2>
									</div><!-- END title -->
									<form action="/services/" method="POST">
										{% csrf_token %}
										<div id="errors"></div>
                                    	<div class="row">
                                        	<label class="services-em">Write your one line elevator pitch. Be consise but informative, this is your pitch to prospective clients.</label>
                                            <div class="services-remplace3">
                                            	<textarea rows="5" cols="66" name="pitch" id="pitch">{{profile.pitch|default_if_none:""}}</textarea>
                                            </div>
                                        </div><!-- END row -->
                                        <div class="row row2">
                                        	<label class="services-em">Describe your services:</label>
                                            <div class="services-remplace3">
                                            	<textarea rows="5" cols="66" name="services" id="services">{{profile.services|default_if_none:""}}</textarea>
                                            </div>
                                        </div><!-- END row -->
                                        <div class="btn-services">
                                        	<input id="submit" class="blue" type="submit" value="PUBLISH &raquo;" />
                                        </div>
									</form>
								</div>
								<div class="aside">
									&nbsp;
								</div>
							</div>
						</div>
						
					</div>
				</div>
			
			
			</div> <!-- END dashboard wrap -->
			
		</div> <!-- END content -->
		
		<div class="clearfix"></div>

		</div> <!-- END content-wrap -->
		
		<div id="footer" class="clearfix">
			<div class="footer clearfix">
				<span><a href="http://twitter.com/#!/revtrades" target="_blank">Twitter</a> | <a href="http://revenuetrades.tumblr.com/" target="_blank">Blog</a> | <a href="http://www.linkedin.com/company/revenue-trades" target="_blank">LinkedIn</a> | <a href="http://www.facebook.com/revenuetrades" target="_blank">Facebook</a> | Email Us: <a href="mailto:info@revenuetrades.com" target="_self" class="mail">info@revenuetrades.com</a>
				</span>
				Copyright 2012. Revenue Trades. All Rights Reserved.
			</div>
		</div> <!-- ENDS footer -->
		
		</div> <!-- END all-wrap -->	
	</body>
	
</html>
