<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

{% extends "profile_base.html" %}

{% block title %}Revenue Trades: Funder Profile{% endblock %}

{% block submenu %}
<li>
	<a href="#">
	<span class="icon1">&nbsp;</span>
	<strong>FUNDER PROFILE</strong>
	</a>
	<ul>
		<li><a href="/profile/">Details</a></li>
		<li><a href="/focus/">Investments</a></li>
	</ul>
</li>
{% endblock %}

<!-- <span class="simple_cms" rel="textbox" id="input:organization">{{profile.expert.organization|default_if_none:'Organization'}}</span> -->
{% block content %}
<div>
	<h2>Profile Details</h2>
	<form>
		<input />
		<input />
	</form>
</div>
{% endblock %}
