<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load staticfiles %}

<html>

	<head>
		<title>Revenue Trades</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="{% static 'js/jqtransformplugin/jqtransform.css' %}" type="text/css" media="all" />
		<link rel="stylesheet" type='text/css' media="all" href="{% static 'css/styles.css' %}"/>
		<link rel="stylesheet" type='text/css' media="all" href="{% static 'css/styleguide-page.css' %}"/>
		<link rel="stylesheet" type='text/css' media="all" href="{% static 'js/fancybox/jquery.fancybox-1.3.4.css' %}"/>
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" id="theme">
		<link rel="stylesheet" href="{% static 'js/multiuploader/styles/jquery.fileupload-ui.css' %}">

        {% block css %}
        {% endblock %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="{% static 'js/vendor/jquery.ui.widget.js' %}"></script>
		<script src="http://blueimp.github.com/JavaScript-Templates/tmpl.min.js"></script>
		<script src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"></script>
		<script src="http://blueimp.github.com/JavaScript-Canvas-to-Blob/canvas-to-blob.min.js"></script>
		<script src="{% static 'js/multiuploader/scripts/jquery.fileupload.js' %}"></script>
		<script src="{% static 'js/multiuploader/scripts/jquery.iframe-transport.js' %}"></script>
		<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>-->
		<!--<script type="text/javascript" src="{% static 'js/jquery-1.6.2.min.js' %}"></script>-->
		<!--<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>-->
    	<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/stylecontrol.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/rt_carousel.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/jquery.ba-resize.min.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/jqtransformplugin/jquery.jqtransform.js' %}" ></script>
    	<script type="text/javascript" src="{% static 'js/jquery.tools.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/fancybox/jquery.fancybox-1.3.4.js' %}" ></script>
		<script language="javascript">
			$(function(){
				//$('form').jqTransform({imgPath:'{% static "js/jqtransformplugin/img/" %}'});
				$('#sign-in').fancybox({'type':'iframe', 'padding':0, 'margin':0, 'width':560, 'height':334, 'overlayColor':'#000','overlayOpacity':0.8});
			});
		</script>
        {% block scripts %}
        {% endblock %}
		<meta name="viewport" content="width=device-width, initial-scale=1"/> <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug -->
	</head>
	
	<body>
		<div id="all-wrap">	
		
			{% block header %}
			{% endblock %}
			<div id="content-wrap" class="clearfix">
			
				<div id="dashboard-wrap" class="porcentaje">
					
					  <div class="colright" id="business-menu2">
						<div class="col2" id="business-menu">
							{% block leftmenu %}
							{% endblock %}

							<div id="contentBlock">
								{% block content %}
								{% endblock %}
							</div> <!-- end Content block -->
						</div> <!-- END business-menu  -->
						<div id="rightColumn">
							{% block rightColumn %}{% endblock %}
						</div><!-- end rightColumn block -->
					</div> <!-- END business-menu2  -->
				</div> <!-- END dashboard-wrap -->
			</div> <!-- END content-wrap -->
		
			{% block footer %}
			<div id="footer" class="clearfix footer-wmg">
				<div class="footer clearfix">
					<span><a href="http://twitter.com/#!/revtrades" target="_blank">Twitter</a> | <a href="http://revenuetrades.tumblr.com/" target="_blank">Blog</a> | <a href="http://www.linkedin.com/company/revenue-trades" target="_blank">LinkedIn</a> | <a href="http://www.facebook.com/revenuetrades" target="_blank">Facebook</a> | Email Us: <a href="mailto:info@revenuetrades.com" target="_self" class="mail">info@revenuetrades.com</a>
					</span>
					Copyright 2012. Revenue Trades. All Rights Reserved.
				</div>
			</div> <!-- ENDS footer -->
        	{% endblock %}
		
		</div> <!-- END all-wrap -->	
	</body>
	
</html>