<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load staticfiles %}

<html>

	<head>
		<title>Revenue Trades</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="{% static 'js/jqtransformplugin/jqtransform.css' %}" type="text/css" media="all" />
		<link rel="stylesheet" type='text/css' media="all" href="{% static 'css/styles.css' %}"/>
		<link rel="stylesheet" type='text/css' media="all" href="{% static 'css/styleguide-page.css' %}"/>
		<link rel="stylesheet" type='text/css' media="all" href="{% static 'js/fancybox/jquery.fancybox-1.3.4.css' %}"/>
        {% block css %}
        {% endblock %}
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
		<!--<script type="text/javascript" src="{% static 'js/jquery-1.6.2.min.js' %}"></script>-->
		<!--<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>-->
    	<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/stylecontrol.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/rt_carousel.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/jquery.ba-resize.min.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/jqtransformplugin/jquery.jqtransform.js' %}" ></script>
    	<script type="text/javascript" src="{% static 'js/jquery.tools.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/fancybox/jquery.fancybox-1.3.4.js' %}" ></script>
		<script language="javascript">
			$(function(){
				$('form').jqTransform({imgPath:'{% static "js/jqtransformplugin/img/" %}'});
				$('#sign-in').fancybox({'type':'iframe', 'padding':0, 'margin':0, 'width':560, 'height':334, 'overlayColor':'#000','overlayOpacity':0.8});
			});
		</script>
        {% block scripts %}
        {% endblock %}
		<meta name="viewport" content="width=device-width, initial-scale=1"/> <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug -->
	</head>
	
	<body>
		<div id="all-wrap" class="clearfix">	
		
		<div id="header" class="clearfix">
				
			<div id="mainnav" class="clearfix">		
			
			<div class="navbar clearfix">
				<div class="box960 clearfix">
					<h1 id="rtlogo">
						<a id="nav-main2" href="#">Start</a>
						<a id="rt-text2" href="#">Revenue Trades</a>
					</h1> 
        {% block headerLinks %}
        {% endblock %}
					<div class="login">
						<a href="/login" target="_self" class="btn-login">Log In</a>
						<div class="floatright">
							<div class="button-level1">
								<div class="border">
									<a href="/home/signup/lightbox" id="sign-in" target="_self">Sign Up</a>
								</div>
							</div>
						</div>
					</div>
				</div> <!-- END div.box960: this centers the content at 960px width -->
				<div class="clearfix"></div>
			</div> <!-- END navbar: wraps all the navigation tabs -->

			<div class="clearfix"></div>
			</div> <!-- ENDS mainnav -->
					
		</div> <!-- END header -->
		<div id="content-wrap">
		
		<div id="content">
			
			<div id="profile-wrap">
    <div id="leftmenu">
        {% block leftmenu %}
        {% endblock %}
    </div> <!-- END leftmenu block -->

    <div id="contentBlock">
        {% block content %}
        {% endblock %}
    </div> <!-- end Content block -->
    <div id="rightColumn">
        {% block rightColumn %}{% endblock %}
    </div><!-- end rightColumn block -->
			</div> <!-- END profile wrap -->
		</div> <!-- END content -->
		
		<div class="clearfix"></div>

		</div> <!-- END content-wrap -->
        {% block footer %}
		<div id="footer" class="clearfix footer-wmg">
			<div class="footer clearfix">
				<span><a href="http://twitter.com/#!/revtrades" target="_blank">Twitter</a> | <a href="http://revenuetrades.tumblr.com/" target="_blank">Blog</a> | <a href="http://www.linkedin.com/company/revenue-trades" target="_blank">LinkedIn</a> | <a href="http://www.facebook.com/revenuetrades" target="_blank">Facebook</a> | Email Us: <a href="mailto:info@revenuetrades.com" target="_self" class="mail">info@revenuetrades.com</a>
				</span>
				Copyright 2012. Revenue Trades. All Rights Reserved.
			</div>
		</div> <!-- ENDS footer -->
		
		</div> <!-- END all-wrap -->	
        {% endblock %}
	</body>
	
</html>