<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load staticfiles %}

<html>

	<head>
		<title>Revenue Trades</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="{% static 'js/jqtransformplugin/jqtransform.css' %}" type="text/css" media="all" />
		<link rel="stylesheet" type='text/css' media="all" href="{% static 'css/styles.css' %}"/>
		<link rel="stylesheet" type='text/css' media="all" href="{% static 'css/styleguide-page.css' %}"/>
		<link rel="stylesheet" type='text/css' media="all" href="{% static 'js/fancybox/jquery.fancybox-1.3.4.css' %}"/>
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" id="theme">
		<link rel="stylesheet" href="{% static 'js/multiuploader/styles/jquery.fileupload-ui.css' %}">

        {% block css %}
        {% endblock %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="{% static 'js/vendor/jquery.ui.widget.js' %}"></script>
		<script src="http://blueimp.github.com/JavaScript-Templates/tmpl.min.js"></script>
		<script src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"></script>
		<script src="http://blueimp.github.com/JavaScript-Canvas-to-Blob/canvas-to-blob.min.js"></script>
		<script src="{% static 'js/multiuploader/scripts/jquery.fileupload.js' %}"></script>
		<script src="{% static 'js/multiuploader/scripts/jquery.iframe-transport.js' %}"></script>
		<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>-->
		<!--<script type="text/javascript" src="{% static 'js/jquery-1.6.2.min.js' %}"></script>-->
		<!--<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>-->
    	<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/stylecontrol.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/rt_carousel.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/jquery.ba-resize.min.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/jqtransformplugin/jquery.jqtransform.js' %}" ></script>
    	<script type="text/javascript" src="{% static 'js/jquery.tools.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/fancybox/jquery.fancybox-1.3.4.js' %}" ></script>
		<script language="javascript">
			$(function(){
				//$('form').jqTransform({imgPath:'{% static "js/jqtransformplugin/img/" %}'});
				$('#sign-in').fancybox({'type':'iframe', 'padding':0, 'margin':0, 'width':560, 'height':334, 'overlayColor':'#000','overlayOpacity':0.8});
			});
		</script>
        {% block scripts %}
        {% endblock %}
		<meta name="viewport" content="width=device-width, initial-scale=1"/> <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug -->
	</head>
	
	<body>
		<div id="all-wrap">	
		
{% block header %}
		<div id="header">
				
			<div id="mainnav-fullwidth">		
			
			<div class="navbar">
					<h1 id="rtlogo"><a id="nav-main" class="navtab closed" href="#navtab-main">Start</a><a id="rt-text" href="/">Revenue Trades</a></h1>
                    <ul id="navtabs">
                        <li><a id="nav-biz2" href="/discover">Discover</a></li>
                        <li><a id="nav-exp2" href="/howitworks.html">How it works</a></li>
					{% if rtuser %}
                    </ul>
                    <div id="user-tab">
                        <div id="b-user-settings">
                            <h3><a href="#">{{ rtuser.first_name }}</a></h3>
                            <div class="user-thumbplus"><a href="#user-settings"><img src="/media/{{ rtuser.photo|default:'user_photos/user_img_large.png' }}" width="50" height="50" alt="Username Settings"></a></div>
                        </div>
                        <div id="user-settings">
                            <div class="border-left"></div>
                            <ul>
                                <li><a href="/home/profile">My Profile(s)</a></li>
                                <li><a href="/home/account">My Account</a></li>
                                <li><a href="/home/settings">Settings</a></li>
                                <li><a href="/home/other">Other Link</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                            <div class="border-right"></div>
                        </div> <!-- END user-settings tab -->
                    </div> <!-- END user-tab -->
					{% else %}
						<li class="last"><a class="nav-exp3" href="#">Sign in</a></li>
						<li class="last"><a class="nav-exp3" href="#">Create Account</a></li>
					</ul>
					{% endif %}
				<div class="clearfix"></div>
			</div> <!-- END navbar: wraps all the navigation tabs --><!-- ENDS navtab-wrap -->
			</div> <!-- ENDS mainnav -->
					
		</div> <!-- END header -->
{% endblock %}
			<div id="content-wrap" class="clearfix">
			
				<div id="dashboard-wrap" class="porcentaje">
					
					  <div class="colright" id="business-menu2">
						<div class="col2" id="business-menu">
							{% block leftmenu %}
                    <div class="submenu">
                        <div class="mcontainer">
							<ul class="fcontainer">
								<li class="first active">
									<a href=".">
										<span class="icon1">&nbsp;</span>
										<strong>Business Profile</strong>
									</a>
									<ul>
										<li class="first active">
											<a href="business-dash-overview.html">
												Business Details
											</a>
										</li>
										<li>
											<a href="#">
												Personal Profile
											</a>
										</li>
										<li>
											<a href="#">
												Focus
											</a>
										</li>
										<li>
											<a href="#">
												Team
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="./milestones">
										<span class="icon2">&nbsp;</span>
										<strong>Milestones</strong>
									</a>
									<ul>
										<li class="first">
											<a href="business-dash-milestone-pitch.html">
												Milestone
											</a>
										</li>
										<!-- <li>
											<a href="#">
												Documents
											</a>
										</li>
										<li>
											<a href="#">
												Conversation
											</a>
										</li>
										<li>
											<a href="#">
												Task
											</a>
										</li> -->
									</ul>
								</li>
								<li>
									<a href="#">
										<span class="icon3">&nbsp;</span>
										<strong>My Experts</strong>
									</a>
									<ul>
										<li class="first">
											<a href="#">
												Targets (5)
											</a>
										</li>
										<li>
											<a href="#">
												Applicants (13)
											</a>
										</li>
										<li>
											<a href="#">
												Declined (12)
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">
										<span class="icon4">&nbsp;</span>
										<strong>Prospects</strong>
									</a>
									<ul>
										<li>
											<a href="./prospective_experts">
												Prospective Experts
											</a>
										</li>
										<li>
											<a href="#">
												Applicants (13)
											</a>
										</li>
										<li>
											<a href="#">
												Declined (12)
											</a>
										</li>
									</ul>
								</li>
								<!-- <li>
										<a href="#"> <span class="icon5">&nbsp;</span> <strong>Community</strong> </a>
										<ul>
											<li class="first">
												<a href="#"> Targets (5) </a>
											</li>
											<li>
												<a href="#"> Applicants (13) </a>
											</li>
											<li>
												<a href="#"> Declined (12) </a>
											</li>
										</ul>
									</li> -->
							</ul>
                        	<ul class="submenu-inner"></ul>
                        </div> <!-- END mcontainer -->
                    </div> <!-- END submenu -->
							{% endblock %}

							<div id="contentBlock">
								{% block content %}
								{% endblock %}
							</div> <!-- end Content block -->
						</div> <!-- END business-menu  -->
						<div id="rightColumn">
							{% block rightColumn %}{% endblock %}
						</div><!-- end rightColumn block -->
					</div> <!-- END business-menu2  -->
				</div> <!-- END dashboard-wrap -->
			</div> <!-- END content-wrap -->
		
			{% block footer %}
			<div id="footer" class="clearfix footer-wmg">
				<div class="footer clearfix">
					<span><a href="http://twitter.com/#!/revtrades" target="_blank">Twitter</a> | <a href="http://revenuetrades.tumblr.com/" target="_blank">Blog</a> | <a href="http://www.linkedin.com/company/revenue-trades" target="_blank">LinkedIn</a> | <a href="http://www.facebook.com/revenuetrades" target="_blank">Facebook</a> | Email Us: <a href="mailto:info@revenuetrades.com" target="_self" class="mail">info@revenuetrades.com</a>
					</span>
					Copyright 2012. Revenue Trades. All Rights Reserved.
				</div>
			</div> <!-- ENDS footer -->
        	{% endblock %}
		
		</div> <!-- END all-wrap -->	
	</body>
	
</html>