<h2>login</h2>
	<h3>Registration</h3>
	<h3>Login</h3>
	<ul>
		<li>THere needs to be a way to log out</li>
	</ul>

<h2>Business</h2>
	<h3>Profile</h3>
	<ul>
		<li>View
			<ul>
				<li><a href="/business/public_profile/">profile</a> without login has weird fonts sizes in header and the signup button is too high </li>
				<li> "check out our live milestone" shouldn't appear if no milestone</li>
				<li>Need default images</li>
				<li>USing is as primary key allows genration of multiple businesses which should be unique</li>
				<li></li>
			</ul>
		</li>
		<li>Edit
			<ul>
				<li>Not getting firstname in header</li>
				<li>Business type pull down styling</li>
				<li>None instead of initial in all fields</li>
				<li>fields not updating when edited</li>
				<li>Mission styling</li>
				<li>Personal profile styling</li>
			</ul>
		</li>
		<li>Links
			<ul>
				<li>milestone points to /business/dash/business-dash-milestone-pitch.html which just goes back to /business/dash/</li>
				<li>experts links to #</li>
				<li>prospects links to/business/dash/business-dash-prospects.html</li>
			</ul>
		</li>
	</ul>
	<h3>Milestone</h3>
	<ul>
		<li>issue 1</li>
	</ul>
<h2>Funder</h2>
	<h3>Profile</h3>
	<ul>
		<li>View
			<ul>
				<li>issue 1</li>
			</ul>
		</li>
		<li>Edit
			<ul>
				<li>issue 1</li>
			</ul>
		</li>
	</ul>
	<h3>Dashboard</h3>
	<ul>
		<li>issue 1</li>
	</ul>
<h2>Expert</h2>
	<h3>Profile</h3>
	<ul>
		<li>View
			<ul>
				<li>issue 1</li>
			</ul>
		</li>
		<li>Edit
			<ul>
				<li>issue 1</li>
			</ul>
		</li>
	</ul>
	<h3>Dashboard</h3>
	<ul>
		<li>issue 1</li>
	</ul>
<h2>Search</h2>
	<ul>
		<li>What should appear before search results?</li>
	</ul>
<h2>General refactor notes</h2>
	<ul>
		<li>rationalize template file names</li>
	</ul>
	
