<H2>Revenue Trades annotated demo map</h2>
<ul>
<li><a href="/">landing page</a></li>
<li><a href="/login">login</a></li>
<li><a href="/logout">logout</a> - logout and return to /</li>
<li><a href="/signup"> - should point back to /</a></li>
<li><a href="/signup/lightbox"> - popup to start registration</a></li>
<li><a href="/signup/step1"> - name and password</a></li>
<li><a href="/signup/step2"> - choose among business, expert, funder (even though landing page already makes the distinction)</a></li>
<li><a href="/signup/details"> - role-based questionaire</a></li>
<li><a href="/signup/business"> - verification message </a></li>
<li><a href="/signup/expert"> - verification message</a></li>
<li><a href="/signup/funder"> - verification message</a></li>
<li><a href="/register">register?</a></li>
<li><a href="/issues">current issues list</a> This wants to move into github soon</li>
<li><a href="/sitemap">This page for now</a>Do we want to publish a sitemap</li>
<li><a href="/admin">admin</a>admin login required</li>
<li><a href="/home">landing page</a></li>
<li><a href="/home/profile">profile</a> switch based on user type</li>
<li><a href="/home/account">account</a> - ???</li>
<li><a href="/home/settings">settings</a> - ???</li>
<li><a href="/home/otherlink">Other link in user heading</a> - ???</li>
<li><a href="/business/milestone/">milestone editor</a></li>
<li><a href="/business/milestone2/">milestone editor 2</a></li>
<li><a href="/business/">business landing page</a>List of businesses if not logged in
 or logged in user has no businesses, 
 list of my businesses if I have more than one, 
 my business profile if I only have one</li>
<li><a href="/business/(\d)">business landing page</a>public profile for business_id=d if not logged in
 or logged in user has no businesses, 
 or logged in user's business profile editor for business_id=d</li>
<li><a href="/business/dashboard">Business Dashboard</a></li>List of businesses if not logged in
 or logged in user has no businesses, 
 list of my businesses if I have more than one, 
 my business' list of funders and milestone status
<li><a href="/business/(\d)/dashboard">business landing page</a>public profile for business_id=d if not logged in
 or logged in user has no businesses, 
 or logged in user's business profile editor for business_id=d</li>
<li><a href="/business/prospecting">prospecting</a>???</li>
<li><a href="/business/public_profile/"> profile view default biz - ought to be search?</a>List of businesses if not logged in
 or logged in user has no businesses, 
 list of my businesses if I have more than one, 
 my business' public profile if I only have one</li>
<li><a href="/business/(\d)/public_profile/">public profile for business_id=d</a></li>
<li><a href="/business/startup"> - initial profile editor</a>List of businesses if not logged in
 or logged in user has no businesses, 
 list of my businesses if I have more than one, 
 my business profile if I only have one</li>
<li><a href="/funder">funder profile</a>root landing page if not logged in
 or logged in user is not an investor, 
 otherwise my investment profile</li>
<li><a href="/funder/public_profile"></a></li>
<li><a href="/funder/startup"></a></li>
<li><a href="/funder/dashboard"></a></li>
<li><a href="/search"></a></li>
<li><a href="/discover"></a></li>
<li><a href="/expert"></a></li>
<li><a href="/expert/public_profile"></a></li>
<li><a href="/expert/focus"></a></li>
<li><a href="/expert/clients"></a></li>
<li><a href="/expert/services"></a></li>
<li><a href="/expert/prospects"></a></li>
<li><a href="/smash"> - reset root password</a></li>
</ul>