{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

	<head>
		<title>Revenue Trades</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
		<script type="text/javascript" src="{% static 'js/stylecontrol.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jqtransformplugin/jquery.jqtransform.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/fancybox/jquery.fancybox-1.3.4.js' %}" ></script>
		<script language="javascript">
			$(function(){
				$('form').jqTransform({imgPath:"{% static 'js/jqtransformplugin/img/' %}"});
				$('#sign-in').fancybox({'type':'iframe', 'padding':0, 'margin':0, 'width':560, 'height':297, 'overlayColor':'#000','overlayOpacity':0.8});
			});
		</script>
		<style type="text/css">
			label { width: 100px; }
		</style>
		<link rel="stylesheet" href="{% static 'js/jqtransformplugin/jqtransform.css' %}" type="text/css" media="all" />
		<link rel="stylesheet" type='text/css' media="all" href="{% static 'css/styles.css' %}"/>
		<link rel="stylesheet" type='text/css' media="all" href="{% static 'css/styleguide-page.css' %}"/>
		<link rel="stylesheet" type='text/css' media="all" href="{% static 'js/fancybox/jquery.fancybox-1.3.4.css' %}"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/> <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug -->
	</head>
	
	<body class="style-guide">
		<div id="page-wrap">
		
		<div id="header">
			<h1>Revenue Trades</h1>
		</div>
		<div id="content">
			<div class="fxborder-tabsep">
				<h2 id="style-fonts-texts" class="tab">Login</h2>
				<h2 id="style-fonts-texts" class="tab"><a href="/home/signup/lightbox" id="sign-in" target="_self">Sign Up</a></h2>
				<div class="bg"></div>
			</div>
			
			<div class="box460-left">
				<div id="schneidlermd-font" class="font-set">
					<h2>Login</h2>
					{% if form.non_field_errors %}
					<div class="form_errors">
						{% for err in form.non_field_errors %}
							<div class="form_error_message">{{ err }}</div>
						{% endfor %}
					</div>	
					{% endif %}
					<form action="." method="POST">
						{% csrf_token %}
						{% for hidden in form.hidden_fields %}
							{{ hidden }}
						{% endfor %}
						{% for field in form.visible_fields %}
							<div class="rowElem{% if field.errors %} field_error{% endif %}">
								{{ field.label_tag }}
								{{ field }}
								{% for err in field.errors %}
									<span class="error_message">{{ err }}</span>
								{% endfor %}
							</div>
						{% endfor %}
						<div class="rowElem">
							<label style="width: 100px;"></label>
							<input class="blue" type="submit" name="submit" value="login" />
						</div>
					</form>
				</div>
			</div>
			
			<hr class="clearfix">
			
		</div> <!-- END content -->
		
		<div id="footer">
			
		</div> <!-- END footer -->
		
		</div> <!-- END page-wrap -->
	</body>
	
</html>
