<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

	<head>
		<title>Revenue Trades: Style Guide</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/stylecontrol.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/jqtransformplugin/jquery.jqtransform.js" ></script>
		<script language="javascript">
			$(function(){
				$('form').jqTransform({imgPath:'{{STATIC_URL}}js/jqtransformplugin/img/'});
			});
		</script>
		<link rel="stylesheet" href="{{STATIC_URL}}js/jqtransformplugin/jqtransform.css" type="text/css" media="all" />
		<link rel="stylesheet" type='text/css' media="all" href="{{STATIC_URL}}css/styles.css"/>
		<link rel="stylesheet" type='text/css' media="all" href="{{STATIC_URL}}css/styleguide-page.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/> <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug -->
	</head>
	
	<body class="style-guide">
		<div id="page-wrap">
		
		<div id="header">
			<h1>Revenue Trades</h1>
		</div>
		<div id="content">
			<div class="fxborder-tabsep">
				<h2 id="style-fonts-texts" class="tab">Registration Complete</h2>
				<div class="bg"></div>
			</div>
			
			<div class="box460-left">
				<div id="schneidlermd-font" class="font-set">
					<h2>Registration Complete</h2>
					<p>Welcome to RevenueTrades</p>
				</div>
			</div>
			
			<hr class="clearfix">
			
		</div> <!-- END content -->
		
		<div id="footer">
			
		</div> <!-- END footer -->
		
		</div> <!-- END page-wrap -->
	</body>
	
</html>
