/*
	Title:			Revenue Trades v2
	Author:			Prida Group - Aime Menendez (www.pridagroup.com)
	Copyright: 		2012

*/


/* ----------- BROWSER RESET & FIXES ----------- */

* { margin: 0; padding: 0; border: none;}



/* ----------- FONT DECLARATIONS ----------- */

@font-face {
    font-family: 'DinLight';
    src: url('../fonts/pfdintextcondpro-light-webfont.eot');
    src: local('☺'), url('../fonts/pfdintextcondpro-light-webfont.woff') format('woff'), url('../fonts/pfdintextcondpro-light-webfont.ttf') format('truetype'), url('../fonts/pfdintextcondpro-light-webfont.svg#PFDinTextCondProLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DinRegular';
    src: url('../fonts/ff_din_condensed_regular-webfont.eot');
    src: local('☺'), url('../fonts/ff_din_condensed_regular-webfont.woff') format('woff'), url('.../fonts/ff_din_condensed_regular-webfont.ttf') format('truetype'), url('.../fonts/ff_din_condensed_regular-webfont.svg#DINCondRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DinMedium';
    src: url('../fonts/pfdintextcondpro-medium-webfont.eot');
    src: local('☺'), url('../fonts/pfdintextcondpro-medium-webfont.woff') format('woff'), url('../fonts/pfdintextcondpro-medium-webfont.ttf') format('truetype'), url('../fonts/pfdintextcondpro-medium-webfont.svg#PFDinTextCondProMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SchneidlerLight';
    src: url('../fonts/schneidlermed-lig-webfont.eot');
    src: local('☺'), url('../fonts/schneidlermed-lig-webfont.woff') format('woff'), url('../fonts/schneidlermed-lig-webfont.ttf') format('truetype'), url('../fonts/schneidlermed-lig-webfont.svg#SchneidlerMediaevalLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SchneidlerMedium';
    src: url('../fonts/schneidlermed-med-webfont.eot');
    src: local('☺'), url('../fonts/schneidlermed-med-webfont.woff') format('woff'), url('../fonts/schneidlermed-med-webfont.ttf') format('truetype'), url('../fonts/schneidlermed-med-webfont.svg#SchneidlerMediaevalMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SchneidlerRegular';
    src: url('../fonts/schneidlermed-reg-webfont.eot');
    src: local('☺'), url('../fonts/schneidlermed-reg-webfont.woff') format('woff'), url('../fonts/schneidlermed-reg-webfont.ttf') format('truetype'), url('../fonts/schneidlermed-reg-webfont.svg#SchneidlerMediaevalRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* ----------- HEADINGS DECLARATIONS ----------- */

h1, h2, h3, h4, h5 {font-weight: normal; color: #2a2a2a; text-shadow: 1px 1px #FFF; text-align: left;}
h1 {font: 3.5em/1 'SchneidlerMedium', 'Georgia'; letter-spacing: -1px; margin-bottom: 15px;}
h2 {font: 3em/1 'SchneidlerMedium', 'Georgia'; letter-spacing: -1px; margin-bottom: 15px;}
h3 {font: 2.5em/1 'SchneidlerMedium', 'Georgia'; letter-spacing: 0px; margin-bottom: 15px;}
h4 {font: 2em/1 'SchneidlerMedium', 'Georgia'; letter-spacing: 0px; margin-bottom: 8px;}
h5 {font: 1.80em/1 'SchneidlerMedium', 'Georgia'; letter-spacing: 0px; margin-bottom: 5px;}

h4.secondary {
	margin-bottom: 10px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode'; font-size: 15px; line-height: 15px; color: #3a87a7;
	text-transform: uppercase; letter-spacing: 0px; font-weight: bold;
}

h5.secondary {
	margin-bottom: 10px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode'; font-size: 14px; line-height: 14px; color: #3a87a7;
	text-transform: uppercase; letter-spacing: 0px; font-weight: bold;
}



.cta-headline {
	font-family: 'DinMedium', 'Lucida Grande', 'Lucida Sans Unicode';
	background: url('../images/ui/arrow_cta_down.png') no-repeat left center; 
	text-transform: uppercase; padding-left: 25px;
}

.cta-headline-tab {
	display: block; width: 100%; height: 50px;
	margin-bottom: 0px;
	background: url('../images/paperbg_reg_bottomborder_isolated.png') repeat-x left bottom;
}

.cta-headline-tab div.wrap {
	display: block; height: 43px; margin-top: 6px;
	background: url('../images/paperbg_reg.png') repeat;
	border: #bebebe solid 1px; border-bottom: none;
	font-size: 26px; line-height: 43px; color: #484848;
	letter-spacing: 0px; text-shadow: 1px 1px #FFF;
}

.cta-headline-tab div.inside-border {
	border: #FFF solid 1px; border-bottom: none;
	padding: 0px 45px;
	background: url('../images/ui/arrow_cta_down.png') no-repeat 15px center; 
}




/* ----------- GENERAL STYLES & UI ELEMENTS DECLARATIONS ----------- */

a:link {text-decoration: none; font-weight: normal; color: #3a87a7;}
a:visited {text-decoration: none; font-weight: normal; color: #3a87a7;}
a:active {text-decoration: none; font-weight: normal; color: #3a87a7;}
a:hover {text-decoration: none; font-weight: normal; color: #484848;}
a {height: 100%;}

body {
	height: 100%;
	font: 0.8em/1.5 'Lucida Grande', 'Lucida Sans Unicode';
	text-align: justify; color: #484848;
	background: url(../images/paperbg_dark.png) repeat top left;
}

#page-wrap {width: 960px; margin: 0 auto;}
#content-wrap {height: 100%; margin: 0 auto;}
#content {width: 960px; height: 100%; margin: 0 auto;}

p {margin-bottom: 10px;}
p a:link, p a:visited, p a:active, p a:hover {font-weight: bold;}
p a:hover {text-decoration: underline;}
p.elegant {font: 1.4em/1.7 'SchneidlerLight', 'Georgia'; text-shadow: 1px 1px #FFF;}
p.elegant a {font: 1.4em/1.7 'SchneidlerMedium', 'Georgia'; text-shadow: 1px 1px #FFF;}
p.article, p.article-intro {font: 1.5em/1.3 'SchneidlerLight', 'Georgia';}
.article a, .article-intro a {font-family: 'SchneidlerRegular', 'Georgia'; font-weight: normal;}
p.article-intro:first-letter {font-size: 2em; line-height: 1em; letter-spacing: -1px;}
p.marginal-note, span.marginal-note {font-size: 0.75em; line-height: 1.5em;}

p.large, span.large {font-size: 18px; line-height: 24px; margin: 0px;}
p.medium, span.medium {font-size: 16px; line-height: 20px; margin: 0px;}
p.small, span.small {font-size: 11px; line-height: 15px; margin: 0px; color:#767676;}
p.xsmall, span.xsmall {font-size: 9px; line-height: 13px; margin: 0px; color:#767676;}

.align-center {text-align: center;}

strong {color: black;}
strong.nobold {color: black; font-weight: normal;}
strong.blue {color: #3a87a7;}

.article strong, .article-intro strong {font-family: 'SchneidlerMedium', 'Georgia'; font-weight: normal;}

ul li {list-style-type: none;}

hr {
	width: 100%; height: 2px; clear: both;
	background: url('../images/ui/dotline_gray.gif') repeat-x left top;
	margin: 25px 0px 20px 0px;
}

hr.tall {margin: 40px 0px 20px 0px;}

hr.fx-hdoublepage {
	width: 100%; height: 100px; clear: both;
	background:  url('../images/ui/hsep_fxdoubleborder.png') repeat-x left top;
}

div.air {width: 100%; height: 20px;}
div.airS {width: 100%; height: 10px;}
div.airM {width: 100%; height: 20px;}
div.airL {width: 100%; height: 40px;}
div.airXL {width: 100%; height: 60px;}

img.icon {margin-left: 5px;}

.notebox {
	padding: 5px 8px;
	background: url('../images/paperbg_reg.png') repeat;
	border: #FFF 1px solid;
	text-shadow: 1px 1px #fff;
}

.floatleft {float: left;}
.floatright {float: right;}

.relative {position: relative;}

.hidden {visibility: hidden; height: 0px; line-height: 0px; overflow: hidden;}

.notebox-hr {
	width: 100%; margin: 50px 0px 20px;
	background: url('../images/ui/dotline_gray.gif') repeat-x left top;
}

.outside-border {
	display: inline-block;
	padding: 4px 0px;
	border: #bebebe 1px solid;
}

.image-border {
	margin: 15px 0px 8px 0px;
	border: #FFF 1px solid;
}

.fxborder-sep {
	width: 960px; height: 145px; display: block; clear: both;
	background: url('../images/paperbg_fxborder.png') no-repeat center 60px;
}

.fxborder-sep-small {
	
}

.fxborder-sep-xs {
	width: 960px; height: 100px; display: block; clear: both;
	background: url('../images/paperbg_fxborder.png') no-repeat center bottom;
}

.fxborder-tabsep {
	width: 960px; height: 80px; padding: 70px 0px 20px 0px; text-align: center; display: block; clear: both; position: relative;
}

.fxborder-tabsep h2.tab {
	height: 45px; margin: 0 auto; padding: 0px 40px; display: inline-block;
	font-size: 24px; line-height: 45px; text-align: center;
	border: 1px solid #dfdfdf; border-top: none; border-bottom: 1px solid #c5c5c5;
	background: url('../images/border_paperbg_reg_top.png') repeat-x left top;
}

.fxborder-tabsep .bg {
	width: 960px; height: 60px; position: absolute; top: 107px; left: 0px; z-index: 10;
	background: url('../images/paperbg_fxborder.png') no-repeat left top;
}

.photo-caption {
	margin-top: 5px;
	font-size: 0.8em;
	line-height: 1.2em;
	text-align: right;
}

.photo-caption .copyright {
	font-style: italic;
}

div.fx-hdoublepage  {
	width: 100%; height: 100px; clear: both;
	background:  url('../images/ui/hsep_fxdoubleborder.png') repeat-x left top;
}


div.newspaper-banner {
	width: 100%; position: relative;
}

div.newspaper-banner .top {
	width: 100%; height: 8px;
	background: url('../images/paperbg_reg_topborder_isolated.png') repeat-x left top;
}

div.newspaper-banner .bottom {
	width: 100%; height: 8px;
	background: url('../images/paperbg_reg_bottomborder_isolated.png') repeat-x left bottom;
}

div.newspaper-banner .container {
	width: 100%; padding: 20px 0px;
	background: url('../images/paperbg_reg.png') repeat;
}




/*  ----- START: TAGS & LABELS  ------ */

.labelA {
	background: #daeef6; border: 1px solid #90bcce;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; /* future proofing */
	-khtml-border-radius: 5px 5px 5px 5px; /* for old Konqueror browsers */
	font-weight: bold; font-size: 12px; line-height: 20px;
	text-shadow: 1px 1px #FFF; text-align: center; color: #3a87a7;
}

.labelA .label-border {
	border: 1px solid #FFF;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; /* future proofing */
	-khtml-border-radius: 5px 5px 5px 5px; /* for old Konqueror browsers */
}

.labelB {
	background: #2f87aa; border: 1px solid #2f87aa;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; /* future proofing */
	-khtml-border-radius: 5px 5px 5px 5px; /* for old Konqueror browsers */
	font-weight: bold; font-size: 12px; line-height: 20px;
	text-shadow: 1px 1px #004a67; text-align: center; color: #FFF;
}

.labelB .label-border {
	border: 1px solid #96cae0;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; /* future proofing */
	-khtml-border-radius: 5px 5px 5px 5px; /* for old Konqueror browsers */
}

.labelC {
	border: 1px solid #bebebe;
	background: url('../images/paperbg_reg.png') repeat; overflow: hidden;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; /* future proofing */
	-khtml-border-radius: 5px 5px 5px 5px; /* for old Konqueror browsers */
	font-weight: bold; font-size: 12px; line-height: 20px;
	text-shadow: 1px 1px #FFF; color: #5e5e5e; text-align: center;
}

.labelC .label-border {
	border: 1px solid #FFF;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; /* future proofing */
	-khtml-border-radius: 5px 5px 5px 5px; /* for old Konqueror browsers */
}

.labelD {
	border: 1px solid #747474;
	background: url('../images/paperbg_medium.png') repeat; overflow: hidden;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; /* future proofing */
	-khtml-border-radius: 5px 5px 5px 5px; /* for old Konqueror browsers */
	font-weight: bold; font-size: 12px; line-height: 20px;
	text-shadow: 1px 1px #585858; color: #FFF; text-align: center;
}

.labelD .label-border {
	border: 1px solid #c4c4c4;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; /* future proofing */
	-khtml-border-radius: 5px 5px 5px 5px; /* for old Konqueror browsers */
}

.labelE {
	border: 1px solid #90bcce;
	background: #daeef6;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; /* future proofing */
	-khtml-border-radius: 5px 5px 5px 5px; /* for old Konqueror browsers */
	font-weight: bold; font-size: 12px; line-height: 20px;
	text-shadow: 1px 1px #FFF; text-align: center; color: #3a87a7;
}

.labelE .label-border {
	border: 2px solid #c9e0e9; 
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; /* future proofing */
	-khtml-border-radius: 5px 5px 5px 5px; /* for old Konqueror browsers */
}

.labelE-arrow {position: relative; padding-bottom: 9px;}
.labelE-arrow .arrow {
	width: 100%; height: 12px; 
	position: absolute; left: 0px; bottom: 0px;
	background: url('../images/ui/tag_blue_arrow.png') no-repeat center bottom;
}

.status {
	height: 15px; 
	text-transform: uppercase; text-align: left; text-indent: 10px; font-weight: bold; font-size: 10px; line-height: 13px;
}

.label-status-wrap .status {float: left; margin: 5px 10px 0px 0px;}

.verified {width: 85px; background: #daeef6 url('../images/ui/icon_verified.png') no-repeat right 4px;}
.unverified {width: 95px;} .unverified .label-border {background: url('../images/ui/icon_unverified.png') no-repeat right 2px;}

.highlightA {
	border: 1px solid #d4d4d4;
	background: url('../images/paperbg_light.png') repeat;
	text-shadow: 1px 1px #FFF;
}

.highlightA .label-border {
	padding: 5px 15px;
	border: 1px solid #FFF;
}

.highlightB {
	border: 1px solid #c8c8c8;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px; /* future proofing */
	-khtml-border-radius: 6px 6px 6px 6px; /* for old Konqueror browsers */
}

.highlightB .label-border {
	padding: 5px 15px; background: #FFF;
	border: 2px solid #f3f3f3; 
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; /* future proofing */
	-khtml-border-radius: 5px 5px 5px 5px; /* for old Konqueror browsers */
}

.tagA {
	background: url('../images/ui/tagA_bg.png') repeat-x left center;
	border-top: 1px solid #c2e4f1;
	border-left: 1px solid #c2e4f1;
	border-right: 1px solid #83c0d8;
	border-bottom: 1px solid #83c0d8;
	-moz-border-radius: 12px 12px 12px 12px;
	-webkit-border-radius: 12px 12px 12px 12px;
	border-radius: 12px 12px 12px 12px; /* future proofing */
	-khtml-border-radius: 12px 12px 12px 12px; /* for old Konqueror browsers */
	text-shadow: 1px 1px #FFF; color: #3a87a7; text-align: center;
}

.tagA .label-border {
	border: 1px solid #edfaff;
	-moz-border-radius: 12px 12px 12px 12px;
	-webkit-border-radius: 12px 12px 12px 12px;
	border-radius: 12px 12px 12px 12px; /* future proofing */
	-khtml-border-radius: 12px 12px 12px 12px; /* for old Konqueror browsers */
}

.tagB {
	background: url('../images/ui/tagB_bg.png') repeat-x left center;
	border-top: 1px solid #cecece;
	border-left: 1px solid #cecece;
	border-right: 1px solid #a1a1a1;
	border-bottom: 1px solid #a1a1a1;
	-moz-border-radius: 12px 12px 12px 12px;
	-webkit-border-radius: 12px 12px 12px 12px;
	border-radius: 12px 12px 12px 12px; /* future proofing */
	-khtml-border-radius: 12px 12px 12px 12px; /* for old Konqueror browsers */
	text-shadow: 1px 1px #FFF; text-align: center;
}

.tagB .label-border {
	border: 1px solid #f3f3f3;
	-moz-border-radius: 12px 12px 12px 12px;
	-webkit-border-radius: 12px 12px 12px 12px;
	border-radius: 12px 12px 12px 12px; /* future proofing */
	-khtml-border-radius: 12px 12px 12px 12px; /* for old Konqueror browsers */
}


/*  ----- END: TAGS & LABELS  ------ */


/*  ----- START: NO-FORM BUTTON STYLES  ------ */

div.button-regular {
	width: 100%; height: 35px; cursor: pointer;
	background: url('../images/ui/button_reg_bg.png') repeat-x left top;
	border-top: 1px solid #cecece;
	border-left: 1px solid #cecece;
	border-right: 1px solid #a1a1a1;
	border-bottom: 1px solid #a1a1a1;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px; /* future proofing */
	-khtml-border-radius: 6px 6px 6px 6px; /* for old Konqueror browsers */
}

div.button-regular .border {
	height: 33px; padding: 0px 20px;
	border: 1px solid #FFF;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px; /* future proofing */
	-khtml-border-radius: 6px 6px 6px 6px; /* for old Konqueror browsers */
}

div.button-regular:hover {
	background: url('../images/ui/button_reg_bg.png') repeat-x left -35px;
	border-top: 1px solid #dedede;
	border-left: 1px solid #dedede;
	border-right: 1px solid #b1b1b1;
	border-bottom: 1px solid #b1b1b1;
}

div.button-regular a {
	width: 100%; display: block;
	font-family: 'DinMedium', 'Lucida Grande', 'Lucida Sans Unicode'; color: #666666;
	font-size: 17px; line-height: 33px;
	text-shadow: 1px 1px #FFF; text-align: center; text-transform: uppercase;
}

div.button-regular a:hover {color: #3a87a7; text-decoration: none;}

div.button-cta {
	width: 100%; height: 35px; cursor: pointer;
	background: url('../images/ui/button_lvl1_bg.png') repeat-x left top;
	border-top: 1px solid #ff762c;
	border-left: 1px solid #ff762c;
	border-right: 1px solid #c64600;
	border-bottom: 1px solid #c64600;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px; /* future proofing */
	-khtml-border-radius: 6px 6px 6px 6px; /* for old Konqueror browsers */
}

div.button-cta-arrow {
	width: 34px; height: 13px; margin: 0 auto;
	background: url('../images/ui/button_lvl1_arrow.png') no-repeat left bottom;
}

div.button-cta .border {
	height: 33px; padding: 0px 20px;
	border: 1px solid #fc813e;
	border-top: 1px solid #fbc4a5;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px; /* future proofing */
	-khtml-border-radius: 6px 6px 6px 6px; /* for old Konqueror browsers */
}

div.button-cta:hover {
	background: url('../images/ui/button_lvl1_bg.png') repeat-x left -35px;
	border-top: 1px solid #ff8644;
	border-left: 1px solid #ff8644;
	border-right: 1px solid #f05500;
	border-bottom: 1px solid #f05500;
}

div.button-cta a {
	width: 100%; display: block;
	font-family: 'DinMedium', 'Lucida Grande', 'Lucida Sans Unicode'; color: #FFF;
	font-size: 17px; line-height: 33px;
	text-shadow: 1px 1px #b13e00; text-align: center; text-transform: uppercase;
}

div.button-cta a:hover {color: #FFF; text-decoration: none;}

div.button-level1 {
	width: 100%; height: 35px; cursor: pointer;
	background: url('../images/ui/button_lvl1_bg.png') repeat-x left top;
	border-top: 1px solid #ff762c;
	border-left: 1px solid #ff762c;
	border-right: 1px solid #c64600;
	border-bottom: 1px solid #c64600;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px; /* future proofing */
	-khtml-border-radius: 6px 6px 6px 6px; /* for old Konqueror browsers */
}

div.button-level1 .border {
	height: 33px; padding: 0px 20px;
	border: 1px solid #fc813e;
	border: none; border-top: 1px solid #fbc4a5;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px; /* future proofing */
	-khtml-border-radius: 6px 6px 6px 6px; /* for old Konqueror browsers */
}

div.button-level1:hover {
	background: url('../images/ui/button_lvl1_bg.png') repeat-x left -35px;
	border-top: 1px solid #ff8644;
	border-left: 1px solid #ff8644;
	border-right: 1px solid #f05500;
	border-bottom: 1px solid #f05500;
}

div.button-level1 a {
	width: 100%; display: block;
	font-family: 'DinMedium', 'Lucida Grande', 'Lucida Sans Unicode'; color: #FFF;
	font-size: 17px; line-height: 33px;
	text-shadow: 1px 1px #b13e00; text-align: center; text-transform: uppercase;
}

div.button-level1 a:hover {color: #FFF; text-decoration: none;}

div.button-level2 {
	width: 100%; height: 35px; cursor: pointer;
	background: url('../images/ui/button_lvl2_bg.png') repeat-x left top;
	border-top: 1px solid #3a87a7; border-bottom: 1px solid #005172;
	border-left: 1px solid #3a87a7; border-right: 1px solid #005172;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px; /* future proofing */
	-khtml-border-radius: 6px 6px 6px 6px; /* for old Konqueror browsers */
}

div.button-level2-arrow {
	width: 34px; height: 14px; margin: 0 auto;
	background: url('../images/ui/button_lvl1_arrow2.png') no-repeat left bottom;
}

/*div.button-level2:hover {
	background: url('../images/ui/button_lvl2_bg.png') repeat-x left -35px;
	border-top: 1px solid #5daaca;
	border-left: 1px solid #5daaca;
	border-right: 1px solid #2b82a6;
	border-bottom: 1px solid #2b82a6;
}*/

div.button-level2 .border {
	height: 34px; padding: 0px 20px;
	border: none;
	border-top: 1px solid #a3daf1;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px; /* future proofing */
	-khtml-border-radius: 6px 6px 6px 6px; /* for old Konqueror browsers */
}

div.button-level2 a {
	width: 100%; display: block;
	font-family: 'DinMedium', 'Lucida Grande', 'Lucida Sans Unicode'; color: #FFF;
	font-size: 17px; line-height: 33px;
	text-shadow: 1px 1px #00587d; text-align: center; text-transform: uppercase;
}

div.button-level2 a:hover {color: #FFF; text-decoration: none;}


/*  ----- END: NO-FORM BUTTON STYLES  ------ */


/*  ----- START: FORM STYLES that override jqTransform Styles  ------ */

form.search-bar-form {margin: 0; padding: 0; position: relative;}

form.search-bar-form button {
	width: 33px; height: 18px; position: absolute; top: 6px; right: 2px;
	padding: 7px 0px 8px 0px;
	text-indent: -10000px; font-size: 0px; line-height: 0px; overflow: hidden;
	background: url('../images/ui/icon_search.png') no-repeat center top;
}

form.search-bar-form button:hover {
	background: url('../images/ui/icon_search.png') no-repeat center -18px;
}

form.search-bar-form button span {background: none;}


/*  ----- START: GRID, BOXES & STYLES  ------ */

.box960 {width: 960px; margin: 0 auto;}

.box60 {width: 60px; margin-bottom: 10px;}
.box140 {width: 140px; margin-bottom: 10px;}
.box220 {width: 220px; margin-bottom: 10px;}
.box300 {width: 300px; margin-bottom: 10px;}
.box380 {width: 380px; margin-bottom: 10px;}
.box460 {width: 460px; margin-bottom: 10px;}

.box60-left {width: 60px; margin-bottom: 10px; margin-right: 20px; float: left;}
.box60-right {width: 60px; margin-bottom: 10px; float: right;}
.box140-left {width: 140px; margin-bottom: 10px; margin-right: 20px; float: left;}
.box140-right {width: 140px; margin-bottom: 10px; float: right;}
.box220-left {width: 220px; margin-bottom: 10px; margin-right: 20px; float: left;}
.box220-right {width: 220px; margin-bottom: 10px; float: right;}
.box240-left {width: 240px; margin-bottom: 10px; margin-right: 20px; float: left;}
.box240-right {width: 240px; margin-bottom: 10px; float: right;}
.box300-left {width: 300px; margin-bottom: 10px; margin-right: 30px; float: left;}
.box300-right {width: 300px; margin-bottom: 10px; float: right;}
.box380-left {width: 380px; margin-bottom: 10px; margin-right: 20px; float: left;}
.box380-right {width: 380px; margin-bottom: 10px; float: right;}
.box440-left {width: 440px; margin-bottom: 10px; margin-right: 20px; float: left;}
.box440-right {width: 440px; margin-bottom: 10px; float: right;}
.box460-left {width: 460px; margin-bottom: 10px; margin-right: 20px; float: left;}
.box460-right {width: 460px; margin-bottom: 10px; float: right;}
.box540-left {width: 540px; margin-bottom: 10px; margin-right: 20px; float: left;}
.box540-right {width: 540px; margin-bottom: 10px; float: right;}
.box620-left {width: 620px; margin-bottom: 10px; margin-right: 20px; float: left;}
.box620-right {width: 620px; margin-bottom: 10px; float: right;}
.box660-left {width: 660px; margin-bottom: 10px; margin-right: 20px; float: left;}
.box660-right {width: 660px; margin-bottom: 10px; float: right;}
.box700-left {width: 700px; margin-bottom: 10px; margin-right: 20px; float: left;}
.box700-right {width: 700px; margin-bottom: 10px; float: right;}

.fluidbox-wrap {display: block; width: 100%; margin: 0 auto;}
.fluidbox-3col {display: block; width: 30%; margin-right: 5%; float: left;}
.fluidbox-3col-last {display: block; width: 30%; margin-right: 0; float: left;}

.fluidbox-2col-1 {display: block; width: 47.5%; margin-right: 5%; float: left;}
.fluidbox-2col-2 {display: block; width: 47.5%; float: left;}


.boxstyle-A {
	background: url('../images/paperbg_reg.png') repeat;
	border: #bebebe solid 1px;
}

.boxstyle-A .inside-border {
	padding: 25px 30px 20px 30px;
	border: #FFF solid 1px;
}

.boxstyle-A-light {
	background: url('../images/paperbg_light.png') repeat;
	border: #d2d2d2 solid 1px;
}

.boxstyle-A-light .inside-border {
	padding: 25px 30px 20px 30px;
	border: #FFF solid 1px;
}

.boxstyle-A-round {
	background: url('../images/paperbg_light.png') repeat;
	border: #d2d2d2 solid 1px;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px; /* future proofing */
	-khtml-border-radius: 8px 8px 8px 8px; /* for old Konqueror browsers */
}

.boxstyle-A-round .inside-border {
	padding: 25px 30px 20px 30px;
	border: #FFF solid 1px;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px; /* future proofing */
	-khtml-border-radius: 8px 8px 8px 8px; /* for old Konqueror browsers */
}

.boxstyle-B {
	border: 1px solid #bebebe;
	background: #fff;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px; /* future proofing */
	-khtml-border-radius: 8px 8px 8px 8px; /* for old Konqueror browsers */
}

.boxstyle-B .inside-border {
	padding: 25px 30px 16px 30px;
	border: 3px solid #f4f4f4;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px; /* future proofing */
	-khtml-border-radius: 8px 8px 8px 8px; /* for old Konqueror browsers */
}

.boxstyle-B.no-padding .inside-border {
	padding: 0px;
}

.boxstyle-C-wrap {position: relative;}

.boxstyle-C-tab {
	width: 100%; height: 50px;
	margin-bottom: 0px;
	background: url('../images/paperbg_reg_bottomborder_isolated.png') repeat-x left bottom;
	position: absolute; top: 0px; z-index: 10;
}

.boxstyle-C-tab div.wrap {
	display: block; height: 43px;
	background: url('../images/paperbg_reg.png') repeat;
	border: #bebebe solid 1px;
	border-bottom: none;
	letter-spacing: 0px;
	text-shadow: 1px 1px #FFF;
}

.boxstyle-C-tab div.inside-border {
	border: #FFF solid 1px;
	border-bottom: none; color: #484848;
	font-family: 'SchneidlerMedium', 'Georgia';
	font-size: 24px; line-height: 43px;
	padding-left: 35px;
}

.boxstyle-C {
	width: 96%; margin-left: 2%;
	border: 1px solid #bebebe;
	background: #fff;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px; /* future proofing */
	-khtml-border-radius: 8px 8px 8px 8px; /* for old Konqueror browsers */
	position: absolute; top: 0px; z-index: 1;
}

.boxstyle-C .inside-border {
	padding: 70px 30px 16px 30px;
	border: 3px solid #f4f4f4;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px; /* future proofing */
	-khtml-border-radius: 8px 8px 8px 8px; /* for old Konqueror browsers */
}

.boxstyle-D-tab {
	width: 100%; height: 50px;
	margin-bottom: 0px;
	background: url('../images/paperbg_reg_bottomborder_isolated.png') repeat-x left bottom;
}

.boxstyle-D-tab div.wrap {
	display: block; height: 43px;
	background: url('../images/paperbg_reg.png') repeat;
	border: #bebebe solid 1px;
	border-bottom: none;
	letter-spacing: 0px;
	text-shadow: 1px 1px #FFF;
}

.boxstyle-D-tab div.inside-border {
	border: #FFF solid 1px;
	border-bottom: none; color: #484848;
	font-family: 'SchneidlerMedium', 'Georgia';
	font-size: 24px; line-height: 43px;
	padding-left: 35px;
}

.boxstyle-D {
	width: 96%; margin-left: 2%;
	border: 1px solid #bebebe;
	border-bottom: none;
	background: #fff;
	-moz-border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
	border-radius: 8px 8px 0px 0px; /* future proofing */
	-khtml-border-radius: 8px 8px 0px 0px; /* for old Konqueror browsers */
}

.boxstyle-D .inside-border {
	padding: 25px 30px 16px 30px;
	border: 3px solid #f4f4f4;
	-moz-border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
	border-radius: 8px 8px 0px 0px; /* future proofing */
	-khtml-border-radius: 8px 8px 0px 0px; /* for old Konqueror browsers */
}

.boxstyle-E-wrap {position: relative;}

.boxstyle-E-tab {
	width: 70%; height: 50px;
	margin-bottom: 0px; margin-left: 15%;
	background: url('../images/paperbg_reg_bottomborder_isolated.png') repeat-x left bottom;
	position: absolute; top: 0px; z-index: 10;
}

.boxstyle-E-tab div.wrap {
	display: block; height: 43px;
	background: url('../images/paperbg_reg.png') repeat;
	border: #bebebe solid 1px;
	border-bottom: none;
	letter-spacing: 0px;
	text-shadow: 1px 1px #FFF;
}

.boxstyle-E-tab div.inside-border {
	border: #FFF solid 1px;
	border-bottom: none; color: #484848;
	font-family: 'SchneidlerMedium', 'Georgia';
	font-size: 24px; line-height: 43px;
	padding-left: 35px;
}

.boxstyle-E {
	border: 1px solid #bebebe;
	background: #fff;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px; /* future proofing */
	-khtml-border-radius: 8px 8px 8px 8px; /* for old Konqueror browsers */
	position: absolute; top: 8px; z-index: 1;
}

.boxstyle-E .inside-border {
	padding: 55px 30px 16px 30px;
	border: 3px solid #f4f4f4;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px; /* future proofing */
	-khtml-border-radius: 8px 8px 8px 8px; /* for old Konqueror browsers */
}

.boxstyle-F-wrap {	position: relative;}

.boxstyle-F-tab {
	width: 70%; height: 50px;
	margin-bottom: 0px; margin-left: 15%;
	background: url('../images/paperbg_reg_bottomborder_isolated.png') repeat-x left bottom;
}

.boxstyle-F-tab div.wrap {
	display: block; height: 43px;
	background: url('../images/paperbg_reg.png') repeat;
	border: #bebebe solid 1px;
	border-bottom: none; border-top: none;
	letter-spacing: 0px;
	text-shadow: 1px 1px #FFF;
}

.boxstyle-F-tab div.inside-border {
	border: #FFF solid 1px;
	border-bottom: none; color: #484848;
	font-family: 'SchneidlerMedium', 'Georgia';
	font-size: 24px; line-height: 43px;
	padding-left: 35px;
}

.boxstyle-F {
	border: 1px solid #bebebe;
	background: #fff;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px; /* future proofing */
	-khtml-border-radius: 8px 8px 8px 8px; /* for old Konqueror browsers */
}

.boxstyle-F .inside-border {
	padding: 25px 30px 16px 30px;
	border: 3px solid #f4f4f4;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px; /* future proofing */
	-khtml-border-radius: 8px 8px 8px 8px; /* for old Konqueror browsers */
}

.newspaper-fxtab .top {
	border-left: 1px solid #d8d8d8;
	height: 14px; background: url('../images/ui/newspaper_fxtab_top.png') no-repeat right top;
}

.newspaper-fxtab .content {
	border-left: 1px solid #d8d8d8;
	padding: 10px 40px; background: url('../images/ui/newspaper_fxtab_bg.png') repeat-y right top;
	text-shadow: 1px 1px #FFF;
}

.newspaper-fxtab .bottom {
	height: 11px; background: url('../images/ui/newspaper_fxtab_bottom.png') no-repeat right bottom;
}

div.newspaper-tab {
	height: 38px; margin: 0 auto; padding-top: 5px; position: relative;
}

div.newspaper-tab div.tab-top {
	width: 100%; height: 20px;
	background: url('../images/paperbg_reg_topborder_isolated.png') repeat-x left top;
	position: absolute; left: 0px; top: 0px; z-index: 5px;
}

div.newspaper-tab div.inside-border {
	position: relative;
	border: #bebebe solid 1px; border-bottom: none; border-top: none;
	background: url('../images/paperbg_reg.png');
}

div.newspaper-tab div.inside-border div.content {
	padding: 0px 20px; 
	border: #FFF solid 1px; border-top: none; border-bottom: none;
	text-shadow: 1px 1px #fff;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode';
	font-size: 15px; line-height: 38px; color: #484848;
	background: url('../images/hshadow_bottomborder_light.png') repeat-x left bottom;
}



/*  ----- END: BOX DIMENSIONS & STYLES  ------ */



/*  ----- START: LISTS STYLES  ------ */


/* -- Bullet List -- */

ul.bullet-listA li {
	list-style-image: url('../images/ui/bullet_sq.gif');
	list-style-position: inside;
	text-align: left;
	margin-bottom: 5px;
}


/* -- Arrow List B -- */

ul.arrow-listB li {
	margin-bottom: 10px; padding-left: 15px; display: block;
	font-size: 13px; line-height: 17px;
	text-align: left;
	background: url('../images/ui/bullet_arrow_lightblue.gif') no-repeat left 7px;
}


/* -- Arrow List C -- */

ul.arrow-listC li {
	margin-bottom: 10px; padding-left: 15px; display: block;
	font-size: 13px; line-height: 17px;
	text-align: left;
	background: url('../images/ui/bullet_arrow_gray.gif') no-repeat left 7px;
}


/* -- Link List -- */

ul.link-list {
	display: block;
}

ul.link-list li {
	list-style-type: none;
	font: 1.2em/1 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
	text-shadow: 1px 1px #fff; 
	text-align: left;
	padding: 10px 0px 12px 0px;
}

ul li.border-dotted {
	display: block;
	background: url('../images/ui/dotline_gray.png') repeat-x left bottom;
}

ul.link-list li.last {
	background: none;
}

ul.link-list li a {
	display: inline-block;
	color: #484848;
}

ul.link-list li a:hover {
	color:#3a87a7;
}


/* -- Link List : Page Navigation Style -- */

ul.page-link-list {
	display: block; padding: 10px 0px 15px 0px;
}

ul.page-link-list li {
	display: block; padding: 6px 10px; margin-right: 6px; float: left;
	border: 1px solid #d5d5d5;
	list-style-type: none;
	text-shadow: 1px 1px #fff; text-align: center; font-size: 14px; line-height: 16px;
	cursor: pointer;
}

ul.page-link-list li:first-child {
	font-size: 16px; font-weight: bold; text-align: left; padding-left: 0px;
	border: none;
}

ul.page-link-list li:hover, ul.page-link-list li.active:hover {
	border-color: #9c9c9c;
}

ul.page-link-list li.active {
	border-color: #bebebe; color: black;
	background: url('../images/paperbg_light.png');
}

/* -- Link List : Plain Navigation Style, Footer Like Nativation -- */


ul.plain-nav-list {
	display: block; padding: 10px 0px 15px 0px;
}

ul.plain-nav-list li {
	display: block; padding: 2px 10px 2px 0px; float: left;
	list-style-type: none;
	text-shadow: 1px 1px #fff; font-size: 14px; font-weight: bold; line-height: 14px;
	cursor: pointer;
	border-right: 1px solid #bebebe; margin-right: 10px;
}

ul.plain-nav-list li:last-child {
	border-right: none; margin-right: 0px;
}

ul.plain-nav-list li.active {
	color: #3a87a7;
}

ul.plain-nav-list li:hover {
	color: #3a87a7;
}

/* -- Block List -- */

div.block-list li {
	display: block; padding: 20px 0px;
	background: url('../images/ui/dotline_gray.gif') repeat-x left bottom;
}

div.block-list li h4 {
	margin: 0px 8px 8px 0px; padding-left: 12px;
	background: url('../images/ui/arrow_blue.png') no-repeat left 7px;
}

div.block-list li h5 {
	font-size: 22px; line-height: 16px;
	margin: 0px 0px 8px 0px; padding-left: 12px;
	background: url('../images/ui/arrow_blue.png') no-repeat left top;
}

div.block-list li p {
	font-size: 12px; line-height: 14px; text-align: justify;
	margin-bottom: 8px; padding-left: 12px;
}

div.block-list li .links {
	padding-left: 12px;
}

div.block-list li .links a {
	font-size: 12px; line-height: 14px; font-weight: bold;
	display: inline-block; margin-right: 10px; 
}

div.block-list li .links span.vsep {
	color:#3a87a7; margin: 0px 8px 0px 0px; display: inline-block; text-align: center;
}


/* -- Image List -- */

ul.image-list {
	background: url('../images/ui/dotline_mediumgray.gif') repeat-x left top;
}

ul.image-list li {
	display: block; padding: 30px 10px 30px 10px;
	background: url('../images/ui/dotline_mediumgray.gif') repeat-x left bottom;
}

ul.image-list li div.image {width: 30%; padding-right: 10%; float: left;}
ul.image-list li div.image img {margin: 0 auto;}

ul.image-list li div.info {width: 60%; float: left; text-align: left; font-size: 11px; line-height: 16px;}
ul.image-list li div.info h4 {margin: 0px;}

ul.image-list.fxborder {
	background: none;
}

ul.image-list.fxborder li {
	display: block; padding: 30px 10px 30px 10px;
	background: url('../images/ui/hsep_fxborder_bottom.png') repeat-x left bottom;
}


/* -- Checkmark List -- */

ul.checkmark-list h4 {
	margin-bottom: 10px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode'; font-size: 14px; line-height: 14px; color: #3a87a7;
	text-transform: uppercase; letter-spacing: 0px; font-weight: bold;
}

ul.checkmark-list li {
	display: block; cursor: pointer;
	border: 1px solid transparent;
	font-size: 15px; line-height: 20px; text-align: left;
}

ul.checkmark-list li div.list-border {
	border: 1px solid transparent;
	padding: 7px 10px 10px 30px;
	background: url('../images/ui/icon_checkmark.png') no-repeat 5px 10px;
}

ul.checkmark-list li:hover {
	border: 1px solid #d4d4d4;
	background: url('../images/paperbg_light.png') repeat;
}

ul.checkmark-list li:hover div.list-border {
	border: 1px solid #FFF;
}

ul.checkmark-list li div.status {
	display: inline-block; margin-top: 4px;
}


/* -- Index List -- */

ul.index-list {
	padding-top: 10px;
}

ul.index-list li {
	display: block; padding: 0px 0px 7px 20px ;
	font-size: 18px; line-height: 24px;
}

ul.index-list li a {color: #2a2a2a;}
ul.index-list li a:hover {color: #3a87a7;}

ul.index-list li.main {
	display: block; padding: 0px 0px 7px 22px ;
	font-family: 'SchneidlerMedium', 'Georgia'; font-size: 22px; line-height: 30px;
	background: url('../images/ui/icon_bookmark_blue.png') no-repeat left 10px;
}




/*  ----- END: LISTS STYLES  ------ */




/* --  TABLES STYLES  -- */


/* ---------  Table A Style --------  */

table.tableA {
	width: 100%;
}

table.tableA th {
	font-size: 13px; line-height: 20px;
	text-align: center; text-transform: uppercase; color: #3a87a7;
}

table.tableA td.table-head {
	font-size: 13px; text-align: center; text-transform: uppercase; color: #137aa5;
}

table.tableA td {
	border: 1px solid #bebebe;
	background: url('../images/paperbg_reg.png') repeat;
	vertical-align: middle;
}

table.tableA.light td {
	border: 1px solid #c8c8c8;
	background: url('../images/paperbg_light.png') repeat;
	vertical-align: middle;
}

table.tableA td.single-line div.border {
	
}

table.tableA td.left, table.tableA td.left div.border {
	-moz-border-radius: 8px 0px 0px 8px;
	-webkit-border-radius: 8px 0px 0px 8px;
	border-radius: 8px 0px 0px 8px; /* future proofing */
	-khtml-border-radius: 8px 0px 0px 8px; /* for old Konqueror browsers */
}

table.tableA td.right, table.tableA td.right div.border {
	-moz-border-radius: 0px 8px 8px 0px;
	-webkit-border-radius: 0px 8px 8px 0px;
	border-radius: 0px 8px 8px 0px; /* future proofing */
	-khtml-border-radius: 0px 8px 8px 0px; /* for old Konqueror browsers */
}

table.tableA td div.border {
	height: 100%; border: 1px solid #FFF;
	font-weight: bold; text-shadow: 1px 1px #fff; text-align: center;
	padding: 15px 5px; line-height: 100%;
}


/* ---------  Table B Style --------  */

table.tableB {
	width: 100%;
}

table.tableB td {
	vertical-align: center; text-shadow: 1px 1px #fff;
	padding: 10px; text-align: center;
	border-bottom: 1px solid #c8c8c8; border-left: 2px solid #c8c8c8;
}

table.tableB tr:last-child td {
	border-bottom: none;
}

table.tableB tr:nth-child(odd) {
	background: url('../images/paperbg_light.png');
}

table.tableB tr td:first-child {
	text-align: left; border-left: none;
}

table.tableB tr.table-head {
	height: 50px; 
	background: url('../images/ui/hsep_fxborder_bottom.png') repeat-x left bottom;
}

table.tableB tr.table-head th {
	padding: 0px 10px;
	font-size: 11px; line-height: 12px; font-weight: bold; color: black;
	text-transform: uppercase; text-align: center; letter-spacing: 1px;
}

table.tableB tr.table-head th:first-child {
	text-align: left;
}





/* --  TABBED BOXES  -- */

/* ---------  Tab Box A  -------- */

div.tabboxA-wrap ul.tabs {
	margin: 0px; padding: 0px;
	float: left; /*--Check if needed--*/
	height: 60px; /*--Set height of tabs--*/
	width: 100%;
}

div.tabboxA-wrap ul.tabs li {
	float: left;
	margin: 0px 8px 0px 0px; padding: 0px;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	height: 60px; /*--Subtract 1px from the height of the unordered list --*/
	line-height: 60px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #767676;
	border-top: none; border-bottom: none;
	overflow: hidden; position: relative;
	background: url('../images/border_paperbg_medium_top.png') repeat-x left top;
}


div.tabboxA-wrap ul.tabs li .inside-fx {
	background: url('../images/tabboxA_shadow.png') repeat-x left bottom;
}

div.tabboxA-wrap ul.tabs li.active .inside-fx {
	background: none;
}

div.tabboxA-wrap ul.tabs li:hover {
	background: url('../images/border_paperbg_dark_top.png') repeat-x left -1px;
}

div.tabboxA-wrap ul.tabs li a {
	display: block;
	padding: 2px 22px 0px 22px;
	color: #FFF;
	font-family: 'DinMedium', 'Lucida Grande', 'Lucida Sans Unicode';
	font-size: 20px; text-transform: uppercase;
	text-shadow: 1px 1px #838383;
	border: 1px solid #bababa; /*-- This creates the bevel look together with the round corners, in IE the round corners won't show --*/
	border-top: none;
	outline: none;
}

div.tabboxA-wrap ul.tabs li:hover {
	border: 1px solid #838383;
	border-top: none; border-bottom: none;
}

div.tabboxA-wrap ul.tabs li a:hover {
	color: #FFF;
	border: 1px solid #9f9f9f;
	border-top: none; border-bottom: none;
	text-shadow: 1px 1px #000;
}

div.tabboxA-wrap ul.tabs li.active {
	height: 61px;
	position: relative;
	z-index: 10;
	border: 1px solid #bebebe;
	border-top: none; border-bottom: none;
	background: url('../images/border_paperbg_reg_top.png') repeat-x left top;
}

div.tabboxA-wrap ul.tabs li.active:hover {
	border: 1px solid #bebebe;
	border-top: none;
	border-bottom: 1px solid #e7e7e7;
} 

div.tabboxA-wrap ul.tabs li.active a {
	color: #484848;
	padding-left: 40px;
	border: 1px solid #FFF; border-top: none; border-bottom: 1px solid #e7e7e7;
	text-shadow: 1px 1px #FFF;
	background: url('../images/ui/arrow_cta_down.png') no-repeat 20px 24px;
}

div.tabboxA-wrap ul.tabs li.active a:hover {
	color: #3a87a7;
}

div.tabboxA-wrap ul.tabs li.active, div.tabboxA-wrap ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	border-bottom: 1px solid #e7e7e7;
}

div.tabboxA-wrap .tab-container {
	border: 1px solid #bebebe;
	overflow: hidden; clear: both; float: left; width: 100%;
	background:url('../images/paperbg_reg.png') repeat;
	position: relative;
}

div.tabboxA-wrap .tab-container .inside-border {
	border: 1px solid #FFF;
}

div.tabboxA-wrap .tab-content {
	padding: 50px 20px 30px 20px;
	text-shadow: 1px 1px #FFF;
}

/* ---------  Tab Box B  -------- */

div.tabboxB-wrap {
	display: block; margin: 30px 0px;
}

div.tabboxB-wrap ul.tabs {
	margin: 0px; padding: 0px;
	float: left; /*--Check if needed--*/
	height: 38px; /*--Set height of tabs--*/
	width: 100%;
}

div.tabboxB-wrap ul.tabs li {
	float: left;
	margin: 0px 8px 0px 0px; padding: 0px;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	height: 37px; /*--Subtract 1px from the height of the unordered list --*/
	line-height: 37px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #bebebe;
	border-bottom: none;
	overflow: hidden; position: relative;
	background: url('../images/paperbg_reg.png') repeat;
	-moz-border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
	border-radius: 8px 8px 0px 0px; /* future proofing */
	-khtml-border-radius: 8px 8px 0px 0px; /* for old Konqueror browsers */
}

div.tabboxB-wrap ul.tabs li a {
	display: block;
	padding: 2px 22px 0px 22px;
	color: #484848;
	font-family: 'SchneidlerMedium', 'Georgia';
	font-size: 22px;
	text-shadow: 1px 1px #fff;
	border: 1px solid #fff; /*-- This creates the bevel look together with the round corners, in IE the round corners won't show --*/
	outline: none;
	-moz-border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
	border-radius: 8px 8px 0px 0px; /* future proofing */
	-khtml-border-radius: 8px 8px 0px 0px; /* for old Konqueror browsers */
}

div.tabboxB-wrap ul.tabs li:hover {
	border: 1px solid #666666;
}

div.tabboxB-wrap ul.tabs li a:hover {
	color: #FFF;
	border: 1px solid #9f9f9f;
	text-shadow: 1px 1px #000;
	background: url('../images/paperbg_dark.png') repeat;
}

div.tabboxB-wrap ul.tabs li.active {
	height: 40px;
	background-image: none;
	position: relative;
	z-index: 10;
}

div.tabboxB-wrap ul.tabs li.active:hover {
	border: 1px solid #bebebe;
	border-bottom: 1px solid #FFF;
}

div.tabboxB-wrap ul.tabs li.active a {
	color:#3a87a7;
	border: 3px solid #f4f4f4; /*-- This creates the bevel look together with the round corners, in IE the round corners won't show --*/
	border-bottom: 3px solid #FFF;
}

div.tabboxB-wrap ul.tabs li.active a:hover {
	text-shadow: none;
	border: 3px solid #f4f4f4;
}

div.tabboxB-wrap ul.tabs li.active, div.tabboxB-wrap ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}

div.tabboxB-wrap .tab-container {
	border: 1px solid #bebebe;
	overflow: hidden; clear: both; float: left; width: 100%;
	background: #fff;
	-moz-border-radius: 0px 8px 8px 8px;
	-webkit-border-radius: 0px 8px 8px 8px;
	border-radius: 0px 8px 8px 8px; /* future proofing */
	-khtml-border-radius: 0px 8px 8px 8px; /* for old Konqueror browsers */
	position: relative;
}

div.tabboxB-wrap .tab-container .inside-border {
	border: 3px solid #f4f4f4;
	-moz-border-radius: 0px 8px 8px 8px;
	-webkit-border-radius: 0px 8px 8px 8px;
	border-radius: 0px 8px 8px 8px; /* future proofing */
	-khtml-border-radius: 0px 8px 8px 8px; /* for old Konqueror browsers */
}

div.tabboxB-wrap .tab-content {
	padding: 40px 30px 30px 30px;
}

/* ---------  Tab Box C -------- */

div.tabboxC-wrap {
	padding-bottom: 30px;
	background: url('../images/ui/dotline_gray.gif') repeat-x left bottom;
	position: relative;
}

div.tabboxC-wrap ul.tabs {
	display: block; height: 80px;
	position: relative;
}

div.tabboxC-wrap ul.tabs div.top {
	width: 100%; height: 2px;
	background: url('../images/ui/dotline_gray.gif') repeat-x left bottom;
	position: absolute; top: 0px; left: 0px; z-index: -5;
}

div.tabboxC-wrap ul.tabs li {
	display: block; height: 48px; float: left;
	margin-right: 15px;
	font-family: 'SchneidlerMedium', 'Georgia'; font-size: 22px; line-height: 44px;
	text-shadow: 1px 1px #FFF;
}

div.tabboxC-wrap ul.tabs li.active {
	border: 1px solid #dbdbdb; border-top: 1px solid #bebebe; border-bottom: none;
	background: url('../images/border_paperbg_reg2.png') repeat-x left bottom;
}

div.tabboxC-wrap ul.tabs li a {
	padding: 0px 20px; 
	color: #484848;
}

div.tabboxC-wrap ul.tabs li a:hover {
	color: #3a87a7;
}

div.tabboxC-wrap ul.tabs li.active a {
	height: 47px; display: block;
	border: 1px solid #FFF; border-bottom: none;
	color: #3a87a7;
}

/* ---------  Tab Box D: this style is only used inside other tabs or accordion boxes  -------- */

div.tabboxD-wrap {position: relative;}

div.tabboxD-wrap ul.tabsD {
	display: block; height: 45px; padding: 30px 0px 0px 30px;
	background: url('../images/ui/hsep_fxborder_bottom.png') repeat-x left bottom;
	position: relative;
}

div.tabboxD-wrap ul.tabsD li {
	float: left;
	height: 45px;
	margin: 0px 6px 0px 0px; padding: 0px;
	line-height: 45px; /*--Vertically aligns the text within the tab--*/
	overflow: hidden; 

}

div.tabboxD-wrap ul.tabsD li a {
	display: block; padding: 0px 14px;
	border: 1px solid transparent; border-bottom: 1px solid transparent;
	font-size: 15px; text-shadow: 1px 1px #fff; letter-spacing: -1px; color: #484848;
}


div.tabboxD-wrap ul.tabsD li.active {
	margin-bottom: -3px;
	height: 43px;
	line-height: 43px; /*--Vertically aligns the text within the tab--*/
	border: 2px solid #eaeaea; border-bottom: none;
	background-color: #FFF;
	-moz-border-radius: 6px 6px 0px 0px;
	-webkit-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px; /* future proofing */
	-khtml-border-radius: 6px 6px 0px 0px; /* for old Konqueror browsers */
}

div.tabboxD-wrap ul.tabsD li.active a {
	border: 1px solid #bebebe; border-bottom: 1px solid #FFF; outline: none;
	color: #3a87a7;
	-moz-border-radius: 6px 6px 0px 0px;
	-webkit-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px; /* future proofing */
	-khtml-border-radius: 6px 6px 0px 0px; /* for old Konqueror browsers */
}

div.tabboxD-wrap ul.tabsD li a:hover {
	color: #3a87a7;
}


div.tabboxD-wrap .tabD-container {
	padding: 20px 30px;
	position: relative;
}


/* ---------  Tab Box E  -------- */

div.tabboxE-wrap {position: relative;}

div.tabboxE-wrap ul.tabsE {
	display: block; height: 45px; padding: 30px 0px 0px 30px;
	position: relative; z-index: 10;
}

div.tabboxE-wrap ul.tabsE li {
	height: 43px; float: left; overflow: hidden; position: relative;
	margin: 0px 6px -3px 0px; padding: 0px;
	line-height: 43px; /*--Vertically aligns the text within the tab--*/
	border: 2px solid #ededed; border-bottom: none;
	background-color: #FFF;
	-moz-border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px; /* future proofing */
	-khtml-border-radius: 10px 10px 0px 0px; /* for old Konqueror browsers */

}

div.tabboxE-wrap ul.tabsE li a {
	display: block; padding: 0px 14px; 
	font-size: 15px; text-shadow: 1px 1px #fff; letter-spacing: -1px; color: #484848;
	border: 1px solid #bebebe; border-bottom: 1px solid #FFF; outline: none;
	-moz-border-radius: 8px 8px 0px 0px;
	-webkit-border-radius: 8px 8px 0px 0px;
	border-radius: 8px 8px 0px 0px; /* future proofing */
	-khtml-border-radius: 8px 8px 0px 0px; /* for old Konqueror browsers */
}


div.tabboxE-wrap ul.tabsE li.active {
	height: 46px; 
	background: url('../images/paperbg_noisepaper.jpg');
	border-bottom: none;
}

div.tabboxE-wrap ul.tabsE li.active a {
	border-bottom: none;
	color: #3a87a7;	
}

div.tabboxE-wrap ul.tabsE li a:hover {
	color: #3a87a7;
}


div.tabboxE-wrap .tabE-container {
	width: 100%; padding: 20px 30px;
	background: url('../images/ui/hsep_fxborder_top.png') repeat-x left top;
	position: absolute; top: 75px;
}




/* --  ACCORDION BOXES  -- */


/* ---------  Accordion Box A   --------  */

div.accordionA-wrap div.accordionA-tab1 {
	background: url('../images/border_paperbg_reg_tall_accordionA.png') repeat-x left bottom;
	border-right: 1px solid #c5c5c5; border-left: 1px solid #c5c5c5;
}

div.accordionA-wrap div.accordionA-tab2 {
	background: url('../images/border_paperbg_reg_mediumlight_bottom_tall_accordionA.png') repeat-x left bottom;
	border-right: 1px solid #c5c5c5; border-left: 1px solid #c5c5c5; 
}

div.accordionA-wrap div.accordionA-tab3 {
	background: url('../images/border_paperbg_medium_bottom_tall.png') repeat-x left bottom;
	border-right: 1px solid #c5c5c5; border-left: 1px solid #c5c5c5; 
}

div.accordionA-wrap div.accordionA-tab1.active .accordion-trigger {background: url('../images/ui/dotline_darkgray.gif') repeat-x left bottom;}
div.accordionA-wrap div.accordionA-tab2.active .accordion-trigger {background: url('../images/ui/dotline_darkgray.gif') repeat-x left bottom;}
div.accordionA-wrap div.accordionA-tab3.active .accordion-trigger {background: url('../images/ui/dotline_darkergray.gif') repeat-x left bottom;}
div.accordionA-wrap div.accordionA-tab1.active, div.accordionA-wrap div.accordionA-tab2.active, div.accordionA-wrap div.accordionA-tab3.active {border-top: 1px solid #c5c5c5;}
div.accordionA-wrap div.accordionA-tab1 div.inside-border, div.accordionA-wrap div.accordionA-tab2 div.inside-border, div.accordionA-wrap div.accordionA-tab3 div.inside-border {border-right: 1px solid #FFF; border-left: 1px solid #FFF; }
div.accordionA-wrap div.accordionA-tab1.active div.inside-border, div.accordionA-wrap div.accordionA-tab2.active div.inside-border, div.accordionA-wrap div.accordionA-tab3.active div.inside-border {border-top: 1px solid #FFF;}

div.accordionA-wrap h3, div.accordionA-wrap p {margin: 0px;}

div.accordionA-wrap div.accordionA-tab1 p {text-shadow: 1px 1px #FFF;}
div.accordionA-wrap div.accordionA-tab2 p, div.accordionA-wrap div.accordionA-tab2 a, div.accordionA-wrap div.accordionA-tab2 h4 {text-shadow: 1px 1px #eaeaea;}
div.accordionA-wrap div.accordionA-tab3 p, div.accordionA-wrap div.accordionA-tab3 a, div.accordionA-wrap div.accordionA-tab3 h4 {text-shadow: 1px 1px #d5d5d5;}

div.accordionA-wrap .accordion-trigger {width: 96%; height: 55px; display: block; margin: 0 auto;}

div.accordionA-wrap .accordion-trigger a {
	width: 100%; height: 55px; display: block;
	padding-left: 30px;
	font-family: 'SchneidlerMedium', 'Georgia'; font-size: 23px; line-height: 55px;
	text-shadow: 1px 1px #FFF; color: #484848;
	background: url('../images/ui/arrow_cta_up.png') no-repeat left 19px;
}

div.accordionA-wrap .accordion-trigger a:hover {color: #3a87a7;}
div.accordionA-wrap div.accordionA-wrap div.accordionA-tab1.active .accordion-trigger a:hover, div.accordionA-wrap div.accordionA-tab2.active .accordion-trigger a:hover, div.accordionA-wrap div.accordionA-tab3.active .accordion-trigger a:hover {
	background: url('../images/ui/arrow_cta_down.png') no-repeat left 19px;
}

div.accordionA-wrap .accordion-container {width: 90%; margin: 0 auto; padding: 40px 0px;}


/* ---------  Accordion Box B   --------  */

div.accordionB-wrap {margin: 14px 0px 20px 0px;}

div.accordionB-wrap h2.accordion-trigger {
	display: block; width: 100%; height: 50px; 
	margin-bottom: 0px;
	background: url('../images/paperbg_reg_bottomborder_isolated.png') repeat-x left bottom;
}

div.accordionB-wrap h2.accordion-trigger div.wrap {
	display: block; height: 42px; margin-top: 6px;
	border: #bebebe solid 1px; border-bottom: none; 
	background: url('../images/paperbg_reg.png') repeat;
}

div.accordionB-wrap h2.accordion-trigger a {
	display: block; padding: 0px 10px;
	border: #FFF solid 1px; border-bottom: none;
	font-size: 22px; line-height: 42px;
	letter-spacing: 0px; text-shadow: 1px 1px #FFF; color: #484848;
	background: url('../images/paperbg_reg.png') repeat;
}

div.accordionB-wrap h2.accordion-trigger a:hover {color:#3a87a7;}

div.accordionB-wrap h2.accordion-trigger a span.icon {
	display: block; float: left; width: 11px; height: 9px;
	margin: 18px 8px 0px 0px;
	background: url('../images/ui/arrow_gray_right.png') no-repeat left top;
}

div.accordionB-wrap h2.accordion-trigger.active a span.icon {
	background: url('../images/ui/arrow_gray_down.png') no-repeat left top;
}

div.accordionB-wrap .accordion-container {
	width: 98%; margin-left: 1%; clear: both;
	border: 1px solid #bebebe; border-top: none;
	margin-bottom: 6px;
	background: #fff;
	-moz-border-radius: 0px 0px 8px 8px;
	-webkit-border-radius: 0px 0px 8px 8px;
	border-radius: 0px 0px 8px 8px; /* future proofing */
	-khtml-border-radius: 0px 0px 8px 8px; /* for old Konqueror browsers */
}

div.accordionB-wrap .accordion-container .inside-border {
	border: 3px solid #f4f4f4;
	border-top: none;
	padding: 20px;
	-moz-border-radius: 0px 0px 8px 8px;
	-webkit-border-radius: 0px 0px 8px 8px;
	border-radius: 0px 0px 8px 8px; /* future proofing */
	-khtml-border-radius: 0px 0px 8px 8px; /* for old Konqueror browsers */
}

/* ---------  Accordion Box C   --------  */

div.accordionC-wrap {
	width: 100%; display: block; 
	border: 1px solid #bebebe; border-top: none;
}

div.accordionC-wrap .accordion-trigger {
	height: 48px; display: block;
	border-top: 1px solid #bebebe; border-bottom: none;
	background: url('../images/paperbg_reg.png') repeat;
}

div.accordionC-wrap .accordion-trigger.active {
	height: 50px; background: url('../images/border_paperbg_reg_bottom.png') repeat-x left bottom;
	border-bottom: none;
}

div.accordionC-wrap h3, div.accordionC-wrap p, div.accordionC-wrap h4 {margin: 0px;}

div.accordionC-wrap .accordion-trigger a {
	height: 46px; display: block; padding-left: 30px;
	font-family: 'SchneidlerMedium', 'Georgia'; font-size: 22px; line-height: 46px;
	text-shadow: 1px 1px #FFF; color: #484848; 
	background:  url('../images/ui/arrow_gray_right.png') no-repeat 12px 18px;
	border: 1px solid #fff;
}

div.accordionC-wrap .accordion-trigger.active a {
	color: #137aa5; border-bottom: none;
	background:  url('../images/ui/arrow_gray_down.png') no-repeat 12px 20px;
}

div.accordionC-wrap .accordion-trigger a:hover {color: #137aa5;}

div.accordionC-wrap .accordion-container {
	padding: 30px 20px 20px 20px;
	border: 3px solid #f2f2f2; border-top: none;
}

div.accordionC-wrap h4 {
	font-size: 2em; margin-bottom: 10px;
}



/*  -- UI INTERACTIVE ELEMENTS: CAROUSEL, SLIDERS, ETC  --  */


.carousel-bar .b-previous {
	width: 30px; height: 36px; float: left;
	cursor: pointer; overflow: hidden;
	background: url('../images/ui/graybar_previous.png') no-repeat left top;
}

.carousel-bar .b-previous:hover {
	background: url('../images/ui/graybar_previous.png') no-repeat -30px top;
}

.carousel-bar .b-next {
	width: 30px; height: 36px; float: left;
	cursor: pointer; overflow: hidden;
	background: url('../images/ui/graybar_next.png') no-repeat -30px top;
}

.carousel-bar .b-next:hover {
	background: url('../images/ui/graybar_next.png') no-repeat left top;
}

.carousel-bar .holder {
	width: 100%; height: 36px; float: left; overflow: hidden;
	background: url('../images/ui/graybar_bg.png') repeat-x left top; position: relative;
}

.carousel-bar .holder .slide-wrap {
	width: 1200px; height: 26px; position: absolute; top: 5px; left: 0px;
}

.dropdown-bar-wrap {position: relative;}

.dropdown-bar {position: absolute; top: 0px; left: 0px; z-index: 10;}

.dropdown-bar .left {
	width: 10px; height: 36px; float: left;
	background: url('../images/ui/graybar_left.png') no-repeat left top;
}

.dropdown-bar .button {
	width: 40px; height: 36px; float: left; cursor: pointer;
	background: url('../images/ui/graybar_dropdown_button.png') no-repeat left top;
}

.dropdown-bar .button:hover {
	background: url('../images/ui/graybar_dropdown_button.png') no-repeat left -36px;
}

.dropdown-bar .button.active {
	background: url('../images/ui/graybar_dropdown_button.png') no-repeat left -72px;
}

.dropdown-bar .button.active:hover {
	background: url('../images/ui/graybar_dropdown_button.png') no-repeat left bottom;
}

.dropdown-bar .holder {
	height: 36px; float: left; overflow: hidden; 
	background: url('../images/ui/graybar_bg.png') repeat-x left top; position: relative;
}

.dropdown-bar .holder .label {
	font-family: 'SchneidlerMedium', 'Georgia'; font-size: 24px; line-height: 36px;
	text-shadow: 1px 1px #FFF;
}

.dropdown-bar-wrap .dropdown-bar-panel {
	border: 1px solid #bebebe;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px; /* future proofing */
	-khtml-border-radius: 6px 6px 6px 6px; /* for old Konqueror browsers */
	
}

.dropdown-bar-wrap .dropdown-bar-panel .dropdown-bar-inborder {
	padding: 50px 40px 10px 160px;
	border: 3px solid #f4f4f4; border-top: none;
	-moz-border-radius: 0px 0px 8px 8px;
	-webkit-border-radius: 0px 0px 8px 8px;
	border-radius: 0px 0px 8px 8px; /* future proofing */
	-khtml-border-radius: 0px 0px 8px 8px; /* for old Konqueror browsers */
	
}

.dropdown-bar-wrap .positionfix {height: 40px;}

.milestones-progression-bar-wrap {position: relative; clear: both;}

.milestones-progression-bar .label-border{position: relative; padding-left: 30px;}

.milestones-progression-bar .left-limit {position: absolute; top: 1px; left: 10px; font-weight: bold;}

.milestones-progression-bar .right-limit {position: absolute; top: 1px; right: 10px; font-weight: bold;}

.milestones-progression-bar .progression-slide {width: 100%; height: 10px; padding: 5px;}

.milestones-progression-bar .progression-slide .left {
	width: 10px; height: 10px; float: left;
	background: url('../images/ui/progression_bar_left.png') no-repeat left center;
}

.milestones-progression-bar .progression-slide .right {
	width: 10px; height: 10px; float: left;
	background: url('../images/ui/progression_bar_right.png') no-repeat right center;
}

.milestones-progression-bar .progression-slide .slide {
	height: 10px; float: left;
	background: url('../images/ui/progression_bar_bg.png') repeat-x left center;
}



/*  -- USER IMAGES  --  */

.user-thumbnail-whitebox-wrap {
	padding: 2px;
	border: 1px solid #bebebe;
	background: #f4f4f4;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; /* future proofing */
	-khtml-border-radius: 5px 5px 5px 5px; /* for old Konqueror browsers */
	position: relative;
}

.user-thumbnail-whitebox {
	background: #FFF;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px; /* future proofing */
	-khtml-border-radius: 4px 4px 4px 4px; /* for old Konqueror browsers */
}

.user-thumbnail-whitebox-wrap .user-thumbnail-plus {
	position: absolute; top: -6px; right: -6px; z-index: 10; cursor: pointer;
	width: 12px; height: 12px;
	background: url('../images/ui/icon_more.png') no-repeat left top;
}

.user-thumbnail-whitebox-wrap .user-thumbnail-plus:hover {
	background: url('../images/ui/icon_more.png') no-repeat left bottom;
}

.user-thumbnail-whitebox img {
	width: 100%; height: 100%; overflow: hidden; cursor: pointer;
}

.user-thumbnail-80 {
	width: 74px; height: 74px;  /* 80px minus 6px for the 1px solid border around + the 2px padding */
}

.user-thumbnail-80 img {
	width: 74px; height: 74px;
}

img.user_thumb_medium {
	width: 80px; height: 80px; display: block; overflow: hidden;
}

.user-thumbnail-graybox-50 {
	width: 50px; height: 50px; display: block; overflow: hidden; position: relative;
	background: url('../images/paperbg_sqroundbox_50.png') no-repeat center center;
}

.user-thumbnail-graybox-75 {
	width: 75px; height: 75px; display: block; overflow: hidden; position: relative;
	background: url('../images/paperbg_sqroundbox_75.png') no-repeat center center;
}

.user-thumbnail-graybox-100 {
	width: 100px; height: 100px; display: block; overflow: hidden; position: relative;
	background: url('../images/paperbg_sqroundbox_100.png') no-repeat center center;
}

.user-thumbnail-graybox-130 {
	width: 130px; height: 130px; display: block; overflow: hidden; position: relative;
	background: url('../images/paperbg_sqroundbox_130.png') no-repeat center center;
}

.user-thumbnail-graybox-150 {
	width: 150px; height: 150px; display: block; overflow: hidden; position: relative;
	background: url('../images/paperbg_sqroundbox_150.png') no-repeat center center;
}



/* --  ICONS  -- */

div.icon-arrow, span.icon-arrow {
	display: inline-block;
	width: 9px; height: 100%;
	text-indent: -10000px;
	background: url('../images/ui/arrow_blue.png') no-repeat right bottom;
}

div.icon-downarrow, span.icon-downarrow {
	display: inline-block; overflow: hidden;
	width: 14px; height: 8px;
	line-height: 0px; text-indent: -10000px;
	background: url('../images/ui/icon_downarrow.png') no-repeat center center;
}

div.icon-verified, span.icon-verified {
	display: inline-block; overflow: hidden;
	width: 19px; height: 100%;
	line-height: 0px; text-indent: -10000px;
	background: url('../images/ui/icon_checkmark2.png') no-repeat center center;
}


/* ----------- HEADER DECLARATIONS ----------- */


/* ----------- MAIN NAV ----------- */

#header {width: 100%; height: 115px; background: #FFF;}

#mainnav {position: relative; padding: 38px 0px 0px 0px; margin: 0; width: 100%;}

#mainnav div.navbar {
	width: 100%; height: 80px;
	background: url('../images/navbar.png') repeat-x left top;
	position: absolute; top: 0px; left: 0px; z-index: 10;
}

#mainnav div.navbar #rtlogo {
	width: 381px; display: block; float: left;
	font-size: 20px;
}

#mainnav div.navbar #rtlogo #nav-main {
	width: 81px; height: 75px; float: left; display: block;
	text-indent: -10000px; font-size: 0px; line-height: 0px; overflow: hidden; 
	background: url('../images/navtab_main_off.png') no-repeat left 4px;
}

#mainnav div.navbar #rtlogo #nav-main:hover {
	background: url('../images/navtab_main_on.png') no-repeat left 4px;
}

#mainnav div.navbar #rtlogo #nav-main.active {
	background: url('../images/navtab_main_selected.png') no-repeat left 4px;
}

#mainnav div.navbar #rtlogo #nav-main2 {
	width: 81px; height: 75px; float: left; display: block;
	text-indent: -10000px; font-size: 0px; line-height: 0px; overflow: hidden; 
	background: url('../images/navtab_main_off2.png') no-repeat left 4px;
}

#mainnav div.navbar #rtlogo #nav-main2:hover {
	background: url('../images/navtab_main_on2.png') no-repeat left 4px;
}


#mainnav div.navbar #rtlogo #rt-text {
	width: 100px; height: 69px; float: left; display: block;
	text-indent: -10000px; font-size: 0px; line-height: 0px; overflow: hidden;
	background: url('../images/nav_rttext_off.png') no-repeat 3px 12px;
}

#mainnav div.navbar #rtlogo #rt-text:hover {
	background: url('../images/nav_rttext_on.png') no-repeat 3px 12px;
}

#mainnav div.navbar #rtlogo #rt-text2 {
	width: 220px; height: 69px; float: left; display: block;
	text-indent: -10000px; font-size: 0px; line-height: 0px; overflow: hidden;
	background: url('../images/nav_rttext_off2.png') no-repeat 0 0;
}

#mainnav div.navbar #navtabs {
	width: 779px; height: 75px; float: left; display: block;
}

#mainnav div.navbar #navtabs li {
	height: 63px; display: block; float: left; cursor: pointer;
}

#mainnav div.navbar #navtabs li.last {float: right;}

#nav-biz {
	width: 171px; height: 63px; float: left;
	text-indent: -10000px; font-size: 0px; line-height: 0px; overflow: hidden;
	background: url('../images/navtab_biz_off.png') no-repeat left 4px;
}

#nav-biz:hover {background: url('../images/navtab_biz_on.png') no-repeat left 4px;}
#nav-biz.active {background: url('../images/navtab_biz_selected_off.png') no-repeat left 4px;}
#nav-biz.active:hover {background: url('../images/navtab_biz_selected_on.png') no-repeat left 4px;}

#nav-exp {
	width: 141px; height: 63px; float: left;
	text-indent: -10000px; font-size: 0px; line-height: 0px; overflow: hidden;
	background: url('../images/navtab_exp_off.png') no-repeat right 4px;
}

#nav-exp:hover {background: url('../images/navtab_exp_on.png') no-repeat right 4px;}
#nav-exp.active {background: url('../images/navtab_exp_selected_off.png') no-repeat right 4px;}
#nav-exp.active:hover {background: url('../images/navtab_exp_selected_on.png') no-repeat right 4px;}

#nav-vault {
	width: 74px; height: 63px; float: right;
	text-indent: -10000px; font-size: 0px; line-height: 0px; overflow: hidden;
	background: url('../images/navtab_vault_off.png') no-repeat left 4px;
}

#nav-vault:hover {background: url('../images/navtab_vault_on.png') no-repeat left 4px;}
#nav-vault.active {background: url('../images/navtab_vault_selected_off.png') no-repeat left 4px;}
#nav-vault.active:hover {background: url('../images/navtab_vault_selected_on.png') no-repeat left 4px;}

#mainnav div.navtab-content {
	width: 100%; height: 100%; padding-top: 60px;
	background: url('../images/paperbg_noisepaper.jpg') repeat;
}

#mainnav #navtab-main {height: 255px;} 
#mainnav #navtab-biz {height: 300px;} 
#mainnav #navtab-exp {height: 300px;} 
#mainnav #navtab-vault {height: 250px;} 

#mainnav div.navtab-content div.box300-left, #mainnav div.navtab-content div.box300-right {
	width: 298px;
	border: 1px solid transparent;
}

#mainnav div.navtab-content div.box300-left div.inside-border, #mainnav div.navtab-content div.box300-right div.inside-border {
	padding: 25px 30px 16px 30px;
	border: 3px solid transparent;
}

#mainnav div.navtab-content div.box300-left:hover, #mainnav div.navtab-content div.box300-right:hover, #mainnav #navtab-biz div.box300-right , #mainnav #navtab-exp div.box300-right {
	border: 1px solid #bebebe;
	background: #fff;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px; /* future proofing */
	-khtml-border-radius: 8px 8px 8px 8px; /* for old Konqueror browsers */
}

#mainnav div.navtab-content div.box300-left:hover div.inside-border, #mainnav div.navtab-content div.box300-right:hover div.inside-border, #mainnav #navtab-biz div.box300-right div.inside-border, #mainnav #navtab-exp div.box300-right div.inside-border {
	padding: 25px 30px 16px 30px;
	border: 3px solid #f4f4f4;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px; /* future proofing */
	-khtml-border-radius: 8px 8px 8px 8px; /* for old Konqueror browsers */
}

#mainnav div.navtab-content h3 {
	height: 35px; display: block; padding-left: 22px; margin-bottom: 0px;
	font-size: 24px; line-height: 24px;
	background: url('../images/ui/arrow_cta_down.png') no-repeat left 5px;
}

#mainnav div.navtab-closing {
	width: 100%; height: 20px; margin-bottom: 10px;
	background: url('../images/nav_bg_openpanel_border.jpg') repeat-x left bottom;
}

#mainnav div.navtab-closing div.button {
	width: 39px; height: 20px; cursor: pointer; margin: 0 auto;
	background: url('../images/nav_bg_openpanel_arrow.jpg') no-repeat left top;
}

#mainnav div.navtab-closing div.button:hover {background: url('../images/nav_bg_openpanel_arrow.jpg') no-repeat left -20px;}

#mainnav div.discover-tab {
	background: url('../images/ui/hsep_fxborder_bottom.png') repeat-x left 52%;
}

#mainnav div.discover-tab h3 {
	padding-bottom: 20px;
}

#mainnav div.discover-tab div.featured-profile {
	padding: 0px 0px 20px 0px; margin: 0px 0px 20px 0px; position: relative;
}

#mainnav div.discover-tab div.featured-profile div.button-level2 {
	width: 120px; height: 24px; float: left; 
	background: url('../images/ui/button_lvl2_bg.png') repeat-x left -6px;
}

#mainnav div.discover-tab div.featured-profile div.button-level2 a {font-size: 16px; line-height: 24px;}

#mainnav div.discover-tab div.featured-profile div.button-level2:hover {
	background: url('../images/ui/button_lvl2_bg.png') repeat-x left -41px;
}

#mainnav div.discover-tab div.featured-profile div.button-level2 .border {height: 23px; padding: 0px 0px;}

#mainnav div.discover-tab div.featured-profile p.large {
	padding-bottom: 15px;
}

#mainnav div.discover-tab div.featured-profile img.user_thumb_medium {position: absolute; top: 0px; right: 0px;}

#mainnav div.discover-tab form.search-bar-form input.searchbar {width: 222px;}



/* -- NAV USER: style declarations for the user thumbnail & links -- */

#nav-user {
	width: 960px; height: 60px; margin: 0 auto 30px auto; padding: 5px 15px 0px 0px;
	border-bottom: 2px dotted #cfcfcf;
	position: relative;
}

#nav-user a {color: #484848;}
#nav-user a:hover {color: #3a87a7;}

#user-tab {
	height: 50px; float: right;
}

#user-tab h3 {
	display: block; float: left;
	padding: 0px 12px;
	font-size: 20px;
	line-height: 50px; /* -- this vertically centers the text according to the height of the parent element: user-tab 48px -- */
	background: url('../images/ui/vsep_usertab.png') no-repeat left center;
}

#user-tab div.user-thumbplus {
	float: left;
}

#nav-user-links {
	height: 50px;
	line-height: 50px;
	float: right;
	position: relative;
}

#nav-user-links div {
	float: left;
}

#nav-user-links div.button {
	padding: 0px 12px;
	font-family: 'SchneidlerMedium', 'Georgia';
	font-size: 18px;
	color: #666666;
	background: #FFF url('../images/ui/vsep_usertab.png') no-repeat left center;
}

#nav-user-links div.button:first-child {background: none;}

#nav-user-links div.button span.link {color: #3a87a7;}

#nav-user-links #b-messages, #nav-user-links #b-tools  {height: 50px;}

#nav-user-links #b-messages a.icon {
	display: block;
	width: 20px; height: 14px;
	margin-top: 19px;
	background: url('../images/ui/icon_email.png') no-repeat left top;
	text-indent: -10000px;
	cursor: pointer;
}

#nav-user-links #b-messages a.icon:hover {background: url('../images/ui/icon_email.png') no-repeat left -14px;}

#nav-user-links #b-tools a.icon {
	display: block;
	width: 17px; height: 17px;
	margin-top: 18px;
	background: url('../images/ui/icon_gear.png') no-repeat left top;
	text-indent: -10000px;
	cursor: pointer;
}

#nav-user-links #b-tools a.icon:hover {background: url('../images/ui/icon_gear.png') no-repeat left -17px;}

#user-tab div.user-thumbplus {
	float: left;
}

#user-settings {background: #FFF; height: 55px; display: none;}

#user-settings div.border-left {
	width: 19px; height: 50px; float: left;
	background: url('../images/ui/navuser_box_expand_left_closing_button_off.png') no-repeat left 2px;
	cursor: pointer;
}

#user-settings div.border-left:hover {background: url('../images/ui/navuser_box_expand_left_closing_button_on.png') no-repeat left 2px;}

#user-settings div.border-right {
	width: 50px; height: 50px; float: left;
	background: url('../images/ui/navuser_box_expand_right_usrthumbplus_off.png') no-repeat right center;
	cursor: pointer;
}

#user-settings div.border-right:hover {background: url('../images/ui/navuser_box_expand_right_usrthumbplus_on.png') no-repeat right center;}

#user-settings ul {
	display: block; height: 50px; float: left; padding-left: 6px;
	background: url('../images/ui/navuser_box_expand_bg.png') repeat-x left 2px;
}

#user-settings ul li {
	display: block; float: left;
	margin-top: 16px;
	background: url('../images/ui/vsep_usertab.png') no-repeat right center;
}

#user-settings ul li a {
	display: block; padding: 0px 6px;
	font-family: 'Lucida Grande',  'Lucida Sans Unicode';
	font-size: 13px;
}

#b-tools {
	padding: 0px 10px;
	background: url('../images/ui/vsep_usertab.png') no-repeat left center;
	cursor: pointer;
}

#tools-tab {height: 48px; margin-right: 8px; display: none;}

#tools-tab div.border-left {
	width: 19px; height: 48px; float: left;
	background: url('../images/ui/navuser_box_expand_left_closing_button_off.png') no-repeat left top;
	cursor: pointer;
}

#tools-tab div.border-left:hover {background: url('../images/ui/navuser_box_expand_left_closing_button_on.png') no-repeat left top;}

#tools-tab div.border-right {
	width: 34px; height: 48px; float: left;
	background: url('../images/ui/navuser_box_expand_right_tools_off.png') no-repeat right top;
	cursor: pointer;
}

#tools-tab div.border-right:hover {background: url('../images/ui/navuser_box_expand_right_tools_on.png') no-repeat right top;}

#tools-tab div.icon {
	width: 17px; height: 17px; float: left;
	margin: 17px 3px 0px 7px;
	background: url('../images/ui/icon_gear.png') no-repeat right -34px;
	cursor: pointer;
}

#tools-tab div.icon:hover {
	background: url('../images/ui/icon_gear.png') no-repeat right -17px;
}

#tools-tab ul {
	display: block; float: left; padding-left: 6px;
	background: url('../images/ui/navuser_box_expand_bg.png') repeat-x left top;
}

#tools-tab ul li {
	display: block; float: left;
	background: url('../images/ui/vsep_usertab.png') no-repeat right center;
}

#tools-tab ul li a {
	display: block; padding: 0px 6px;
	font-family: 'Lucida Grande',  'Lucida Sans Unicode';
	font-size: 13px;
}


/*    No Signed/Logged In Navigation     */

#header.public #rtlogo a.rtlogo-home {
	display: block; float: left;
	width: 300px; height: 40px;
	margin-top: 12px;
	padding-right: 8px;
	text-indent: -10000px;
	background: url('../images/ui/nav_home_nosigned.png') no-repeat 8px 8px;
}

#header.public #nav-sign-in {
	display: block; float: right;
}

#header.public #nav-sign-in li {
	display: block; float: left;
	margin-left: 15px;
}

#header.public #nav-sign-in li.vsep {
	display: block; float: left; width: 2px; height: 30px;
	margin-top: 11px;
	background: url('../images/ui/nav_vsep.gif') no-repeat left 10px;
}

#header.public #nav-sign-in li a {
	font-family: "SchneidlerMedium" , Georgia;
	font-size: 22px;
	line-height: 62px;
}

#header.public #nav-sign-in li a:hover {
	color: #3a87a7;
}



/* ----------- CONTENT DECLARATIONS ----------- */



/* ----------- FOOTER DECLARATIONS ----------- */

#footer {
	width: 100%; height: 149px; 
	margin-top: 70px;
	background: url(../images/paperbg_dark_topborder.png) repeat-x top left;
}

#footer .footer {
	width: 960px; 
	margin:0 auto;
	padding: 40px 0 0;
	color: #FFF;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode';
	font-size: 13px;
	line-height: 17px;
	text-shadow: 1px 1px 1px #000;
	text-align: center;
}

#footer .footer span{
	display: block;
	margin: 0 0 10px;
	color: #FFF;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode';
	font-size: 13px;
	line-height: 17px;
	text-shadow: 1px 1px 1px #000;
	text-align: center;
}

#footer .footer a{
	color: #FFF;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode';
	font-size: 13px;
	line-height: 17px;
	text-shadow: 1px 1px 1px #000;
	text-align: center;
}

#footer .footer a.mail{
	color: #a5e5ff;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode';
	font-size: 13px;
	line-height: 17px;
	text-shadow: 1px 1px 1px #000;
	text-align: center;
}

/* ----------- UNIQUE MODULES  ----------- */


#compact-milestones h3 {
	font-size: 28px; padding-bottom: 5px; text-align: center;
}

#compact-milestones div.labelA {
	width: 440px; height: 35px; float: left; 
	font-family: 'DinMedium'; text-transform: uppercase;
}

#compact-milestones div.labelA .border {
	width: 438px; height: 31px; padding: 2px 0px 0px 0px;
}

#compact-milestones .milestone-group {float: left; padding-left: 20px;}

#compact-milestones .milestone-group span.number {
	display: block; float: left;
	font-size: 28px; line-height: 28px; letter-spacing: -1px;
}

#compact-milestones .milestone-group span.label {
	width: 40px; padding: 3px 0px 0px 5px; display: block; float: left;
	font-size: 13px; line-height: 11px; text-align: left;
}

#compact-milestones .button-level2 {
	width: 140px; height: 35px; float: right;
}

#compact-milestones .button-level2 .border {
	padding: 0px 10px; 
}


/* ----------- LANDING PAGE  ----------- */
#all-wrap{
	width: 100%; 
	background: #FFF;
}

/* --- Phrase --- */
.phrase{
	width: 100%; 
	float: left; 
	margin: 0 0 45px; 
	font-size: 66px; 
	line-height: 66px; 
	color: #000; 
	font-family: 'SchneidlerMedium', Times New Roman, Times, serif; 
	letter-spacing: -3px; 
	text-align: center;
}

/* --- Blue Button --- */
.blue-button{
	float: left; 
	width: 286px; 
	padding: 0 337px;
}
.blue-button div.button-level2 a{ 
	font-size: 21px;
	cursor:default;
}

/* --- Accordion --- */
.vertical-accordion{
	float: left; 
	width: 940px; 
	padding: 0 10px; 
	margin: 0 0 37px;
}

/* Banner */
.vertical-accordion .highlightB{
	float: left; 
}

.vertical-accordion .highlightB .label-border {
	padding: 7px 0 7px 8px; background: #FFF;
	border: 2px solid #f3f3f3; 
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px; /* future proofing */
	-khtml-border-radius: 5px 5px 5px 5px; /* for old Konqueror browsers */
	float: left;
	width: 926px;
	overflow:hidden;
}

.vertical-accordion .highlightB .label-border .tab0 {
	float: left;
}

.vertical-accordion .highlightB .label-border .tab1 {
	float: left;
}
.vertical-accordion .highlightB .label-border .tab1 .link {
	display: block;
	float: left;
	width: 44px;
	height: 317px;
	background: url(../images/tab1.jpg) no-repeat 0 0;
	text-indent: -3000px;
}

.vertical-accordion .highlightB .label-border .tab1 .link:hover{
	text-decoration: none;
	opacity:.80; 
	filter:alpha(opacity=80); 
	filter: "alpha(opacity=80)"; 
	-moz-opacity:0.8;
}
.vertical-accordion .highlightB .label-border .tab1.select .link {
	background-position: 0 -317px;
	text-decoration: none;
}
.vertical-accordion .highlightB .label-border .tab1.select-left .link {
	background-position: 0 -634px;
	text-decoration: none;
}

.vertical-accordion .highlightB .label-border .tab2 {
	float: left;
}
.vertical-accordion .highlightB .label-border .tab2 .link {
	display: block;
	float: left;
	width: 44px;
	height: 317px;
	background: url(../images/tab2.jpg) no-repeat 0 0;
	text-indent: -3000px;
}

.vertical-accordion .highlightB .label-border .tab2 .link:hover{
	text-decoration: none;
	opacity:.80; 
	filter:alpha(opacity=80); 
	filter: "alpha(opacity=80)"; 
	-moz-opacity:0.8;
}
.vertical-accordion .highlightB .label-border .tab2.select .link {
	background-position: 0 -317px;
	text-decoration: none;
}
.vertical-accordion .highlightB .label-border .tab2.select-left .link {
	background-position: 0 -634px;
	text-decoration: none;
}

.vertical-accordion .highlightB .label-border .tab3 {
	float: left;
}
.vertical-accordion .highlightB .label-border .tab3 .link {
	display: block;
	float: left;
	width: 44px;
	height: 317px;
	background: url(../images/tab3.jpg) no-repeat 0 0;
	text-indent: -3000px;
}

.vertical-accordion .highlightB .label-border .tab3 .link:hover{
	text-decoration: none;
	opacity:.80; 
	filter:alpha(opacity=80); 
	filter: "alpha(opacity=80)"; 
	-moz-opacity:0.8;
}
.vertical-accordion .highlightB .label-border .tab3.select .link {
	background-position: 0 -317px;
	text-decoration: none;
}
.vertical-accordion .highlightB .label-border .tab3.select-left .link {
	background-position: 0 -634px;
	text-decoration: none;
}

.vertical-accordion .highlightB .label-border .image {
	float: left;
	display: none;
	overflow:hidden;
}

.vertical-accordion .highlightB .label-border .image img {
	float: left;
}

/* Paginator */
.paginator{width: 100%; margin: 0; padding: 0; text-align: center; font-size: 17px; line-height: 37px; color: #2a2a2a; font-family: 'SchneidlerMedium', Arial, Helvetica, sans-serif;}
.paginator a{text-align: center; font-size: 17px; line-height: 37px; color: #2a2a2a; font-family: 'SchneidlerMedium', Arial, Helvetica, sans-serif;}
.paginator a:hover, .paginator a.select{text-align: center; font-size: 17px; line-height: 37px; color: #0a709a;}

/* --- Sign Up --- */
.sign-up{float: left; width: 560px; padding: 0 200px;}
.sign-up .inside-border{ text-align: center; padding-left: 0 !important; padding-right: 0 !important;}
.sign-up .boxstyle-E-wrap{ height: 258px;}
.sign-up .boxstyle-E-tab{margin-left: 11%;}
.sign-up .boxstyle-E{width: 558px;}
.sign-up .form-sign{width: 504px; margin: 0 auto;}
.sign-up .rowElem .jqtranformdone{ font-size: 14px; font-family: 'Lucida Grande', 'Lucida Sans Unicode'; width: 365px}
.sign-up form.jqtransformdone label{ font-size: 14px; font-family: 'Lucida Grande', 'Lucida Sans Unicode';}
.sign-up .btn{display: block; width: 100%; margin: 35px 0 0;}


/* ----------------------- Clearfix ----------------------- */ 
/* slightly enhanced, universal clearfix hack */
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;line-height: 0; }
.clearfix {display: inline-block;}

/* start commented backslash hack \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* close commented backslash hack */


