<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{% load staticfiles %}

<html>

	<head>
		<title>Revenue Trades</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" href="{% static 'js/jqtransformplugin/jqtransform.css' %}" type="text/css" media="all" />
		<link rel="stylesheet" type='text/css' media="all" href="{% static 'css/styles.css' %}"/>
		<link rel="stylesheet" type='text/css' media="all" href="{% static 'css/styleguide-page.css' %}"/>
		<!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>-->
		<script type="text/javascript" src="{% static 'js/jquery-1.6.2.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/stylecontrol.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/rt_carousel.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/jquery.ba-resize.min.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/jqtransformplugin/jquery.jqtransform.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/jquery.banner.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/jquery.simplecms.js' %}" ></script>
		<script language="javascript">
			var edit_timeout;
			$(function(){
				$('form').jqTransform({imgPath:'{% static "js/jqtransformplugin/img/" %}'});
				
				topBanner = new BannerSlide({mainContent:'#tabsD', subContent:'ul', item: 'li', arrowLeft:'.btn-ant', arrowRight:'.btn-sig'});
				
				$('.simple_cms').SimpleCMS({
					'onLoadInput':function(){ $('.simple_cms').jqTransform({imgPath:"{% static 'js/jqtransformplugin/img/' %}"}); }
				});
			});
		</script>
		<script type="text/javascript" src="{% static 'js/jquery.menues.js' %}" ></script>
		<meta name="viewport" content="width=device-width, initial-scale=1"/> <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug -->
	</head>
	
	<body>
		<div id="all-wrap">	
		
		<div id="header">
				
			<div id="mainnav-fullwidth">		
			
			<div class="navbar">
					<h1 id="rtlogo"><a id="nav-main" class="navtab closed" href="#navtab-main">Start</a><a id="rt-text" href="index.html">Revenue Trades</a></h1>
				<div class="clearfix"></div>
			</div> <!-- END navbar: wraps all the navigation tabs --><!-- ENDS navtab-wrap -->
			</div> <!-- ENDS mainnav -->
					
		</div> <!-- END header -->
    <div id="leftmenu">
        {% block leftmenu %}
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
        {% block footer %}
    </div>
		<div id="footer" class="clearfix footer-wmg">
			<div class="footer clearfix">
				<span><a href="http://twitter.com/#!/revtrades" target="_blank">Twitter</a> | <a href="http://revenuetrades.tumblr.com/" target="_blank">Blog</a> | <a href="http://www.linkedin.com/company/revenue-trades" target="_blank">LinkedIn</a> | <a href="http://www.facebook.com/revenuetrades" target="_blank">Facebook</a> | Email Us: <a href="mailto:info@revenuetrades.com" target="_self" class="mail">info@revenuetrades.com</a>
				</span>
				Copyright 2012. Revenue Trades. All Rights Reserved.
			</div>
		</div> <!-- ENDS footer -->
		
		</div> <!-- END all-wrap -->	
        {% endblock %}
	</body>
	
</html>