{% extends "base2_rt.html" %}
{% load staticfiles %}
{% block scripts %}
		<script type="text/javascript" src="{% static 'js/jquery.banner.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/jquery.simplecms.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}" ></script>
		<script language="javascript">
			var csrftoken = $.cookie('csrftoken');
			function csrfSafeMethod(method) {
				// these HTTP methods do not require CSRF protection
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
			$.ajaxSetup({
				crossDomain: false, // obviates need for sameOrigin test
				beforeSend: function(xhr, settings) {
					if (!csrfSafeMethod(settings.type)) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					}
				}
			});
			var edit_timeout;
			$(function(){
				$('form').jqTransform({imgPath:'{% static "js/jqtransformplugin/img/" %}'});
				
				topBanner = new BannerSlide({mainContent:'#tabsD', subContent:'ul', item: 'li', arrowLeft:'.btn-ant', arrowRight:'.btn-sig'});
				
				$('.simple_cms').SimpleCMS({
					'onLoadInput':function(){ $('.simple_cms').jqTransform({imgPath:"{% static 'js/jqtransformplugin/img/' %}"}); }
				});
			});
		</script>
		<script type="text/javascript" src="{% static 'js/jquery.menues.js' %}" ></script>
			<!-- <div id="dashboard-wrap" class="porcentaje"> -->
{% endblock %}
{% block header %}
		<div id="header">
				
			<div id="mainnav-fullwidth">		
			
			<div class="navbar">
					<h1 id="rtlogo"><a id="nav-main" class="navtab closed" href="#navtab-main">Start</a><a id="rt-text" href="index.html">Revenue Trades</a></h1>
                    <ul id="navtabs">
                        <li><a id="nav-biz2" href="#">Discover</a></li>
                        <li><a id="nav-exp2" href="#">How it works</a></li>
                    </ul>
                    <div id="user-tab">
                        <div id="b-user-settings">
                            <h3><a href="#">Firstname</a></h3>
                            <div class="user-thumbplus"><a href="#user-settings"><img src="{% static 'images/ui/usr_thumbplus_off.png' %}" width="50" height="50" alt="Username Settings"></a></div>
                        </div>
                        <div id="user-settings">
                            <div class="border-left"></div>
                            <ul>
                                <li><a href="#">My Profile(s)</a></li>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Settings</a></li>
                                <li><a href="#">Other Link</a></li>
                            </ul>
                            <div class="border-right"></div>
                        </div> <!-- END user-settings tab -->
                    </div> <!-- END user-tab -->
				<div class="clearfix"></div>
			</div> <!-- END navbar: wraps all the navigation tabs --><!-- ENDS navtab-wrap -->
			</div> <!-- ENDS mainnav -->
					
		</div> <!-- END header -->
{% endblock %}
{% block leftmenu %}
					
              <div class="colright" id="business-menu2">
              	<div class="col2" id="business-menu">
                    <div class="submenu">
                        <div class="mcontainer">
                        <ul class="fcontainer">
                            <li class="first active">
                                <a href="business-dash-overview.html">
                                    <span class="icon1">&nbsp;</span>
                                    <strong>Business Profile</strong>
                                </a>
                                <ul>
                                    <li class="first active">
                                        <a href="business-dash-overview.html">
                                            Business Details
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Personal Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Focus
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Team
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="business-dash-milestone-pitch.html">
                                    <span class="icon2">&nbsp;</span>
                                    <strong>Milestones</strong>
                                </a>
                                <ul>
                                    <li class="first">
                                        <a href="business-dash-milestone-pitch.html">
                                            Milestone
                                        </a>
                                    </li>
                                    <!-- <li>
                                        <a href="#">
                                            Documents
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Conversation
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Task
                                        </a>
                                    </li> -->
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon3">&nbsp;</span>
                                    <strong>My Experts</strong>
                                </a>
                                <ul>
                                    <li class="first">
                                        <a href="#">
                                            Targets (5)
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Applicants (13)
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Declined (12)
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="business-dash-prospects.html">
                                    <span class="icon4">&nbsp;</span>
                                    <strong>Prospects</strong>
                                </a>
                                <ul>
                                    <li>
                                        <a href="business-dash-prospects.html">
                                            Prospective Experts
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Applicants (13)
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Declined (12)
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- <li>
									<a href="#"> <span class="icon5">&nbsp;</span> <strong>Community</strong> </a>
									<ul>
										<li class="first">
											<a href="#"> Targets (5) </a>
										</li>
										<li>
											<a href="#"> Applicants (13) </a>
										</li>
										<li>
											<a href="#"> Declined (12) </a>
										</li>
									</ul>
								</li> -->
                        </ul>
                        <ul class="submenu-inner"></ul>
                        </div>
                    </div> <!-- END submenu -->
{% endblock %}
{% block content %}
                    <div class="column-left">
                        <div class="row">
                            <div class="title">
                                <h2>Business Overview</h2>
                                <div class="btn">
                                    <div class="button-level2">
                                        <div class="border">
                                            <a href="#">PREVIEW PROFILE</a>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- END title -->
                            <div class="image2">
                             	<div class="highlightB clearfix">
                                    <div class="label-border clearfix">
                                        <img src="{{ logo_url }}" width="221" height="197" alt="Perfil">
                                    </div>
                                </div>
                                {{ business_logo_form }}
                            </div><!-- END image -->
                            <div class="text text2">
                                <div class="fila">
                                    <div class="labelA status verified">
                                    	<div class="label-border">Verify</div>
                                    </div>
									{{ business_name_form }}
									{{ business_type_form }}
									{{ business_form }}
                                </div>
                               
                            </div><!-- END text -->
                        </div><!-- END row -->
                        <div class="row">
                            <div class="title">
                                <h3>Business Mission</h3>
                            </div><!-- END title -->
                            {{ business_funding_form }}
                            
                                <div class="rowElem">
                                    <label>What is your companies goal? What do you hope to accomplish with new 
funding? Tell prospective funders about your business.</label>
									{% if error %}
									<div class="error">
                                        <strong>Error:</strong> This field is required
                                    </div>
                                    {% endif %}
                                    <textarea cols="53" rows="3" name="mytext">{{ business.goals }}</textarea>
                                </div>
                                
                                <div class="rowElem">
                                    <label>Ambitions once Funded. (Hit Return for each new item.)  </label>
                                    {# for ambition in  business.ambitions #}
                                    <textarea cols="53" rows="3" name="mytext"></textarea>
                                    {# endfor #} 
                                </div>
                                <div class="rowElem">
                                    <label class="label-small">Years In operation:</label>
                                    <select name="select">
                                    {% for ageRange in BUSINESS_AGE_RANGES %}
                                        <option value="{{ ageRange.count }}" {% if ageRange.isFirst %}selected="selected" {% endif %}>{{ ageRange }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                            	<div class="rowElem">
                                    <label class="label-small">Employees #:</label>
                                    <select name="select">
                                    {% for employeeCountRange in BUSINESS_EMPLOYEE_COUNT_RANGES %}
                                        <option value="{{ employeeCountRange.count }}" {% if employeeCountRange.isFirst %}selected="selected" {% endif %}>{{ employeeCountRange }}</option>
                                    {% endfor %}
                                    </select>
                                </div>
                        </div><!-- END row -->
                        <div class="row">
                            <div class="title">
                                <h3>Personal Profile</h3>
                            </div><!-- END title -->
                            {{ contact_form }}
                            <div class="image2">
                                <div class="highlightB clearfix">
                                    <div class="label-border clearfix">
                                        <img src="{{ business.business_info.contact.photo }}" width="221" height="197" alt="Perfil">
                                    </div>
                                </div>
                                <div class="links">
                                    <a href="#" target="_self">Upload a Logo</a>
                                </div>
                            </div><!-- END image -->
                            <div class="text text2">
                                <div class="fila">
                                    <div class="labelA status verified">
                                    	<div class="label-border">Verify</div>
                                    </div>
                                    <span class="tit simple_cms" rel="textbox">{{ business.business_info.contact.full_name }}</span>
                                    <span class="simple_cms" rel="textbox">{{ business.business_info.contact.title }}</span>
                                </div>
                                <div class="fila-last">
                                    <span class="simple_cms" rel="textbox">{{ business.business_info.contact.email }}</span>
                                    <span class="simple_cms" rel="textbox">{{ business.business_info.contact.telephone }}</span>
                                </div>
                            </div><!-- END text -->
                        </div><!-- END row -->
                        </form>
                    </div>
                    
{% endblock %}
{% block rightColumn %}
             <div class="col1wrap">
              	<div class="col1">
                    <div class="aside">
                        <div class="row">
                            <div class="title">
                                <h4>Get verified!</h4>
                            </div>
                            <p>You will recieve more funding/experts if you verify with these lorum ipsum dolor.</p>
                            <ul class="logo-list">
                                {% for verifier in verifiers %}
                                <li>
                                	<div class="highlightB clearfix">
                                        <div class="label-border clearfix">
                                            <img src="{{ verifier.logo }}" width="171" height="57" alt="Perfil">
                                        </div>
                                    </div>
                                	<span>{{ verifier.full_name }} {{ verifier.verifiableACtivity }}</span>
                                    <div class="labelA status verified">
                                    	<div class="label-border">Verify</div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
              	</div>
              </div>
			
              </div>
		<!--	</div> --> <!-- END dashboard wrap -->
		
		<div class="clearfix"></div>

		<!--	</div> --><!-- END content-wrap -->
{% endblock %}
		
