{% extends "business_base_rt.html" %}
{% load staticfiles %}
{% block scripts %}
		<script type="text/javascript" src="{% static 'js/jquery.banner.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/jquery.simplecms.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}" ></script>
		<script language="javascript">
			var edit_timeout;
			$(function(){
				$('form').jqTransform({imgPath:'{% static "js/jqtransformplugin/img/" %}'});
				
				topBanner = new BannerSlide({mainContent:'#tabsD', subContent:'ul', item: 'li', arrowLeft:'.btn-ant', arrowRight:'.btn-sig'});
				
				$('.simple_cms').SimpleCMS({
					'onLoadInput':function(){ $('.simple_cms').jqTransform({imgPath:"{% static 'js/jqtransformplugin/img/' %}"}); }
				});
			});
		</script>
		<script type="text/javascript" src="{% static 'js/jquery.menues.js' %}" ></script>		
		<!-- <div id="dashboard-wrap" class="porcentaje"> -->
{% endblock %}
{% block content %}
			<div class="column-left">
				<div class="row">
					<div class="title">
						<h2>Business Overview</h2>
						<div class="btn">
							<div class="button-level2">
								<div class="border">
									<a href="/business/{{ business.id }}/public_profile/">PREVIEW PROFILE</a>
								</div>
							</div>
						</div>
					</div><!-- END title -->
					<div class="image2">
						<div class="highlightB clearfix">
							<div class="label-border clearfix">
								<img src="/media/{{ business.business_info.logo.name|default:'business_logos/aside-logo2.png' }}" width="221">
							</div>
						</div>
<form enctype='multipart/form-data' action="." method="post">
								{% csrf_token %}
						<div class="links">
							<span>Upload a Logo</sapn>
							<input type="file" name="logo" >
						</div>
						<button type="submit" class="btn btn-success start">                               
							<span>Start upload</span>
						</button>
</form>
				   </div><!-- END image -->
					<div class="text">
						<div class="fila">
							<div class="labelA status verified">
								<div class="label-border">Verify</div>
							</div>
							{{ business_name_form }}
<form method="post">
								{% csrf_token %}
							{{ business_type_form }}
							
						<button type="submit" class="btn btn-success start">                               
							<span>Update type</span>
						</button> 
</form>
<br/>
							{{ business_form }}
						</div>
					   
					</div><!-- END text -->
				</div><!-- END row -->
				<div class="row">
					<div class="title">
						<h3>Business Mission</h3>
					</div><!-- END title -->
					<form method="post" action=".">
								{% csrf_token %}
						<div class="rowElem">
							<label>What is your company's goal? What do you hope to accomplish with new 
funding? Tell prospective funders about your business.</label>
							{% if error %}
							<div class="error">
								<strong>Error:</strong> This field is required
							</div>
							{% endif %}
							<textarea cols="53" rows="3" name="goal">{{ business.mission|default:"Your mission"  }}</textarea>
						</div>
						
						<div class="rowElem">
							<label>Ambitions once Funded. (Hit Return for each new item.)  </label>
							<textarea cols="53" rows="3" name="ambition">{% for ambition in business.ambitions.all %}{{ ambition.text}}&#12{% endfor %}</textarea>
						</div>
						<div class="rowElem">
							{{ business_years_form }}
						</div>
						<div class="rowElem">
							{{ business_employees_form }}
						</div>
						<button type="submit" class="btn btn-success start">                               
							<span>Save mission</span>
						</button>
					 </form>
				</div><!-- END row -->
				<div class="row">
					<div class="title">
						<h3>Personal Profile</h3>
					</div><!-- END title -->
					<div class="image2">
						<div class="highlightB clearfix">
							<div class="label-border clearfix">
								<img src="/media/{{ business.business_info.contact.photo.name|default:'user_photos/user_img_large.png' }}" width="221">
							</div>
						</div>
<form enctype='multipart/form-data' action="." method="post">
								{% csrf_token %}
						<div class="links">
							<span>Upload a Photo</sapn>
							<input type="file" name="photo" >
						</div>
						<button type="submit" class="btn btn-success start">                               
							<span>Start upload</span>
						</button>
</form>
					</div><!-- END image -->
					<div class="text text2">
						<div class="fila">
							<h2>{{ contact_form.first_name }} {{ contact_form.last_name }}</h2>
							<div >{{ contact_form.title }}</div>
							<div >{{ contact_form.street_address }}</div>
							<div >{{ contact_form.city_state_zip }}</div>
						</div>
						<div class="fila-last">
							<div >{{ contact_form.email }} </div>
							<div >{{ contact_form.phone }}</div>
						</div>
					</div><!-- END text -->
				</div><!-- END row -->
			</div>
			
{% endblock %}
{% block rightColumn %}
             <div class="col1wrap">
              	<div class="col1">
                    <div class="aside">
                        <div class="row">
                            <div class="title">
                                <h4>Get verified!</h4>
                            </div>
                            <p>You will receive more funding/ experts if you verify with these lorum ipsum dolor.</p>
                            <ul class="logo-list">
                                {% for verifier in verifiers %}
                                <li>
                                	<div class="highlightB clearfix">
                                        <div class="label-border clearfix">
                                            <img src="/media/{{ verifier.logo }}" width="171" height="57" alt="{{ verifier.full_name }}">
                                        </div>
                                    </div>
                                	<span>{{ verifier.tagline }}</span>
                                    <div class="labelA status verified">
                                    	<div class="label-border">Verify</div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
              	 </div>
              </div>
					
			  <div class="clearfix"></div>

{% endblock %}
		
