{% extends "base2_rt.html" %}
{% load staticfiles %}
{% block scripts %}
		<script type="text/javascript" src="{% static 'js/jquery.banner.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/jquery.simplecms.js' %}" ></script>
		<script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}" ></script>
		<script language="javascript">
			var edit_timeout;
			$(function(){
				$('form').jqTransform({imgPath:'{% static "js/jqtransformplugin/img/" %}'});
				
				topBanner = new BannerSlide({mainContent:'#tabsD', subContent:'ul', item: 'li', arrowLeft:'.btn-ant', arrowRight:'.btn-sig'});
				
				$('.simple_cms').SimpleCMS({
					'onLoadInput':function(){ $('.simple_cms').jqTransform({imgPath:"{% static 'js/jqtransformplugin/img/' %}"}); }
				});
			});
		</script>
		<script type="text/javascript" src="{% static 'js/jquery.menues.js' %}" ></script>		
		<!-- <div id="dashboard-wrap" class="porcentaje"> -->
{% endblock %}
{% block header %}
		<div id="header">
				
			<div id="mainnav-fullwidth">		
			
			<div class="navbar">
					<h1 id="rtlogo"><a id="nav-main" class="navtab closed" href="#navtab-main">Start</a><a id="rt-text" href="/">Revenue Trades</a></h1>
                    <ul id="navtabs">
                        <li><a id="nav-biz2" href="/discover">Discover</a></li>
                        <li><a id="nav-exp2" href="/howitworks.html">How it works</a></li>
					{% if rtuser %}
                    </ul>
                    <div id="user-tab">
                        <div id="b-user-settings">
                            <h3><a href="#">{{ rtuser.first_name }}</a></h3>
                            <div class="user-thumbplus"><a href="#user-settings"><img src="/media/{{ rtuser.photo|default:'user_photos/user_img_large.png' }}" width="50" height="50" alt="Username Settings"></a></div>
                        </div>
                        <div id="user-settings">
                            <div class="border-left"></div>
                            <ul>
                                <li><a href="/home/profile">My Profile(s)</a></li>
                                <li><a href="/home/account">My Account</a></li>
                                <li><a href="/home/settings">Settings</a></li>
                                <li><a href="/home/other">Other Link</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                            <div class="border-right"></div>
                        </div> <!-- END user-settings tab -->
                    </div> <!-- END user-tab -->
					{% else %}
						<li class="last"><a class="nav-exp3" href="#">Sign in</a></li>
						<li class="last"><a class="nav-exp3" href="#">Create Account</a></li>
					</ul>
					{% endif %}
				<div class="clearfix"></div>
			</div> <!-- END navbar: wraps all the navigation tabs --><!-- ENDS navtab-wrap -->
			</div> <!-- ENDS mainnav -->
					
		</div> <!-- END header -->
{% endblock %}
	
{% block leftmenu %}
					<div class="submenu">
						<div class="mcontainer">
							<ul class="fcontainer">
								<li class="first">
									<a href="business-dash-overview.html"> <span class="icon1">&nbsp;</span> <strong>Business Profile</strong> </a>
									<ul>
										<li class="first">
											<a href="business-dash-overview.html"> Business Details </a>
										</li>
										<li>
											<a href="#"> Personal Profile </a>
										</li>
										<li>
											<a href="#"> Focus </a>
										</li>
										<li>
											<a href="#"> Team </a>
										</li>
									</ul>
								</li>
								<li class="active">
									<a href="business-dash-milestone-pitch.html"> <span class="icon2">&nbsp;</span> <strong>Milestones</strong> </a>
									<ul>
										<li class="first active">
											<a href="business-dash-milestone-pitch.html"> Milestone </a>
										</li>
										<!-- <li>
												<a href="#">Documents</a>
											</li>
											<li>
												<a href="#">Conversation</a>
											</li>
											<li>
												<a href="#">Task</a>
											</li> -->
									</ul>
								</li>
								<li>
									<a href="#"> <span class="icon3">&nbsp;</span> <strong>My Experts</strong> </a>
									<ul>
										<li class="first">
											<a href="#"> Targets (5) </a>
										</li>
										<li>
											<a href="#"> Applicants (13) </a>
										</li>
										<li>
											<a href="#"> Declined (12) </a>
										</li>
									</ul>
								</li>
								<li>
									<a href="business-dash-prospects.html"> <span class="icon4">&nbsp;</span> <strong>Prospects</strong> </a>
									<ul>
										<li class="first">
											<a href="business-dash-prospects.html"> Prospective Experts </a>
										</li>
										<li>
											<a href="#"> Applicants (13) </a>
										</li>
										<li>
											<a href="#"> Declined (12) </a>
										</li>
									</ul>
								</li>
								<!-- <li>
									<a href="#"> <span class="icon5">&nbsp;</span> <strong>Community</strong> </a>
									<ul>
										<li class="first">
											<a href="#"> Targets (5) </a>
										</li>
										<li>
											<a href="#"> Applicants (13) </a>
										</li>
										<li>
											<a href="#"> Declined (12) </a>
										</li>
									</ul>
								</li> -->
							</ul>
							<ul class="submenu-inner">
							</ul>
						</div>
					</div>
					<!-- END submenu -->
{% endblock %}
{% block content %}
					
					<div class="column-left">
						<div class="title">
							<h2>Milestones</h2>
						</div>
						<!-- END title -->
						<div class="milestone">
							<p>Looks like you don't have any milestones set up.<br>
								Creating a milestone will <strong>allow you to receive funding for your business</strong>.</p>
							<div class="btn-milestone">
								<div class="button-level1">
									<div class="border">
										<a href="/milestones/{{ business.id }}/builder/">CREATE MILESTONE</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END Column-left -->
					
{% endblock %}
