﻿{% extends "base2_rt.html" %}
{% load staticfiles %}
{% block scripts %}
    <link rel="stylesheet" type='text/css' media="all" href="{% static 'css/milestone-search.css' %}" />
    <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>-->
    <!--<script type="text/javascript" src="js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="js/stylecontrol.js"></script>
    <script type="text/javascript" src="js/rt_carousel.js"></script>
    <script type="text/javascript" src="js/jquery.ba-resize.min.js"></script>
    <script type="text/javascript" src="js/jqtransformplugin/jquery.jqtransform.js"></script>
    <script type="text/javascript" src="js/jquery.banner.js"></script>
    <script type="text/javascript" src="js/jquery.simplecms.js"></script>-->
    <script type="text/javascript" src="{% static 'js/jquery.menues.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('#all-wrap').jqTransform({ imgPath: "{% static 'js/jqtransformplugin/img/' %}" });
            $('#clear_chk_box').click(function (e) {
                e.preventDefault();
                $('#search-options a').removeClass("jqTransformChecked");
                $('#search-options input').removeAttr("checked");
            });
        });

    </script>
    <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug -->
{% endblock %}
{% block header %}
        <div id="header">
            <div id="mainnav-fullwidth">
                <div class="navbar">
                    <h1 id="rtlogo"><a id="nav-main" class="navtab closed" href="#navtab-main">Start</a><a id="rt-text" href="index.html">Revenue Trades</a></h1>
                    <ul id="navtabs">
                        <li>
                            <a id="nav-biz2" href="/discover">Discover</a>
                        </li>
                        <li>
                            <a id="nav-exp2" href="/expert">Experts</a>
                        </li>
                    </ul>
                    <div id="nav-vault-logo" style="float: right;">
                        <a href="#">

                            <img src="{% static 'images/navtab_vault_off.png' %}" alt="Vault" border="0" style="margin-top: 3px;" />
                        </a>
                    </div>
                    <div class="clearfix">
                    </div>

                </div>
                <!-- END navbar: wraps all the navigation tabs -->
                <!-- ENDS navtab-wrap -->
            </div>
            <!-- ENDS mainnav -->

        </div>
        <!-- END header -->
        <div class="profile-header">
            {% if rtuser %}
            <div id="user-tab">
                <div id="b-user-settings">
                    <h2 style="float: left; font-size: 16px; margin-top: 17px; margin-right: 5px;">Requests<a href="/home/requests"> ({{ rtuser.requests.count }} ) </a></h2>
                    <h3 style="margin-top: 17px;"><a href="/home/mail">
                        <img height="15px" src="{% static 'images/ui/mail-icon.png' %}" alt="message" /></a></h3>
                    <h3 style="margin-top: 16px;"><a href="/home/settings">
                        <img height="17px" src="{% static 'images/ui/setting-icon.png' %}" alt="setting" /></a></h3>
                    <h3><a href="#">{{ rtuser.first_name }}</a></h3>
                    <div class="user-thumbplus">
                        <a href="#user-settings">
                            <img src="{% static 'images/ui/usr_thumbplus_off.png' %}" width="50" height="50" alt="Username Settings">
                        </a>
                    </div>
                </div>
                <div id="user-settings">
                    <div class="border-left">
                    </div>
                    <ul>
                        <li>
                            <a href="/home/profile">My Profile(s)</a>
                        </li>
                        <li>
                            <a href="/home/account">My Account</a>
                        </li>
                        <li>
                            <a href="/home/settings">Settings</a>
                        </li>
                        <li>
                            <a href="/home/other_link">Other Link</a>
                        </li>
                    </ul>
                    <div class="border-right">
                    </div>
                </div>
                {% endif %}
                <!-- END user-settings tab -->
            </div>
{% endblock %}
            <!-- END user-tab -->
        </div>
{% block content %}
        <div style="margin-top: 30px;"></div>
            <div id="inner-content">
                <div id="search-column-main">
                    <div class="search-column-main">
                        <div class="title">
                            <h3>{{ business.experts.all.count }} Businesses in total</h3>
                        </div>
                           <!-- END title -->
						<div class="client-milestone">
                            <div class="list milestone-live">
                        {% for expert in business.experts.all %}
                                <div class="a">
                                    <div class="image">
                                        <div class="highlightB clearfix">
                                            <div class="label-border clearfix">
                                                <img src="/media/{# biz.business_info.contact.photo|default='user_photos/user_img_large.png' #}" width="96" alt="Profile">
                                            </div>
                                            <img src="{% static 'images/milestone-live.png' %}" class="milestone-live-ind" alt="Live milestone indicator"/>
                                        </div>
                                    </div>
                                    <!-- END image -->
                                    <div class="text">
                                        <div class="fila">
                                            <a href="/expert/{{ expert.id }}/public_profile" class="tit blue">{{ expert.expert.first_name }} {{ expert.expert.last_name }}</a>
                                            <span>{{ expert.expert.title }}</span>
                                            <span>{{ expert.business.full_name }}</span>
                                        </div>
                                        <div class="fila-last">
                                            <span>{{ expert.expert.email }}</span>
                                            <span>{{ expert.expert.phone }}</span>
                                        </div>
                                    </div>
                                    <!-- END text -->
                                </div> <!-- END a -->

						{% endfor %}
                        </div><!-- END list -->
                    </div> <!-- END client-milestone -->
                </div> <!-- END search-column-main -->
            </div> <!-- END #search-column-main -->

        </div> <!-- END #inner-content -->
{% endblock %}
