﻿{% extends "base2_rt.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/milestone.css' %}" />
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/smoothness/jquery-ui-1.9.0.custom.min.css' %}" />
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'js/milestone-setup.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('form').jqTransform({ imgPath: "{% static 'js/jqtransformplugin/img/'  %}"});
            //Hide all except first
            $(".milestone-step").hide();
            $("#step-1").show();
            $("#menu li:first-child").addClass("active");
            //Tooltip
            $(".tooltip-trigger").tooltip({ effect: 'slide' });
        });
    </script>
{% endblock %}
{% block header %}
		<div id="header">
				
			<div id="mainnav-fullwidth">		
			
			<div class="navbar">
					<h1 id="rtlogo"><a id="nav-main" class="navtab closed" href="#navtab-main">Start</a><a id="rt-text" href="/">Revenue Trades</a></h1>
                    <ul id="navtabs">
                        <li><a id="nav-biz2" href="/discover">Discover</a></li>
                        <li><a id="nav-exp2" href="/howitworks.html">How it works</a></li>
					{% if rtuser %}
                    </ul>
                    <div id="user-tab">
                        <div id="b-user-settings">
                            <h3><a href="#">{{ rtuser.first_name }}</a></h3>
                            <div class="user-thumbplus"><a href="#user-settings"><img src="/media/{{ rtuser.photo|default:'user_photos/user_img_large.png' }}" width="50" height="50" alt="Username Settings"></a></div>
                        </div>
                        <div id="user-settings">
                            <div class="border-left"></div>
                            <ul>
                                <li><a href="/home/profile">My Profile(s)</a></li>
                                <li><a href="/home/account">My Account</a></li>
                                <li><a href="/home/settings">Settings</a></li>
                                <li><a href="/home/other">Other Link</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                            <div class="border-right"></div>
                        </div> <!-- END user-settings tab -->
                    </div> <!-- END user-tab -->
					{% else %}
						<li class="last"><a class="nav-exp3" href="#">Sign in</a></li>
						<li class="last"><a class="nav-exp3" href="#">Create Account</a></li>
					</ul>
					{% endif %}
				<div class="clearfix"></div>
			</div> <!-- END navbar: wraps all the navigation tabs --><!-- ENDS navtab-wrap -->
			</div> <!-- ENDS mainnav -->
					
		</div> <!-- END header -->
{% endblock %}
{% block leftmenu %}
					
                    <div class="submenu">
                        <div class="mcontainer">
							<ul class="fcontainer">
								<li class="first active">
									<a href=".">
										<span class="icon1">&nbsp;</span>
										<strong>Business Profile</strong>
									</a>
									<ul>
										<li class="first active">
											<a href="business-dash-overview.html">
												Business Details
											</a>
										</li>
										<li>
											<a href="#">
												Personal Profile
											</a>
										</li>
										<li>
											<a href="#">
												Focus
											</a>
										</li>
										<li>
											<a href="#">
												Team
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="./milestones">
										<span class="icon2">&nbsp;</span>
										<strong>Milestones</strong>
									</a>
									<ul>
										<li class="first">
											<a href="business-dash-milestone-pitch.html">
												Milestone
											</a>
										</li>
										<!-- <li>
											<a href="#">
												Documents
											</a>
										</li>
										<li>
											<a href="#">
												Conversation
											</a>
										</li>
										<li>
											<a href="#">
												Task
											</a>
										</li> -->
									</ul>
								</li>
								<li>
									<a href="./experts">
										<span class="icon3">&nbsp;</span>
										<strong>My Experts</strong>
									</a>
									<ul>
										<li class="first">
											<a href="#">
												Targets (5)
											</a>
										</li>
										<li>
											<a href="#">
												Applicants (13)
											</a>
										</li>
										<li>
											<a href="#">
												Declined (12)
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="./prospects">
										<span class="icon4">&nbsp;</span>
										<strong>Prospects</strong>
									</a>
									<ul>
										<li>
											<a href="./prospective_experts">
												Prospective Experts
											</a>
										</li>
										<li>
											<a href="#">
												Applicants (13)
											</a>
										</li>
										<li>
											<a href="#">
												Declined (12)
											</a>
										</li>
									</ul>
								</li>
								<!-- <li>
										<a href="#"> <span class="icon5">&nbsp;</span> <strong>Community</strong> </a>
										<ul>
											<li class="first">
												<a href="#"> Targets (5) </a>
											</li>
											<li>
												<a href="#"> Applicants (13) </a>
											</li>
											<li>
												<a href="#"> Declined (12) </a>
											</li>
										</ul>
									</li> -->
							</ul>
                        	<ul class="submenu-inner"></ul>
                        </div> <!-- END mcontainer -->
                    </div> <!-- END submenu -->
{% endblock %}
{% block content %}
            <form id="wizard" action="submit">
                <div id="tab-container" class="tab-container">
                    <ul id="menu">
                        <li class='tab' onclick="showStep(1)">1) The Raise</li>
                        <li class='tab' onclick="showStep(2)">2) Achievement</li>
                        <li class='tab' onclick="showStep(3)">3) Track</li>
                        <li class='tab' onclick="showStep(4)">4) Financials</li>
                        <li class='tab' onclick="showStep(5)">5) Calculator</li>
                        <li class='tab' onclick="showStep(6)">6) Terms</li>
                        <li class='tab' onclick="showStep(7)">7) Milestone</li>
                    </ul>
                    <!-- Step One -->

                    <div class="milestone-step" id="step-1">
                        <div>
                            <br />
                            <p>
                                <span style="font-weight: bold">Raise: </span>
                                What does your Company need? How much will it cost? Below please select the category of the expense and fill out the simple "Use of Funds" chart for this Milestone. Remember you may only need one thing for this Milestones.
                            </p>
                            <div><a href="#" class="tooltip-trigger"><b>Click here for a few examples.</b></a></div>
                            <div class="tooltip">Click to view Raise examples</div>
                            <br />
                        </div>
                        <div class="milestone-bg">

                            <table id="milestone-creation-table-step1" class="milestone-table">
                                <tr id="header-row">
                                    <td>
                                        <label>NEEDS FOR THE YEAR</label>
                                        <div class="tooltip">?</div>
                                    </td>
                                    <td>
                                        <label>COST/YEAR</label>
                                        <div class="tooltip">?</div>
                                    </td>
                                    <td>
                                        <label>REQUIRED</label>
                                        <div class="tooltip">?</div>
                                    </td>
                                </tr>
                                <tr id="input-row">
                                    <td>
                                        <input id="txt_need_raise" type="text" /></td>
                                    <td>
                                        <input id="txt_cost_raise" type="text" /></td>
                                    <td>
                                        <input type="radio" name="qRequired_raise" value="Required" checked="checked" /><label>Required</label>
                                        <input type="radio" name="qRequired_raise" value="Nice to Have" /><label>Nice to Have</label></td>
                                </tr>
                                <tr id="sum-row_raise">
                                    <td>
                                        <div>
                                            <label>Total : </label>
                                        </div>
                                    </td>
                                    <td>
                                        <input id="txt_sum_raise" readonly="true" type="text" name="sum" />
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                        <br />
                        <input type="button" name="Add" value="Add" id="ButtonNextRaise" onclick="addNewRaise()" />
                        <br />
                        <br />
                        <div>
                            <div style="float: left; display: inline; margin-top: 5px;">
                                Does your use of funds include a bill of goods?
                                <div><a href="#" class="tooltip-trigger"><b>Show Example?</b></a></div>
                                <div class="tooltip">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                            </div>

                            <div style="float: left; margin-left: 20px;">
                                <input type="radio" name="goods" value="Yes" /><label>Yes</label>
                                <input type="radio" name="goods" value="No" /><label>No</label>
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <div class="button-level1" style="width: 100px; float: right; margin: 5px">
                            <div class="border"><a href="#" onclick="next(1)">Next</a></div>
                        </div>
                    </div>

                    <!-- Step Two -->
                    <div class="milestone-step" id="step-2">
                        <div>
                            <br />
                            <p>
                                <span style="font-weight: bold">Achievement: </span>
                                Set out a tangible goal or goals that your business will fulfill in order to receive the funds you are trying to raise. Below select an Achievement from the dropdown and fill out the corresponding revenue attached to this Achievement and the date you will Achieve it by. Remember - investors are only pledging money against your milestone. That means you first MUST complete the listed Achievement by the deadline to be entitled to the Funds that have been pledged. Further if the minimum amount of funds is not met by Investors, then you will not receive the Funds even though you may have completed the Achievement.
                            </p>
                            <div><a href="#" class="tooltip-trigger"><b>Click here for examples.</b></a></div>
                            <div class="tooltip">Achievement examples.</div>
                            <br />
                        </div>
                        <div class="milestone-bg">

                            <table id="milestone-creation-table-step2" class="milestone-table">
                                <tr id="Tr1">
                                    <td>
                                        <label>SELECT ACHIEVEMENT TYPE</label>
                                        <div class="tooltip">?</div>
                                    </td>
                                    <td>
                                        <label>COST</label>
                                        <div class="tooltip">?</div>
                                    </td>
                                    <td>
                                        <label>DATE OF COMPLETION</label>
                                        <div class="tooltip">?</div>
                                    </td>
                                </tr>
                                <tr id="Tr2">
                                    <td>
                                        <select id="ddl_type_achieve">
                                            <option>Achievement</option>
                                            <option>Polpo</option>
                                            <option>Volvo</option>
                                            <option>Tolto</option>
                                            <option>Molmo</option>
                                        </select>
                                    <td>
                                        <input id="txt_cost_achieve" type="text" /></td>
                                    <td>
                                        <input id="txt_date_achieve" type="text" /></td>
                                </tr>
                            </table>
                        </div>
                        <br />
                        <input type="button" name="Add" value="Add" id="ButtonNextAchievement" onclick="addNewAchievement()" />
                        <br />
                        <br />
                        <br />
                        <div class="button-level1" style="width: 100px; float: right; margin: 5px">
                            <div class="border"><a href="#" onclick="next(2)">Next</a></div>
                        </div>
                        <div class="button-level1" style="width: 100px; float: right; margin: 5px">
                            <div class="border"><a href="#" onclick="back(2)">Back</a></div>
                        </div>
                    </div>
                    <!-- Step Three -->

                    <div class="milestone-step" id="step-3">
                        <br />
                        <p>
                            <span style="font-weight: bold">Track: </span>
                            In order to suggest the best securities terms, we need to know what type of Track your business is on. Do you want to sell your business in 3 year? Or maybe pass it on to your children? Please fill out the following questions to get started on this.
                        </p>
                        <br />
                        <table id="milestone-creation-table-step3">
                            <tr>
                                <td>
                                    <label>1) Which sentence best describes your business?</label></td>
                            </tr>
                            <tr>
                                <td>
                                    <select>
                                        <option value="volvo">Volvo</option>
                                        <option value="polpo">PolPo</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="table-row-gap">
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>2) What year do you plan to sell your business or complete a repurchase plan of stock?</label></td>
                            </tr>
                            <tr>
                                <td>
                                    <select>
                                        <option value="volvo">Volvo</option>
                                        <option value="polpo">PolPo</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="table-row-gap">
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>3) What is the maximum amount of equity you would give away before this date?</label></td>
                            </tr>
                            <tr>
                                <td>
                                    <select>
                                        <option value="volvo">Volvo</option>
                                        <option value="polpo">PolPo</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="table-row-gap">
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>4) What type does your business provide?</label></td>
                            </tr>
                            <tr>
                                <td>
                                    <select>
                                        <option value="volvo">Volvo</option>
                                        <option value="polpo">PolPo</option>
                                    </select>
                                </td>
                            </tr>
                            <tr class="table-row-gap">
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>5) Has your business made profit in past 6 months?</label></td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" name="qProfit" value="yes" checked="checked" /><label>Yes</label>
                                    <input type="radio" name="qProfit" value="No" /><label>No</label></td>
                            </tr>
                            <tr class="table-row-gap">
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>6) Which way do you expect to grow:</label></td>
                            </tr>
                            <tr>
                                <td>
                                    <select>
                                        <option value="volvo">Volvo</option>
                                        <option value="polpo">PolPo</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <br />
                        <br />
                        <br />
                        <div class="button-level1" style="width: 100px; float: right; margin: 5px">
                            <div class="border"><a href="#" onclick="next(3)">Next</a></div>
                        </div>
                        <div class="button-level1" style="width: 100px; float: right; margin: 5px">
                            <div class="border"><a href="#" onclick="back(3)">Back</a></div>
                        </div>
                    </div>
                    <!-- Step Four -->

                    <div class="milestone-step" id="step-4">
                        <div>
                            <br />
                            <p>
                                <span style="font-weight: bold">Financials:  </span>
                                In order to issue securities to investors we need you to share just a few of your historical financials with us that you can easily gather from your tax returns. The best projections and highest RT Grade comes from more data. Meaning if you give us 5 years worth of financials you get a better grade and more importantly better projections. This will help us suggest the most effective terms for your offering. You can proceed with the following section once you get your tax returns.
                                Need more information - <a href="">go here.</a>
                            </p>
                            <br />
                            <div><a href="#" class="tooltip-trigger"><b>Show Example?</b></a></div>
                            <div class="tooltip">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                            <br />
                        </div>
                        <div class="milestone-bg">
                            <table id="milestone-creation-table-step4" class="milestone-table milestone-table-large">
                                <tr id="Tr3">
                                    <td>
                                        <label>US DOLLARS</label>

                                    </td>
                                    <td>
                                        <label>2012 *</label>

                                    </td>
                                    <td>
                                        <label>2011</label>

                                    </td>
                                    <td>
                                        <label>2010</label>

                                    </td>
                                    <td>
                                        <label>2009</label>

                                    </td>
                                    <td>
                                        <label>2008</label>

                                    </td>
                                </tr>
                                <tr id="Tr4">
                                    <td>
                                        <label>Revenue</label></td>
                                    <td>
                                        <input id="txt_revenue_2012" type="text" /></td>
                                    <td>
                                        <input id="txt_revenue_2011" type="text" /></td>
                                    <td>
                                        <input id="txt_revenue_2010" type="text" /></td>
                                    <td>
                                        <input id="txt_revenue_2009" type="text" /></td>
                                    <td>
                                        <input id="txt_revenue_2008" type="text" /></td>
                                </tr>
                                <tr id="Tr5">
                                    <td>
                                        <label>COGS as % of Revenue</label></td>
                                    <td>
                                        <input id="txt_COGS_2012" type="text" /></td>
                                    <td>
                                        <input id="txt_COGS_2011" type="text" /></td>
                                    <td>
                                        <input id="txt_COGS_2010" type="text" /></td>
                                    <td>
                                        <input id="txt_COGS_2009" type="text" /></td>
                                    <td>
                                        <input id="txt_COGS_2008" type="text" /></td>
                                </tr>
                                <tr id="Tr6">
                                    <td>
                                        <label>SG&A Expenses</label></td>
                                    <td>
                                        <input id="txt_SG&A_2012" type="text" /></td>
                                    <td>
                                        <input id="txt_SG&A_2011" type="text" /></td>
                                    <td>
                                        <input id="txt_SG&A_2010" type="text" /></td>
                                    <td>
                                        <input id="txt_SG&A_2009" type="text" /></td>
                                    <td>
                                        <input id="txt_SG&A_2008" type="text" /></td>
                                </tr>
                                <tr style="height: 40px">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>

                        <div>
                            <br />
                            <br />
                            <h3>Revenue Trades Projection</h3>
                            <p>
                                We have calculated your projections based on your historical data. For more information go <a href="#">here</a>.
                            </p>
                            <p>
                                <a href="#">Historical</a> |
                            <a href="#">Worst</a> |
                            <a href="#">Likely</a> |
                            <a href="#">Reach</a>
                            </p>
                            <div class="milestone-bg">
                                <table id="milestone-creation-table-step4a" class="milestone-table milestone-table-large">
                                    <tr id="Tr7">
                                        <td>
                                            <label>US DOLLARS</label>

                                        </td>
                                        <td>
                                            <label>2013</label>

                                        </td>
                                        <td>
                                            <label>2014</label>

                                        </td>
                                        <td>
                                            <label>2015</label>

                                        </td>
                                    </tr>
                                    <tr id="Tr8">
                                        <td>
                                            <label>Revenue</label></td>
                                        <td>
                                            <label>value</label></td>
                                        <td>
                                            <label>value</label></td>
                                        <td>
                                            <label>value</label></td>

                                    </tr>
                                    <tr id="Tr9">
                                        <td>
                                            <label>COGS as % of Revenue</label></td>
                                        <td>
                                            <label>value</label></td>
                                        <td>
                                            <label>value</label></td>
                                        <td>
                                            <label>value</label></td>

                                    </tr>
                                    <tr id="Tr10">
                                        <td>
                                            <label>SG&A Expenses</label></td>
                                        <td>
                                            <label>value</label></td>
                                        <td>
                                            <label>value</label></td>
                                        <td>
                                            <label>value</label></td>

                                    </tr>
                                    <tr style="height: 40px">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <div class="button-level1" style="width: 100px; float: right; margin: 5px">
                            <div class="border"><a href="#" onclick="next(4)">Next</a></div>
                        </div>
                        <div class="button-level1" style="width: 100px; float: right; margin: 5px">
                            <div class="border"><a href="#" onclick="back(4)">Back</a></div>
                        </div>
                    </div>
                    <!-- Step Five -->

                    <div class="milestone-step" id="step-5">
                        <div>
                            <br />
                            <p>
                                <span style="font-weight: bold">Calculator: </span>
                                The Goal of the Securities Calculator is to show you what you are offering and then You can determine if this Raise is Worth it to your Business. Based on historical finances we have calculated your Revenue Trades valuation for your business. In addition based on your answers in Track section we have suggested a trigger, interest rate, and discount rate ranges to meet you overall goals. You are able select a rate within the suggested ranges to calculate the offer. If you choose to go outside of the ranges - then investors will need an explanation of your reasoning.
                            </p>
                            <br />
                        </div>
                        <div>
                            <select id="Select2">
                                <option>Polpo</option>
                                <option>Volvo</option>
                                <option>Tolto</option>
                                <option>Molmo</option>
                            </select>
                        </div>
                        <label style="font-weight: normal; font-size: large; margin-left: 25px">EBIDTA:</label>
                        <div style="float: left; margin: 10px"><a href="#" class="tooltip-trigger"><b>?</b></a></div>
                        <div class="tooltip">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                        <div style="font-weight: normal; font-size: 14px; margin-left: 25px; margin-top: 10px">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</div>

                        <div class="step5-container">
                            <div style="font-size: 14px; margin-top: 15px; width: 300px;">
                                Your Revenue Trades Valuation is <span style="font-weight: bold;">1.5</span>
                                <div style="float: right;"><a href="#" class="tooltip-trigger"><b>?</b></a></div>
                                <div class="tooltip">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                            </div>

                            <br />
                            <div id="step5-column">

                                <div class="step5-left-half">
                                    <table id="milestone-creation-table-step5" class="no-border-table milestone-border">
                                        <tr>
                                            <td>1) Trigger
                                                <div style="float: right;"><a href="#" class="tooltip-trigger"><b>?</b></a></div>
                                                <div class="tooltip">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input id="txt_trigger" type="text" /></td>
                                        </tr>
                                        <tr>
                                            <td>2) Interest Rate
                                                <div style="float: right;"><a href="#" class="tooltip-trigger"><b>?</b></a></div>
                                                <div class="tooltip">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input id="txt_interest" type="text" /></td>
                                        </tr>
                                        <tr>
                                            <td>3) Discount Rate
                                                <div style="float: right;"><a href="#" class="tooltip-trigger"><b>?</b></a></div>
                                                <div class="tooltip">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input id="txt_discount" type="text" /></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="step5-right-half">


                                    <div class="step5-middle-column">
                                        <h5>Terms</h5>
                                        <table class="step5-column-table milestone-border">
                                            <tr>
                                                <td>Amount of Equity:</td>
                                                <td>20%</td>
                                            </tr>
                                            <tr>
                                                <td>Worth/Value:</td>
                                                <td>$100K</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="step5-right-column">
                                        <h5>Company Valuation</h5>
                                        <table class="step5-column-table milestone-border">
                                            <tr>
                                                <td>Today:</td>
                                                <td>$600K</td>
                                            </tr>
                                            <tr>
                                                <td>Conversion Date:</td>
                                                <td>$750K</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <br />
                                    <div class="step5-buttons">
                                        <input type="button" name="step-5" value="Save Scenario" id="btn_scenario" onclick="save_scenario()" />
                                        <input type="button" name="step-5" value="Email to Investor" id="btn_email" onclick="send_email()" />
                                        <input type="button" name="step-5" value="Show me big picture" id="btn_show" onclick="show_complete()" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <div class="button-level1" style="width: 100px; float: right; margin: 5px">
                            <div class="border"><a href="#" onclick="next(5)">Next</a></div>
                        </div>
                        <div class="button-level1" style="width: 100px; float: right; margin: 5px">
                            <div class="border"><a href="#" onclick="back(5)">Back</a></div>
                        </div>
                    </div>
                    <!-- Step Six -->

                    <div class="milestone-step" id="step-6">
                        <div>
                            <br />
                            <p>
                                <span style="font-weight: bold">Terms: </span>
                                Below please find the terms that you generated from our Securities Calculator. Review these terms. If you want to change them or evaluate other options go back to the Securities Calculator and try again. If you are satisfied with your terms - select the agreement terms and continue to view your milestone.
                            </p>
                            <br />
                            <h5>Terms: </h5>
                            <div style="width: 60%; margin: auto;">
                                <textarea cols="50" rows="15" id="txt_terms" style="font-size: 18px;">
                                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                </textarea>
                            </div>
                            <label><a href="#" id="edit_terms">Edit Terms</a></label>
                            <br />
                            <br />
                            <p>I agree to the terms Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <input type="radio" name="terms" value="yes" /><label>I Accept</label>
                        </div>
                        <br />
                        <br />
                        <br />
                        <div class="button-level1" style="width: 100px; float: right; margin: 5px">
                            <div class="border"><a href="#" onclick="next(6)">Next</a></div>
                        </div>
                        <div class="button-level1" style="width: 100px; float: right; margin: 5px">
                            <div class="border"><a href="#" onclick="back(6)">Back</a></div>
                        </div>
                    </div>
                    <!-- Step Seven -->

                    <div class="milestone-step" id="step-7">
                        <div>
                            <br />
                            <p>
                                <span style="font-weight: bold">Milestone: </span>
                                Review your proposed milestone. Remember that in order to receive any funds that are pledged on the platform you must complete your promised Achievement. Once you are satisfied with your Proposed Milestone click "Submit" and Revenue Trades will review your Milestone.
                            </p>
                            <br />
                            <h5>Proposed Milestones</h5>
                            <br />

                            <table class="step7-table milestone-border">
                                <tr>
                                    <td>
                                        <label>RAISE:</label></td>
                                    <td>Lorem Ipsum is simply dummy text
                                    <br />
                                        Lorem Ipsum is simply dummy text</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>ACHIEVEMENT:</label></td>
                                    <td>Lorem Ipsum is simply dummy text
                                    <br />
                                        Lorem Ipsum is simply dummy text</td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>TERMS:</label></td>
                                    <td>Lorem Ipsum is simply dummy text
                                    <br />
                                        Lorem Ipsum is simply dummy text</td>
                                </tr>
                            </table>
                            <br />
                            <br />
                            <div class="step7-bottom">
                                <h5>Current Revenue Trades grade: </h5>

                                <label>AB</label>
                                <div><a href="#" class="tooltip-trigger"><b>?</b></a></div>
                                <div class="tooltip">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <div style="width: 25%; float: right">
                            <div class="button-regular">
                                <div class="border"><a href="#">What Investors See</a></div>
                            </div>
                        </div>
                        <br />
                        <br />
                        <br />
                        <div class="button-level1" style="width: 100px; float: right; margin: 5px">
                            <div class="border"><a href="#">Submit</a></div>
                        </div>
                        <div class="button-level1" style="width: 100px; float: right; margin: 5px">
                            <div class="border"><a href="#" onclick="back(7)">Back</a></div>
                        </div>
                    </div>
                    <!-- Complete -->
                </div>

            </form>
            <br />
            <div style="font-size: smaller; text-align: center"><a href="#">Save and Exit</a></div>
        </div>
{% endblock %}