{% extends "base_rt.html" %}
{% load staticfiles %}
{% block css %}
		<link rel="stylesheet" type='text/css' media="all" href="{% static 'js/fancybox/jquery.fancybox-1.3.4.css' %}"/>
{% endblock %}
{% block scripts %}
	<script type="text/javascript" src="{% static 'js/jquery-ui-1.8.16.custom.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/my_accordion.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.focusover720.js' %}"></script>

<script type="text/javascript">
    var GoSquared={};
    GoSquared.acct = "GSN-861699-F";
    (function(w){
        function gs(){
            w._gstc_lt=+(new Date); var d=document;
            var g = d.createElement("script"); g.type = "text/javascript"; g.async = true; g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
            var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(g, s);
        }
        w.addEventListener?w.addEventListener("load",gs,false):w.attachEvent("onload",gs);
    })(window);
</script>
		<script language="javascript">
			$(function(){
				$('form').jqTransform({imgPath:"{% static 'static/js/jqtransformplugin/img/' %}"});
			});
		</script>
          
{% endblock %}
{% block content %}
				<div class="phrase">
					Raise Money For Your Business or<br>
					Invest & Guide them for Income
				</div>
				<div class="blue-button">
					<div class="button-level2"><div class="border"><a href="#" target="_self">What is Revenue Trades?</a></div></div>
					<div class="button-level2-arrow"></div>
				</div>
				<div class="vertical-accordion">
					<div class="highlightB">
						<div class="label-border">
							<div class="tab0 tab select">
								<div class="image" style="display: block;">
									<img src="{% static 'images/tab-0-content.jpg' %}" width="790" height="317" alt="Image">
								</div>
							</div>
							<div class="tab1 tab">
								<a href="#" target="_self" class="link">move faster with expErt support</a>
								<div class="image">
									<img src="{% static 'images/tab-1-content.jpg' %}" width="790" height="317" alt="Image">
								</div>
							</div>
							<div class="tab2 tab">
								<a href="#" target="_self" class="link">INVEST IN PROGRESS</a>
								<div class="image">
									<img src="{% static 'images/tab-2-content.jpg' %}" width="790" height="317" alt="Image">
								</div>
							</div>
							<div class="tab3 tab">
								<a href="#" target="_self" class="link">Share your Success</a>
								<div class="image">
									<img src="{% static 'images/tab-3-content.jpg' %}" width="790" height="317" alt="Image">
								</div>
							</div>
						</div>
					</div>
					<div class="paginator">
						<a href="#" target="_self" class="select">Introduction</a> | <a href="#" target="_self">1</a> | <a href="#" target="_self">2</a> | <a href="#" target="_self">3</a> 
					</div>
				</div>
				<div class="sign-up">
					<div class="boxstyle-E-wrap">
						<div class="boxstyle-E-tab">
							<div class="wrap"><div class="inside-border">Get Started Now</div></div>
						</div>
						<div class="boxstyle-E">
							<div class="inside-border">
								<div class="form-sign clearfix">
									<form action="/home/signup/step1/" method="POST">
									{% csrf_token %}
										<div class="rowElem clearfix">
											<label style="width: 105px; text-align: right;">My Email:</label>
											<input name="email_addr" type="text" value="me@MyDomain.com"/>
										</div>
										<div class="rowElem clearfix">
											<label style="width: 105px; text-align: right;">I would like to:</label> 
											<input type="radio" id="" name="question" value="Invest" checked ><label style="width: 65px; text-align: left;">Invest</label>
											<input type="radio" id="" name="question" value="Raise Money" ><label style="width: 110px; text-align: left;">Raise Money</label>
											<input type="radio" id="" name="question" value="Be an Expert" ><label style="width: 100px; text-align: left;">Be an Expert</label>
										</div>
										<div class="btn">
											<input class="blue" type="submit" value="SIGN UP FOR EARLY ACCESS" />
										</div> 
									</form>
								</div>
							</div>
						</div> <!-- ends boxstyle-E -->
					</div> <!-- ends boxstyle-E-wrap -->
				</div>
{% endblock %}
