<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

	<head>
		<title>Revenue Trades</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/stylecontrol.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/jqtransformplugin/jquery.jqtransform.js" ></script>
		<script language="javascript">
			$(function(){
				$('form').jqTransform({imgPath:'{{STATIC_URL}}js/jqtransformplugin/img/'});
			});
		</script>
		<style type="text/css">
			label { width: 100px; }
		</style>
		<link rel="stylesheet" href="{{STATIC_URL}}js/jqtransformplugin/jqtransform.css" type="text/css" media="all" />
		<link rel="stylesheet" type='text/css' media="all" href="{{STATIC_URL}}css/styles.css"/>
		<link rel="stylesheet" type='text/css' media="all" href="{{STATIC_URL}}css/styleguide-page.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/> <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug -->
	</head>
	
	<body class="style-guide">
		<div id="page-wrap">
		
		<div id="header">
			<h1>Revenue Trades</h1>
		</div>
		<div id="content">
			<div class="fxborder-tabsep">
				<h2 id="style-fonts-texts" class="tab"><a href="/login">Login</a></h2>
				<h2 id="style-fonts-texts" class="tab">Register</h2>
				<div class="bg"></div>
			</div>
			
			<div class="box460-left">
				<div id="schneidlermd-font" class="font-set">
					<h2>Register</h2>
					{% if form.non_field_errors %}
					<div class="form_errors">
						{% for err in form.non_field_errors %}
							<div class="form_error_message">{{ err }}</div>
						{% endfor %}
					</div>	
					{% endif %}
					<form action="." method="POST">
						{% csrf_token %}
						{% for hidden in form.hidden_fields %}
							{{ hidden }}
						{% endfor %}
						{% for field in form.visible_fields %}
							<div class="rowElem{% if field.errors %} field_error{% endif %}">
								{{ field.label_tag }}
								{{ field }}
								{% for err in field.errors %}
									<span class="error_message">{{ err }}</span>
								{% endfor %}
							</div>
						{% endfor %}
						<div class="rowElem">
							<label style="width: 100px;"></label>
							<input class="blue" type="submit" name="submit" value="register" />
						</div>
					</form>
				</div>
			</div>
			
			<hr class="clearfix">
			
		</div> <!-- END content -->
		
		<div id="footer">
			
		</div> <!-- END footer -->
		
		</div> <!-- END page-wrap -->
	</body>
	
</html>
