﻿{% extends "base2_rt.html" %}
{% load staticfiles %}
{% block scripts %}
    <link rel="stylesheet" type='text/css' media="all" href="{% static 'css/milestone-search.css' %}" />
    <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>-->
    <!--<script type="text/javascript" src="js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="js/stylecontrol.js"></script>
    <script type="text/javascript" src="js/rt_carousel.js"></script>
    <script type="text/javascript" src="js/jquery.ba-resize.min.js"></script>
    <script type="text/javascript" src="js/jqtransformplugin/jquery.jqtransform.js"></script>
    <script type="text/javascript" src="js/jquery.banner.js"></script>
    <script type="text/javascript" src="js/jquery.simplecms.js"></script>-->
    <script type="text/javascript" src="{% static 'js/jquery.menues.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('#all-wrap').jqTransform({ imgPath: "{% static 'js/jqtransformplugin/img/' %}" });
            $('#clear_chk_box').click(function (e) {
                e.preventDefault();
                $('#search-options a').removeClass("jqTransformChecked");
                $('#search-options input').removeAttr("checked");
            });
        });

    </script>
    <!-- Adding "maximum-scale=1" fixes the Mobile Safari auto-zoom bug -->
{% endblock %}
{% block header %}
        <div id="header">
            <div id="mainnav-fullwidth">
                <div class="navbar">
                    <h1 id="rtlogo"><a id="nav-main" class="navtab closed" href="#navtab-main">Start</a><a id="rt-text" href="/">Revenue Trades</a></h1>
                    <ul id="navtabs">
                        <li>
                            <a id="nav-biz2" href="/business">Businesses</a>
                        </li>
                        <li>
                            <a id="nav-exp2" href="/expert">Experts</a>
                        </li>
                    </ul>
                    <div id="nav-vault-logo" style="float: right;">
                        <a href="#">

                            <img src="{% static 'images/navtab_vault_off.png' %}" alt="Vault" border="0" style="margin-top: 3px;" />
                        </a>
                    </div>
                    <div class="clearfix">
                    </div>

                </div>
                <!-- END navbar: wraps all the navigation tabs -->
                <!-- ENDS navtab-wrap -->
            </div>
            <!-- ENDS mainnav -->

        </div>
        <!-- END header -->
        <div class="profile-header">
            <div id="user-tab">
                <div id="b-user-settings">
                    <h2 style="float: left; font-size: 16px; margin-top: 17px; margin-right: 5px;">Requests<a href="/home/requests"> ({{ rtuser.requests.count }} ) </a></h2>
                    <h3 style="margin-top: 17px;"><a href="/home/mail">
                        <img height="15px" src="{% static 'images/ui/mail-icon.png' %}" alt="message" /></a></h3>
                    <h3 style="margin-top: 16px;"><a href="/home/settings">
                        <img height="17px" src="{% static 'images/ui/setting-icon.png' %}" alt="setting" /></a></h3>
                    <h3><a href="#">{{ rtuser.first_name }}</a></h3>
                    <div class="user-thumbplus">
                        <a href="#user-settings">
                            <img src="{% static 'images/ui/usr_thumbplus_off.png' %}" width="50" height="50" alt="Username Settings">
                        </a>
                    </div>
                </div>
                <div id="user-settings">
                    <div class="border-left">
                    </div>
                    <ul>
                        <li>
                            <a href="/home/profile">My Profile(s)</a>
                        </li>
                        <li>
                            <a href="/home/account">My Account</a>
                        </li>
                        <li>
                            <a href="/home/settings">Settings</a>
                        </li>
                        <li>
                            <a href="/home/other_link">Other Link</a>
                        </li>
                    </ul>
                    <div class="border-right">
                    </div>
                </div>
                <!-- END user-settings tab -->
            </div>
            <!-- END user-tab -->
        </div>
{% endblock %}
{% block content %}
        <div style="margin-top: 30px;"></div>
        <div id="content-wrap" class="clearfix">
            <div id="content">
                <div id="search-column-left">
                    <div id="background">
                    </div>
                    <div id="search-heading">Discovery</div>
                    <div class="search-info" style="padding: 0px 20px;">Find new business to follow, experts to work with, or milestones to support.</div>
                    <div id="search-options">
                        <form method="post" action="/home/dosearch">
                        <label style="float: right; margin: 10px; margin-right: 20px; font-size: 14px; font-weight: bold;"><a href="#" id="clear_chk_box">Clear</a></label>
                        <br />
                        <div class="clearfix">
                        </div>
                        <div style="padding: 0px 20px;">
                            <div style="float: left; width: 140px;">
                                <label>Experts</label>
                                <br />
                                <label>Businesses</label>
                                <br />
                                <label>Live Milestones</label>
                            </div>
                            <div style="float: right; width: 30px; margin-top: -7px;">
                                <input type="checkbox" name="search-options" checked="" />

                                <input type="checkbox" name="search-options" checked="" />

                                <input type="checkbox" name="search-options" checked="" />
                            </div>
                        </div>

                        <div class="clearfix">
                        </div>
                        <div style="margin-top: 30px; padding: 0px 20px;">
									{{ business_type_form }}
                            <div class="clearfix">
                            </div>
                            <br />
									{{ business_stage_form }}
                            <div class="clearfix">
                            </div>
                            <br />
									{{ business_earning_form }}
                            <div class="clearfix">
                            </div>
                            <br />
									{{ business_raising_form }}
                            <div class="clearfix">
                            </div>
                            <br />
                            <br />
                            <input type="text" style="width: 200px;"  placeholder="Keyword Search"/>
                            <div class="clearfix">
                            </div>
                            <div class="button-level1" style="width: 100px; float: right; margin: 10px;">
                                <div class="border"><a href="#">Search</a></div>
                            </div>
                        </div>
						</form>
                    </div>
                </div>
                <div id="search-column-main">
                    <div class="search-column-main">
                        <div class="title">
                            <h3>{{ search_results.count }} Results in total</h3>
                        </div>
                        <!-- END title -->
                        {% for result in search_results %}
                        {% endfor %}
                        <h2>this is example content waiting for a listview to be derived</h2>
                        <div class="client-milestone">
                            <div class="list milestone-live">
                                <div class="a">
                                    <div class="image">
                                        <div class="highlightB clearfix">
                                            <div class="label-border clearfix">
                                                <img src="{% static 'images/dashboard-perfil.jpg' %}" width="96" alt="Profile">
                                            </div>
                                            <img src="{% static 'images/milestone-live.png' %}" class="milestone-live-ind" alt="Live milstone indicator"/>
                                        </div>
                                    </div>
                                    <!-- END image -->
                                    <div class="text">
                                        <div class="fila">
                                            <a href="#" class="tit blue">Wild “Bill” Hickok</a>
                                            <span>CEO, Founder</span>
                                            <span>Maketing Consulting, LLC</span>
                                        </div>
                                        <div class="fila-last">
                                            <span>Danny@marketingconsulting.com</span>
                                            <span>(917) 555.5555</span>
                                        </div>
                                    </div>
                                    <!-- END text -->
                                </div>
                                <div class="btn2">
                                    <div class="result-bubble">
                                        <label>Raising: </label><div class="value">$120,000</div>
                                        <br />
                                        <label>Offering: </label><div class="value">$120,000</div>
                                    </div>
                                </div>
                            </div>
                            <div class="list Expert">
                                <div class="a">
                                    <div class="image">
                                        <div class="highlightB clearfix">
                                            <div class="label-border clearfix">
                                                <img src="{% static 'images/dashboard-perfil.jpg' %}" width="96" alt="Profile">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END image -->
                                    <div class="text">
                                        <div class="fila">
                                            <a href="#" class="tit blue">Wild “Bill” Hickok</a>
                                            <span>CEO, Founder</span>
                                            <span>Maketing Consulting, LLC</span>
                                        </div>
                                        <div class="fila-last">
                                            <span>Danny@marketingconsulting.com</span>
                                            <span>(917) 555.5555</span>
                                        </div>
                                    </div>
                                    <!-- END text -->
                                </div>
                                <div class="btn2">
                                    <div class="result-bubble">
                                        <label>Raising: </label><div class="value">$120,000</div>
                                        <br />
                                        <label>Offering: </label><div class="value">$120,000</div>
                                    </div>
                                </div>
                            </div>
                            <div class="list milestone-live">
                                <div class="a">
                                    <div class="image">
                                        <div class="highlightB clearfix">
                                            <div class="label-border clearfix">
                                                <img src="{% static 'images/dashboard-perfil.jpg' %}" width="96" alt="Profile">
                                            </div>
                                            <img src="{% static 'images/milestone-live.png' %}" class="milestone-live-ind" alt="Live milstone indicator"/>
                                        </div>
                                    </div>
                                    <!-- END image -->
                                    <div class="text">
                                        <div class="fila">
                                            <a href="#" class="tit blue">Wild “Bill” Hickok</a>
                                            <span>CEO, Founder</span>
                                            <span>Maketing Consulting, LLC</span>
                                        </div>
                                        <div class="fila-last">
                                            <span>Danny@marketingconsulting.com</span>
                                            <span>(917) 555.5555</span>
                                        </div>
                                    </div>
                                    <!-- END text -->
                                </div>
                                <div class="btn2">
                                    <div class="result-bubble">
                                        <label>Raising: </label><div class="value">$120,000</div>
                                        <br />
                                        <label>Offering: </label><div class="value">$120,000</div>
                                    </div>
                                </div>
                            </div>
                            <div class="list Expert">
                                <div class="a">
                                    <div class="image">
                                        <div class="highlightB clearfix">
                                            <div class="label-border clearfix">
                                                <img src="{% static 'images/dashboard-perfil.jpg' %}" width="96" alt="Profile">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END image -->
                                    <div class="text">
                                        <div class="fila">
                                            <a href="#" class="tit blue">Wild “Bill” Hickok</a>
                                            <span>CEO, Founder</span>
                                            <span>Maketing Consulting, LLC</span>
                                        </div>
                                        <div class="fila-last">
                                            <span>Danny@marketingconsulting.com</span>
                                            <span>(917) 555.5555</span>
                                        </div>
                                    </div>
                                    <!-- END text -->
                                </div>
                                <div class="btn2">
                                    <!--<div class="result-bubble">
                                        <label>Raising: </label><div class="value">$120,000</div>
                                        <br />
                                        <label>Offering: </label><div class="value">$120,000</div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
