{% extends "base_rt.html" %}
{% load staticfiles %}
{% block scripts %}
{% endblock %}
{% block leftmenu %}
{% endblock %}
{% block content %}
			<div id="content" class="clearfix">
				<div id="steps">
					<div class="step3">
						<div class="back">
							<div class="tagB">
								<div class="label-border">
									<a href="#" target="_self">&laquo; Back</a>
								</div>
							</div>
						</div>
						<div class="paso1">
							Create a Profile
						</div>
						<div class="paso2">
							Verification
						</div>
						<div class="paso3">
							Professionals Details
						</div>
						<div class="complete">
							Account Complete
						</div>
					</div>
				</div>
				<div class="new-account">
					<div class="boxstyle-E-wrap" style="height: 1330px;">
						<div class="boxstyle-E-tab">
							<div class="wrap"><div class="inside-border">We need a little basic information to get started.</div></div>
						</div>
						<div class="boxstyle-E">
							<div class="inside-border clearfix" id="al">
								<form action="" method="get">
								<div class="apply-form">
                                  <div class="rowElem">
                                      <div class="rowleft">
                                          <label>Name <strong>*</strong>:</label>
                                          <input type="text" name="inputtext"/>
                                      </div>
                                  </div>
                                  <div class="rowElem">
                                      <div class="rowleft">
                                          <label>Revenue Trades Url <strong>*</strong>:</label>
                                          <input type="text" name="inputtext"/>
                                      </div>
                                      <div class="url">
                                          .RevenueTrades.com
                                      </div>
                                  </div>
                                  <div class="rowElem">
                                      <label>Industries you are interested in funding: <em>(Select all that apply)</em></label>
                                      <div class="industries">
                                          <div class="boxstyle-B clearfix">
                                              <div class="inside-border clearfix">
                                                  <select name="" size="4" multiple>
													<option value="Accounting/Finance">Accounting/Finance</option>
													<option value="Advertising/Public Relations">Advertising/Public Relations</option>
													<option value="Aerospace/Aviation">Aerospace/Aviation</option>
													<option value="Arts/Entertainment/Publishing">Arts/Entertainment/Publishing</option>
													<option value="Automotive">Automotive</option>
													<option value="Banking/Mortgage">Banking/Mortgage</option>
													<option value="Business Development">Business Development</option>
													<option value="Business Opportunity">Business Opportunity</option>
													<option value="Clerical/Administrative">Clerical/Administrative</option>
													<option value="Construction/Facilities">Construction/Facilities</option>
													<option value="Consumer Goods">Consumer Goods</option>
													<option value="Customer Service">Customer Service</option>
													<option value="Education/Training">Education/Training</option>
													<option value="Energy/Utilities">Energy/Utilities</option>
													<option value="Engineering">Engineering</option>
													<option value="Government/Military">Government/Military</option>
													<option value="Green">Green</option>
													<option value="Healthcare">Healthcare</option>
													<option value="Hospitality/Travel">Hospitality/Travel</option>
													<option value="Human Resources">Human Resources</option>
													<option value="Installation/Maintenance">Installation/Maintenance</option>
													<option value="Insurance">Insurance</option>
													<option value="Internet">Internet</option>
													<option value="Job Search Aids">Job Search Aids</option>
													<option value="Law Enforcement/Security">Law Enforcement/Security</option>
													<option value="Legal">Legal</option>
													<option value="Management/Executive">Management/Executive</option>
													<option value="Manufacturing/Operations">Manufacturing/Operations</option>
													<option value="Marketing">Marketing</option>
													<option value="Non-Profit/Volunteer">Non-Profit/Volunteer</option>
													<option value="Pharmaceutical/Biotech">Pharmaceutical/Biotech</option>
													<option value="Professional Services">Professional Services</option>
													<option value="QA/Quality Control">QA/Quality Control</option>
													<option value="Real Estate">Real Estate</option>
													<option value="Restaurant/Food Service">Restaurant/Food Service</option>
													<option value="Retail">Retail</option>
													<option value="Sales">Sales</option>
													<option value="Science/Research">Science/Research</option>
													<option value="Skilled Labor">Skilled Labor</option>
													<option value="Technology">Technology</option>
													<option value="Telecommunications">Telecommunications</option>
													<option value="Transportation/Logistics">Transportation/Logistics</option>
													<option value="Other">Other</option>
												</select>
                                              </div>
                                          </div> 
                                      </div>
                                      <div class="industries-btn">
                                          <input name="" type="button" value="&raquo;">
                                          <input name="" type="button" value="&laquo;">
                                      </div>
                                      <div class="industries">
                                          <div class="boxstyle-B clearfix">
                                              <div class="inside-border clearfix">
                                                  <select name="" size="4" multiple>
                                                      <option value="Item 1">Item 1</option>
                                                  </select>
                                              </div>
                                          </div> 
                                      </div>
                                  </div>
                                  <div class="rowElem">
                                      <label>Where are you located? <strong>*</strong>:</label>
                                      <input name="inputtext" type="text" />
                                      <em>Please enter a City and State</em>
                                  </div>
                                  <div class="rowElem">
                                      <label>In what stage of growth are the businesses you are interested in funding? <strong>*</strong>:</label>
                                      <select name="select">
                                          <option value="Option 1">$0 - Idea & Planning</option>
										  <option value="Option 2">$0 - Product or Service in Development</option>
										  <option value="Option 3">$0 - $49k of Revenue in the Last Year</option>
										  <option value="Option 4">$50k - $249k of Revenue in the Last Year</option>
										  <option value="Option 5">$250k - $499k of Revenue in the Last Year</option>
										  <option value="Option 6">$500k - $999k of Revenue in the Last Year</option>
										  <option value="Option 7">$1m - $2.9m of Revenue in the Last Year</option>
										  <option value="Option 8">$3m+ of Revenue in the Last Year</option>
                                      </select>
                                  </div>
								</div>
								<div class="apply-form2">
                                  <div class="rowElem">
                                      <input type="checkbox" name="chbox" id="" class="check">
                                      <label class="l-check">I agree to the Terms of Use and Privacy Statement.</label>
                                  </div>
                                  <div class="btn">
                                      <div class="floatright">
                                          <input name="" type="submit" value="GET STARTED">
                                      </div>
                                  </div>
								</div>
								</form>
							</div>
						</div> <!-- ends boxstyle-E -->
					</div> <!-- ends boxstyle-E-wrap -->
				</div>
			</div> <!-- ENDS content -->
{% endblock %}
{% block rightColumn %}
{% endblock %}
