{% extends "base_rt.html" %}
{% load staticfiles %}
{% block scripts %}
		<script type="text/javascript" src="{% static 'js/jquery.pwdMetter.js' %}" ></script>
		<script language="javascript">
			$(function(){
				$('#password').pwdMeter();
				
				$('#password').focus(function(){
					$('#pwdMeter').show();
				});
				$('#password').blur(function(){
					$('#pwdMeter').hide();
				});
			});
		</script>
		
{% endblock %}
{% block leftmenu %}
{% endblock %}
{% block content %}
		<div id="content-wrap" class="clearfix">
			<div id="content" class="clearfix">
				<div id="steps">
					<div class="step1">
						<div class="back">
							<div class="tagB">
								<div class="label-border">
									<a href="/login" target="_self">&laquo; Back</a>
								</div>
							</div>
						</div>
						<div class="paso1">
							Create a proper Profile
						</div>
						<div class="paso2">
							Verification
						</div>
						<div class="paso3">
							Professionals Details
						</div>
						<div class="complete">
							Account Complete
						</div>
					</div>
				</div>
				<div class="new-account">
					<div class="boxstyle-E-wrap">
						<div class="boxstyle-E-tab">
							<div class="wrap"><div class="inside-border">Create a new account for e-mail address {{ email_addr }}</div></div>
						</div>
						<div class="boxstyle-E">
							<div class="inside-border">
								<div class="form-sign clearfix">
									<form action="/home/signup/step2/" method="POST">
										{% csrf_token %}
										<div class="rowElem clearfix">
											<label style="width: 330px; text-align: right;">First Name:</label>
											<input name="first_name" type="text" value="ex@Michael"/>
										</div>
										<div class="rowElem clearfix">
											<label style="width: 330px; text-align: right;">Last Name:</label>
											<input name="last_name" type="text" value="ex. Smith"/>
										</div>
										<div class="rowElem clearfix" style="position:relative;">
											<label style="width: 330px; text-align: right;">Password:</label>
											<input name="password1" type="password" value="" placeholder="Password" id="password" />
											<div id="pwdMeter" class="neutral">Very Weak</div>
										</div>
										<div class="rowElem clearfix">
											<label style="width: 330px; text-align: right;">Repeat Password:</label>
											<input name="password2" type="password" placeholder="Repeat Password" />
										</div>
										<div class="btn">
											<div class="floatright">
												<input class="blue" type="submit" value="NEXT &raquo;" />
											</div>
										</div> 
									</form>
								</div>
							</div>
						</div> <!-- ends boxstyle-E -->
					</div> <!-- ends boxstyle-E-wrap -->
				</div>
			</div> <!-- ENDS content -->
		</div> <!-- ENDS content-wrap -->
{% endblock %}
{% block rightColumn %}
{% endblock %}
