{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
		<script type="text/javascript" src="{% static 'js/stylecontrol.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jqtransformplugin/jquery.jqtransform.js' %}" ></script>
		<script language="javascript">
			$(function(){
				$('form').jqTransform({imgPath:"{% static 'js/jqtransformplugin/img/' %}"});
			});
		</script>
		<link rel="stylesheet" href="{% static 'js/jqtransformplugin/jqtransform.css' %}" type="text/css" media="all" />
		<link rel="stylesheet" type='text/css' media="all" href="{% static 'css/lightbox-login.css' %}"/>
	</head>
	
<body>
<div class="signup-light">
	<div class="boxstyle-E-wrap">
		<div class="boxstyle-E">
			<div class="inside-border">
				<div class="form-sign clearfix">
					<h4 class="cta-headline">
						Only your email is needed to get started.
					</h4>
					<form action="/home/signup/step1/" method="POST" target="_parent">
					{% csrf_token %}
						<div class="rowElem clearfix">
							<label style="width: 65px; text-align: right;">My Email:</label>
							<input name="email_addr" type="text" value="me@MyDomain.com"/>
							<em>At this time Revenue Trades is only available in the United States.</em>
						</div>
						<div class="rowElem clearfix">
							<label style="width: 105px; text-align: right;">I would like to:</label> 
							<input type="radio" id="" name="user_type" value="Invest" checked ><label style="width: 65px; text-align: left;">Invest</label>
							<input type="radio" id="" name="user_type" value="Raise Money" ><label style="width: 110px; text-align: left;">Raise Money</label>
							<input type="radio" id="" name="user_type" value="Be an Expert" ><label style="width: 100px; text-align: left;">Be an Expert</label>
						</div>
						<div class="btn">
							<input class="blue" type="submit" value="REGISTER FOR FREE" />
						</div>
						<div class="txt">
							Already registered? 
								<a href="/login" target="_parent">Login</a>
						</div>
					</form>
				</div>
			</div>
		</div> <!-- ends boxstyle-E -->
	</div>
</div>
	<script type="text/javascript" src="{% static 'js/jquery-ui-1.8.16.custom.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/my_accordion.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.focusover720.js' %}"></script>
</body>
</html>