{% extends "base_rt.html" %}
{% load staticfiles %}
{% block scripts %}
{% endblock %}
{% block leftmenu %}
{% endblock %}
{% block content %}
			<div id="content" class="clearfix">
				<div id="steps">
					<div class="step1">
						<div class="back">
							<div class="tagB">
								<div class="label-border">
									<a href="/home/signup/step1" target="_self">&laquo; Back</a>
								</div>
							</div>
						</div>
						<div class="paso1">
							Create a Profile
						</div>
						<div class="paso2">
							Verification
						</div>
						<div class="paso3">
							Professionals Details
						</div>
						<div class="complete">
							Account Complete
						</div>
					</div>
				</div>
				<div class="new-account">
					<div class="boxstyle-E-wrap" style="height: 870px;">
						<div class="boxstyle-E-tab" id="wd">
							<div class="wrap"><div class="inside-border">What Services are you looking for?</div></div>
						</div>
						<div class="boxstyle-E">
							<div class="inside-border clearfix">
								<div class="profiles">
									<ul>
										<li class="profile">
											<a href="/home/signup/business/" target="_self">
												<span class="image">
													<img src="{% static 'images/profile1.jpg' %}" width="208" height="209" alt="Profile">
												</span>
												<span class="text">
													<h4 class="cta-headline">I AM A BUSINESS INTERESTED IN:</h4>
													<ul class="arrow-listB">
														<li>Funding My Project</li>
														<li>Connecting with VC's</li>
														<li>Receiving Expert Advice</li>
														<li>Resource Acquistion</li>
														<li>Channel Expansion</li>
														<li>Project Management</li>
													</ul>
												</span>
											</a>
										</li>
										<li class="profile">
											<a href="/home/signup/expert/" target="_self">
												<span class="image">
													<img src="{% static 'images/profile2.jpg' %}" width="208" height="210" alt="Profile">
												</span>
												<span class="text">
													<h4 class="cta-headline">I am an Expert interested in:</h4>
													<ul class="arrow-listB">
														<li>Assisting Business</li>
														<li>Procuring Services for Small business</li>
														<li>Introducing People</li>
														<li>Giving Advice</li>
													</ul>
												</span>
											</a>
										</li>
										<li class="profile">
											<a href="/home/signup/funder/" target="_self">
												<span class="image">
													<img src="{% static 'images/profile3.jpg' %}" width="208" height="210" alt="Profile">
												</span>
												<span class="text">
													<h4 class="cta-headline">I am a Funder interested in:</h4>
													<ul class="arrow-listB">
														<li>Investing Projects</li>
														<li>Connecting with Businesses</li>
													</ul>
												</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div> <!-- ends boxstyle-E -->
					</div> <!-- ends boxstyle-E-wrap -->
				</div>
			</div> <!-- ENDS content -->
{% endblock %}
{% block rightColumn %}
{% endblock %}
