{% extends "base_rt.html" %}
{% load staticfiles %}
{% block scripts %}
{% endblock %}
{% block leftmenu %}
{% endblock %}
{% block content %}
			<div id="content" class="clearfix">
				<div id="steps">
					<div class="step3">
						<div class="back">
							<div class="tagB">
								<div class="label-border">
									<a href="#" target="_self">&laquo; Back</a>
								</div>
							</div>
						</div>
						<div class="paso1">
							Create a Profile
						</div>
						<div class="paso2">
							Verification
						</div>
						<div class="paso3">
							Professionals Details
						</div>
						<div class="complete">
							Account Complete
						</div>
					</div>
				</div>
				<div class="new-account">
					<div class="boxstyle-E-wrap" style="height: 1330px;">
						<div class="boxstyle-E-tab">
							<div class="wrap"><div class="inside-border">We need a little basic information to get started.</div></div>
						</div>
						<div class="boxstyle-E">
							<div class="inside-border clearfix" id="al">
								<form action="/expert/profile/{{ rtentity.id }}/" method="POST">
										{% csrf_token %}
								<input type="hidden" name="initial" value="true"/>
								<div class="apply-form">
                                  <div class="rowElem">
                                      <div class="rowleft">
                                          <label>Name <strong>*</strong>: <em>(If operating as a business)</em></label>
                                          <input type="text" name="full_name" value="{{ full_name }}"/>
                                      </div>
                                  </div>
                                  <div class="rowElem">
                                      <div class="rowleft">
                                          <label>Revenue Trades Url <strong>*</strong>:</label>
                                          <input type="text" name="RT_URL"/>
                                      </div>
                                      <div class="url">
                                          .RevenueTrades.com
                                      </div>
                                  </div>
                                  <div class="rowElem">
                                      <label>Industries you operate in: <em>(Add all that apply)</em></label>
                                      <div class="industries">
                                          <div class="boxstyle-B clearfix">
                                              <div class="inside-border clearfix">
                                                  <select name="known_industries" id="known_industries" size="4" multiple>
                                                  {% for index, industry in industries %}
                                                      <option value="{{ industry }}">{{ industry }}</option>
                                                  {% endfor %}
                                                  </select>
                                              </div>
                                          </div> 
                                      </div>
                                      <div class="industries-btn">
												<div id="add_industry"><input name="add_industry" type="button" value="&raquo;"></div>
												<div id="remove_industry"><input name="remove_industry" type="button" value="&laquo;"></div>
                                      </div>
                                      <div class="industries">
                                          <div class="boxstyle-B clearfix">
                                              <div class="inside-border clearfix">
                                                  <select name="interested_industries" id="interested_industries" size="4" multiple>
                                                  </select>
                                              </div>
                                          </div> 
                                      </div>
                                  </div>
<script type="text/javascript" >

	sorter = function(a,b)
	{
		a = a['value'];
		b = b['value'];
		var c = a < b ? -1 : 1;
		return a == b ? 0: (a < b ? -1 : 1);
	}
	move_to_operating = function(event)
	{
		$('#known_industries option:selected').appendTo('#interested_industries').attr({selected: false});
		var tmp_options = $('#interested_industries option');
		tmp_options.sort(sorter);
		$('#interested_industries').empty().append(tmp_options);
		$('#interested_industries option').attr({selected: true});
	}
	$('#add_industry').mouseup(move_to_operating);
	move_from_operating = function(event)
	{
		$('#interested_industries option:selected').appendTo('#known_industries').attr({selected: false});
		var tmp_options = $('#known_industries option');
		tmp_options.sort(sorter);
		$('#known_industries').empty().append(tmp_options);
		$('#interested_industries option').attr({selected: true});
	}
	$('#remove_industry').mouseup(move_from_operating);
</script>
                                  <div class="rowElem">
                                      <label>Where are you located? <strong>*</strong>:</label>
                                      <input name="location" type="text" />
                                      <em>Please enter a City and State</em>
                                  </div>
                                  <div class="rowElem">
                                      <label>In what stage of growth are the businesses you would prefer to take on as clients? <strong>*</strong>:</label>
                                      <select name="stage_of_interest">
                                      {% for option, stage in development_stages %}
                                        	<option value="{{ option }}">{{ stage }}</option>
                                      {% endfor %}
                                      </select>
                                  </div>
								</div>
								<div class="apply-form2">
                                  <div class="rowElem">
                                      <input type="checkbox" name="visibility" id="" class="check">
                                      <label class="l-check">I would like this information visible to all Funders and Expert.</label>
                                  </div>
                                  <div class="rowElem">
                                      <input type="checkbox" name="TOUPS_agreement" id="" class="check">
                                      <label class="l-check">I agree to the Terms of Use and Privacy Statement.</label>
                                  </div>
                                  <div class="btn">
                                      <div class="floatright">
                                          <input name="" type="submit" value="GET STARTED">
                                      </div>
                                  </div>
								</div>
								</form>
							</div>
						</div> <!-- ends boxstyle-E -->
					</div> <!-- ends boxstyle-E-wrap -->
				</div>
			</div> <!-- ENDS content -->
{% endblock %}
{% block rightColumn %}
{% endblock %}
