{% extends "base_rt.html" %}
{% load staticfiles %}
{% block scripts %}
{% endblock %}
{% block leftmenu %}
{% endblock %}
{% block content %}
			<div id="content" class="clearfix">
				<div id="steps">
					<div class="step2">
						<div class="back">
							<div class="tagB">
								<div class="label-border">
									<a href="/home/signup/step2" target="_self">&laquo; Back</a>
								</div>
							</div>
						</div>
						<div class="paso1">
							Create a Profile
						</div>
						<div class="paso2">
							Verification
						</div>
						<div class="paso3">
							Professionals Details
						</div>
						<div class="complete">
							Account Complete
						</div>
					</div>
				</div>
				<div class="new-account">
					<div class="boxstyle-E-wrap">
						<div class="boxstyle-E-tab" id="wd">
							<div class="wrap"><div class="inside-border">Verify your details</div></div>
						</div>
						<div class="boxstyle-E">
							<div class="inside-border clearfix">
								<div class="profiles">
									<p style=" text-align: center;">You are about to connect with Funders, Businesses, and Experts. In order to assure the highest quality of service, we need to confirm that you are who you say you are. Connecting with LinkedIn will allow us to confirm your details quickly - and you'll get access to many additional features.</p>
									<p style=" text-align: center;"><em>We promise we will not sell or give away any of this information.</em></p>
									<div class="btn">
										<div class="floatleft">
											<img src="{% static 'images/btn-linkedin.jpg' %}" width="221" height="40" alt="Linkedin">
										</div>
										<div class="floatright">
											<div class="button-level1"><div class="border"><a href="/home/signup/details/">NEXT &raquo;</a></div></div>
										</div>
									</div> 
								</div>
							</div>
						</div> <!-- ends boxstyle-E -->
					</div> <!-- ends boxstyle-E-wrap -->
				</div>
			</div> <!-- ENDS content -->
{% endblock %}
{% block rightColumn %}
{% endblock %}
