{% extends "base_rt.html" %}
{% load staticfiles %}
{% block scripts %}
{% endblock %}
{% block leftmenu %}
{% endblock %}
{% block content %}
			<div id="content" class="clearfix">
				<div id="steps">
					<div class="step3">
						<div class="back">
							<div class="tagB">
								<div class="label-border">
									<a href="#" target="_self">&laquo; Back</a>
								</div>
							</div>
						</div>
						<div class="paso1">
							Create a Profile
						</div>
						<div class="paso2">
							Verification
						</div>
						<div class="paso3">
							Professionals Details
						</div>
						<div class="complete">
							Account Complete
						</div>
					</div>
				</div>
				<div class="new-account">
					<div class="boxstyle-E-wrap" style="height: 1330px;">
						<div class="boxstyle-E-tab">
							<div class="wrap"><div class="inside-border">We need a little basic information to get started.</div></div>
						</div>
						<div class="boxstyle-E">
							<div class="inside-border clearfix" id="al">
								<form action="/business/startup/" method="POST">
										{% csrf_token %}
								<div class="apply-form">
										<div class="rowElem">
											<div class="rowleft">
												<label>Business Name <strong>*</strong>:</label>
												<input type="text" name="business_name"/>
											</div>
										</div>
										<div class="rowElem">
											<div class="rowleft">
												<label>Revenue Trades Url <strong>*</strong>:</label>
												<input type="text" name="RT_URL"/>
											</div>
											<div class="url">
												.RevenueTrades.com
											</div>
										</div>
										<div class="rowElem">
											<label>Your business title or position:</label>
											<input name="title_or_position" type="text" />
										</div>
										<div class="rowElem">
											<span class="span">Are you the owner or main shareholder?</span>
											<div class="rowleft2">
												<input type="radio" id="" name="ownerP" value="yes" checked >
												<label class="l-check">YES</label>
											</div>
											<div class="rowleft2">
												<input type="radio" id="" name="ownerP" value="no" >
												<label class="l-check">No</label>
											</div>
										</div>
										<div class="rowElem">
											<label>Company website:</label>
											<input name="company_website" type="text" value="http://"/>
										</div>
										<div class="rowElem">
											<div class="rowleft">
												<label>Amount of funding you require for the next year:</label>
												<input type="text" name="desired_funding"/>
											</div>
											<div class="rowright">
												<label style="height: 41px;">Number of Employees:</label>
												<select name="number_of_employees">
													{% for option, stage in sizes %}
														  <option value="{{ option }}">{{ stage }}</option>
													{% endfor %}												</select>
												</select>
											</div>
										</div>
										<div class="rowElem">
											<label>Revenue your company generated in the past year:</label>
												<select name="last_year_revenue">
													{% for option, stage in development_stages %}
														  <option value="{{ option }}">{{ stage }}</option>
													{% endfor %}												</select>
										</div>
										<div class="rowElem">
											<label>Industries you operate in: <em>(Add all that apply)</em></label>
											<div class="industries">
												<div class="boxstyle-B clearfix">
													<div class="inside-border clearfix">
														<select name="known-industries" id="known_industries" size="4" multiple>
														  {% for index, industry in industries %}
															  <option value="{{ industry }}">{{ industry }}</option>
														  {% endfor %}
														</select>
													</div>
												</div> 
											</div>
											<div class="industries-btn">
												<div id="add_industry"><input name="add_industry" type="button" value="&raquo;"></div>
												<div id="remove_industry"><input name="remove_industry" type="button" value="&laquo;"></div>
											</div>
											<div class="industries">
												<div class="boxstyle-B clearfix">
													<div class="inside-border clearfix">
														<select name="operating_industries" id="operating_industries" size="4" multiple>
															<!--<option value="Item 1">Item 1</option>-->
														</select>
													</div>
												</div> 
											</div>
										</div>
<script type="text/javascript" >

	sorter = function(a,b)
	{
		a = a['value'];
		b = b['value'];
		var c = a < b ? -1 : 1;
		return a == b ? 0: (a < b ? -1 : 1);
	}
	move_to_operating = function(event)
	{
		$('#known_industries option:selected').appendTo('#operating_industries').attr({selected: true});
		var tmp_options = $('#operating_industries option');
		tmp_options.sort(sorter);
		$('#operating_industries').empty().append(tmp_options);
		$('#operating_industries').find('option').attr('selected','selected');
	}
	$('#add_industry').mouseup(move_to_operating);
	move_from_operating = function(event)
	{
		$('#operating_industries option:selected').appendTo('#known_industries').attr({selected: false});
		var tmp_options = $('#known_industries option');
		tmp_options.sort(sorter);
		$('#known_industries').empty().append(tmp_options);
		$('#operating_industries').find('option').attr('selected','selected');
	}
	$('#remove_industry').mouseup(move_from_operating);
</script>
								</div>
								<div class="apply-form2">
									<div class="rowElem">
										<input type="checkbox" name="visibility" id="" class="check">
										<label class="l-check">I would like this information visible to all Funders and Expert.</label>
									</div>
									<div class="rowElem">
										<input type="checkbox" name="TOUPS_agreement" id="" class="check">
										<label class="l-check">I agree to the Terms of Use and Privacy Statement.</label>
									</div>
									<div class="btn">
										<div class="floatright">
											<input name="" type="submit" value="GET STARTED">
										</div>
									</div>
								</div>
								</form>
							</div>
						</div> <!-- ends boxstyle-E -->
					</div> <!-- ends boxstyle-E-wrap -->
				</div>
			</div> <!-- ENDS content -->
{% endblock %}
{% block rightColumn %}
{% endblock %}
