<DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
   <html>
   
       <head>
           <title>Revenue Trades</title>
           <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
           <style type="text/css">
               label { width: 100px; }
          </style>
      </head>
  
      <body class="style-guide">
          <div align="center">
          <h2>You didn't permission access to your profile. Please go to the link below.</h2>
		<a href='{{ proc_link }}'>Start the linked in profile process</a>
          </div>
              
      </body>
      
  </html>
