<DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
   <html>
   
       <head>
           <title>Revenue Trades</title>
           <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
           <style type="text/css">
               label { width: 100px; }
          </style>
      </head>
  
      <body class="style-guide">
  
          <div align="center">
              <table>
                {% if previous_data%}
                <tr><td><h2><b>Info for Previous User</b></h2></td></tr>
                  {% for key, value in  previous_data.items  %}
                  <tr><td><b>{{ key }}</b> : {{ value }}</td></tr>
                  {% endfor %}
                {% endif %}
                <tr><td><h2><b>Info for Current User</b></h2></td></tr>
                  {% for key, value in  data.items  %}
                  <tr><td><b>{{ key }}</b> : {{ value }}</td></tr>
                  {% endfor %}
              </table>
          </div>

          <div>
            <h2><a href='{% url "django.contrib.auth.views.logout" %}'>Logout</a></h2>
          </div>
              
      </body>
      
  </html>
