<DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
   <html>
   
       <head>
           <title>Revenue Trades</title>
           <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
           <style type="text/css">
               label { width: 100px; }
          </style>
      </head>
  
      <body class="style-guide">
  
          <div align="center">
              <table>
                {% if data%}
                <tr><td><h2><b>Here is all available data</b></h2></td></tr>
                  {% for obj in  data %}
                  	{% for key, value in  obj.items %}
                  		<tr><td><b>{{ key }}</b> : {{ value }}</td></tr>
                  	{% endfor %}
                  {% endfor %}
                {% else %}
                	<tr><td><h2><b>No data to display</b></h2></td></tr>
                {% endif %}
              </table>
          </div>

          <div>
            <h2><a href='{% url "django.contrib.auth.views.logout" %}'>Logout</a></h2>
          </div>
              
      </body>
      
  </html>
